<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/login}">
<!-- gnb fragment -->
<div layout:fragment="membersContent" class="col p-5 border rounded"
	id="loginForm">

	<h2 class="text-center pb-4">
		<img src="imgs/logo_pie_color.png" alt="" width="80"
			class="d-inlineblock" />
	</h2>

	<div class="row">
		<div class="col">
			<div class="alert alert-danger" role="alert"
				th:if="${param.error!=null}" th:text="${param.exception}"></div>
		</div>
	</div>
	<div class="row">
		<div class="col py-5">

				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<p class="lead" th:if="${msg==1}">
							고객님의 ID는 <span th:text="${id}"></span> 입니다.
						</p>

						<p class="lead" th:if="${msg==0}">입력한 정보와 일치하는 회원이 존재하지 않습니다.</p>

						<p class="lead" th:if="${msg==2}">비밀번호가 변경되었습니다. 다시 로그인해주세요.</p>

						<a href="login" class="btn btn-outline-primary">로그인화면</a> <a
							th:if="${msg==1}" href="findPW" class="btn btn-outline-primary">비밀번호찾기</a>
					</div>
				</div>

		</div>
	</div>







</div>
</html>