<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{pieFragments/head::head}" />
<body>
	<!--<h1>Bootstrap 기본설정완료</h1>-->
	<div id="wrapper" class="container-fluid p-0 pie-otherGnbStyled2">
		<header>
			<div th:replace="~{pieFragments/gnb::gnb}" />
			<div class="container-fluid p-0">
				<div class="row pie-title" id="shareServiceTitle">
					<div class="col p-0 d-flex justify-content-center align-items-center">
						<div class="text-center mt-5 pt-3 text-white">
							<h1 class="font-weight-bold">기업신청 게시판</h1>
							<p>
								<small>파이에 판매하고 싶은 상품을 신청해주세요</small><br /> <small>내부 검토 진행 후 승인시 공구가 진행됩니다</small>
							</p>
						</div>
					</div>
				</div>
				<!--row-->
			</div>
		</header>

		<main>
			<section class="pie-section-py">
				<div class="row justify-content-center px-4 mt-5 no-gutters">
					<div layout:fragment="applyFormContent"></div>
				</div>
			</section>
		</main>
		<!-- ###############################################
				footer #footer - footer 영역
		############################################### -->

		<div th:replace="~{pieFragments/footer::footer}" />
	</div>
	

</body>

</html>