<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{pieFragments/head::head}" />

<body>
	<!--<h1>Bootstrap 기본설정완료</h1>-->
	<div id="wrapper" class="container-fluid p-0">
		<header>
			<div th:replace="~{pieFragments/gnb::gnb}" />
			<div th:replace="~{pieContents/chatting/chatTitle::title}" />
		</header>

		<main>
			
			
			
			
			<section class="pie-section-py">
				
				<div class="row justify-content-center px-4 mt-5 no-gutters">
					<div layout:fragment="roomContent"></div>
				</div>
				
				<div class="row justify-content-center px-4 mt-5 no-gutters">
					<div layout:fragment="chatContent"></div>
				</div>
				
			</section>
			
			
			
			
			
			
		</main>
		<!-- ###############################################
				footer #footer - footer 영역
		############################################### -->

		<div th:replace="~{pieFragments/footer::footer}" />
	</div>

</body>
</html>