<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/boardForm}">
<head>
<!-- include summernote css/js -->
<link
	href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css"
	rel="stylesheet">
</head>


<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="formContent" class="col">
	<!--------------------------------게시글 타이틀-------------------------------->
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<div class="row">
			<div class="col">





				<form action="busApply" enctype="multipart/form-data" method="post" name="townForm">
				

					<div class="form-group">
						<input type="text" class="form-control" id="bus_title" placeholder="제목" name="bus_title">
					</div>
					
					
					
					
					<!-- 이거는 다시보자 -->
					<div class="form-group d-flex">
					
						<label for="file">
							<div class="btn-upload">
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
									<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
									<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
								</svg>
							</div>
						</label>
						
						<div class="file-uploadGroup"></div>
						<input type="file" name="to_pic[]" id="file" multiple onchange="addFile(event)"> <input type="hidden" name="to_files" id="files" />
					</div>
					
					
					
					
					
					<textarea id="summernote" name="bus_content"></textarea>
					
					<div class="text-right">
						<small>잔여 bytes :: </small>
						<small id="messagebyte">11</small>
						<small> / 2000</small>
					</div>
					
					
					
					<div class="form-group row pt-3">
					
					
						<div class="col-md-6 pt-3">
							
							<label for="bus_productName">
								<small class="pl-1">제품명</small>
							</label>
							
							<input
								type="number" class="form-control" id="" name="bus_productName" min="1" max="300" value="1">
						</div>
						
						 
						 
						 
						 <!-- 없애면 섬머노트사라져서 일단 d-none... -->
						<div class="col-md-6 pt-3 d-none">

							
							<div class="row">
							
								<div class="col-6">시작일(오늘)
								
									<input type="date" class="form-control" id="today" name="today" value = "" readonly>
								</div>
								
								<div class="col-6">마감일
									<input type="date" class="form-control" id="to_deadLine" name="to_deadLine">
								</div>
								
							</div>
							
							
						</div>
						
						
						
						
						
						
						
						
						
						
					</div>
					
					

					<div class="form-group row">
					
					
						<div class="col-md-6 pt-3">
							<label for="bus_maxqnt">
								<small class="pl-1">최대공급가능수량</small>
							</label>
							
							<input type="text" class="form-control" id="bus_maxqnt" name="bus_maxqnt">
						</div>
						
						
						<div class="col-md-6 pt-3">
						
							<label for="bus_unitPrice">
								<small class="pl-1">단위가격</small>
							</label>
							
							<input type="text" class="form-control" id="bus_unitPrice" name="bus_unitPrice">

						</div>
					</div>


					
					
					
					<hr />
					
					
					<!-- 회사정보 -->
					<div class="form-group row">
					
						
						<div class="col-md-6 pt-3">
						
							<label for="bus_name">
								<small class="pl-1">회사명</small>
							</label>
							
							<input type="text" class="form-control" id="bus_name" name="bus_name">

						</div>					
					
						<div class="col-md-6 pt-3">
						
							<label for="bus_num">
								<small class="pl-1">사업자번호</small>
							</label>
							
							<input type="text" class="form-control" id="bus_num" name="bus_num">

						</div>	
						
											
					</div>



					
					<!-- 이것도 다시보자 -->
					<div class="form-group pie-address row">
						<label for="postCode" class="col-sm-3 col-form-label">우편번호</label>
						<div class="col-sm-9">
							<div class="d-flex justify-content-between">
								<input type="text" class="form-control mr-1" id="postCode"
									placeholder="우편번호" name="postCode" onclick="findPostCode()"
									required> <input type="button" onclick="findPostCode()"
									value="우편번호 찾기" class="btn pie-btn-red">
							</div>
							<div class="invalid-feedback">우편번호를 입력해주세요.</div>
						</div>
			
					</div>
			
					<div class="form-group pie-address row">
						<label for="address_main" class="col-sm-3 col-form-label">주소</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="address_main"
								placeholder="주소" name="address_main" onclick="findPostCode()"
								required>
							<div class="invalid-feedback">주소를 입력해주세요.</div>
						</div>
			
					</div>
					<div class="form-group row">
						<label for="address_sub" class="col-sm-3 col-form-label">상세주소</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="address_sub"
								placeholder="상세주소" name="address_sub">
						</div>
			
					</div>
					
					
					
					
					
					<hr />
					
					
					
					
					<!-- 담당자 정보 -->
					<div class="form-group row">
					
					
					
						<div class="col-md-6 pt-3">
						
							<label for="bus_chargePerson">
								<small class="pl-1">담당자</small>
							</label>
							
							<input type="text" class="form-control" id="bus_chargePerson" name="bus_chargePerson">

						</div>	
						
						
						<div class="col-md-6 pt-3">
						
							<label for="bus_phone">
								<small class="pl-1">담당자 전화번호</small>
							</label>
							
							<input type="text" class="form-control" id="bus_phone" name="bus_phone">

						</div>							
						
											
					
					</div>
					
					
					<hr />
					
					
					<div class="form-group row">
						<div class="col">
							<label for="bus_password">
								<small class="pl-1">비밀번호</small>
							</label>
							
							<input type="text" class="form-control" id="bus_password" name="bus_password" placeholder="입력하신 전화번호는 찾을 수 없으니 신중하게 입력해주세요">
						</div>
					</div>					
					
								
								
					<div class="form-group row justify-content-center mt-5">
						<div class="col-sm-9">
							<button type="button" class="btn btn-block pie-btn-red" id="uploadBtn">등록</button>
						</div>
					</div>
					
					
					
				</form>
				
				
				
			</div>
		</div>
	</div>

	<!--게시글 로직 container-->
	<!--wrapper-->
	
	
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="js/PostCode.js"></script>
	
	
</div>

</html>