<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/applyboardForm}">

<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="applyFormContent" class="col">
	<!--------------------------------게시글 타이틀-------------------------------->
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<div class="row">
			<div class="col text-center">
				
				<h1 class="mb-3">파이공구 신청 게시판</h1>
				<div>파이에 참여하고 싶은 상품이 있으신가요?</div>
				<div>물품에 대한 정보를 남겨주시면 확인 후 피드백을 드려요</div>
				
				<div class="row mt-5">
					<div class="col">
						<button class="btn pie-btn-red">신청하기</button>
					</div>
				</div>
				
				<table class="table table-hover mt-5">
				
				
				  <thead>
				    <tr class="">
				      <th scope="col">번호</th>
				      <th scope="col">회사명</th>
				      <th scope="col">제목</th>
				      <th scope="col">작성일</th>
				    </tr>
				  </thead>
				  
				  
				  <tbody>
				  
				  
				    <tr th:each="list:${list}">
				      <th scope="row" th:text="${list.getBus_apply_num}"><span th:text="${list.getBus_apply_num}">1</span></th>
				      <td th:text="${list.getBus_name}">회사명</td>
                        <td>
                            <a href="javascript:void(0);"
                               onclick="checkPassword(this, document.getElementById('bus_password_${list.getBus_apply_num}').textContent)">
                                <span th:text="${list.getBus_title}" class="text-success">제목</span>
                            </a>
                        </td>
                        <td th:text="${list.getBus_writeDay}"></td>
                        <td id="bus_password_${list.getBus_apply_num}" th:text="${list.getBus_password}" style="display: none;"></td>
				    </tr>

				  </tbody>
				  
				  
				  
				</table>

			
			</div>
		</div>
	</div>
	


	<!--게시글 로직 container-->
	<!--wrapper-->
    <script>
        function checkPassword(element, correctPassword) {
            var inputPassword = prompt("비밀번호를 입력해주세요:");
            var bus_apply_num = element.parentNode.parentNode.getElementsByTagName('th')[0].textContent;
            if (inputPassword === correctPassword) {
                window.location.href = '/readApplyBoard?bus_apply_num=' + bus_apply_num;
            } else {
                alert("비밀번호가 틀렸습니다.");
            }
        }
    </script>

		
</div>

</html>