<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/applyboardForm}">

<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="applyFormContent" class="col">
	<!--------------------------------게시글 타이틀-------------------------------->
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<div class="row">
			<div class="col text-center">
				
				<h1 class="mb-3">파이공구 신청 게시판</h1>
				<div>파이에 참여하고 싶은 상품이 있으신가요?</div>
				<div>물품에 대한 정보를 남겨주시면 확인 후 피드백을 드려요</div>
				
				<div class="row mt-5">
					<div class="col text-right">
	                    <div class="col">
	                        <a class="btn pie-btn-red" th:href="@{/businessApplyForm}">신청하기</a>
	                    </div>
					</div>
				</div>
				
				<table class="table table-hover mt-5">
				
				
				  <thead>
				    <tr class="">
				      <th scope="col">번호</th>
				      <th scope="col">회사명</th>
				      <th scope="col">제목</th>
				      <th scope="col">작성일</th>
				    </tr>
				  </thead>
								  
								  
				<tbody>
				    <tr th:each="item, rowStat : ${list}" onclick="checkPassword(this, document.getElementById('bus_password_${item.getBus_apply_num()}').textContent)" role="button">
				        <th scope="row" th:text="${item.getBus_apply_num()}" class="bus_apply_num"> </th>
				        <td th:text="${item.getBus_name()}">회사명</td>
				        <td th:text="${item.getBus_title()}" class="text-success"></td>
				        <td th:text="${item.getBus_writeDay()}"></td>
				        <td id="bus_password_${item.getBus_apply_num()}" th:text="${item.getBus_password()}" style="display: none;"></td>
				    </tr>
				</tbody>
								  
								  
				  
				</table>

			
			</div>
		</div>
	</div>
	


	<!--게시글 로직 container-->
	<!--wrapper-->
	
	<script src="js/businessApply.js"></script>

		
</div>

</html>