<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/applyboardForm}">


<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="applyFormContent" class="col">
	<!--------------------------------게시글 타이틀-------------------------------->
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container border hj-radius-30 shadow p-5">
		<div class="row">
			<div class="col text-center">

                <!-- 게시글 목록 -->
                <div th:each="post : ${board}">
                
                
                   <!-- 게시글 제목 출력 -->
					<h3 th:text="${post.getBus_title()}" class="my-5">제목</h3>
					
                    <div class="row mb-5">
                    	<div class="col-12 offset-lg-8 col-lg-4 text-left text-center">
                    		<div>회사명 : <span th:text="${post.getBus_name()}" class=""></span></div>
                    		<div>사업자번호 : <span th:text="${post.getBus_num()}"></span></div>
                    		<div>주소 : <span th:text="${post.getBus_address_main()}"></span></div>
                    		<div>담당자 : <span th:text="${post.getBus_chargePerson()}"></span></div>
                    		<div>전화번호 : <span th:text="${post.getBus_phone()}"></span></div>
                    		<div>이메일 : <span th:text="${post.getBus_email()}"></span></div>
                    	</div>
                    	
                    </div>
                                        
                    <hr>
                    

            	 <div class="row">
                        <div class="col text-left mx-0 my-3 mx-lg-5">

                                    <!-- 게시글의 공구 신청 정보 출력 -->
                                    <div class="">제품명: <span th:text="${post.getBus_productName()}"></span></div>                      
                                    <div class="">공급가능수량: <span th:text="${post.getBus_maxqnt()}"></span></div>
                                    <div class="">개별단가: <span th:text="${post.getBus_unitPrice()}"></span></div>
                                            
                        </div>
                    </div>  

                    <div class="row">
                        <div class="col-12 text-left">

                   			<input type="hidden" name="bus_apply_num" id="h-input" th:value="${post.getBus_apply_num()}" />                       
                        
                            <!-- 게시글 내용 출력 -->
                            <div class="w-100 text-left px-0 px-lg-5">
                                <span th:utext="${post.getBus_content()}" class="hj-max-w100 text-break word-wrap"></span>
                            </div>
                        </div>
                        
                        
                    </div>


					<div class="row my-5">
					    <div class="col text-right">
					        <a class="btn btn-outline-secondary" th:href="'http://' + ${post.getBus_img()}" target="_blank"><small>사이트 확인하기</small></a>
					    </div>
					</div>
					
					
					
					
                    <hr>

       
 






		
					<div class="row mt-5">
												
						<ul class="">
						    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item dropdown btn">
						        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false"> 진행상태변경 </a>
						        <div class="dropdown-menu">
						            <a class="dropdown-item" id="1">진행중</a>
						            <a class="dropdown-item" id="2">승인</a>
						            <a class="dropdown-item" id="3">반려</a>
						        </div>
						    </li>     						
						</ul>  
						 	
						<div class="col text-right">
							 <a class="btn pie-btn-red" th:href="@{'businessApplyUpdateForm?bus_apply_num=' + ${board.get(0).getBus_apply_num()}}">수정</a>
							 <a class="btn pie-btn-red"th:href="@{'deletebusApply?bus_apply_num=' + ${board.get(0).getBus_apply_num()}}">삭제</a>
						</div>
					</div>
				</div>

	<!--게시글 로직 container-->
	<!--wrapper-->
	
	<script src="js/PostCode.js"></script>
	
	
</div>

</html>