<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/shareService}">

<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="shareServiceContent" class="col">
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<div class="row mb-3">
			<div class="col text-center">
				<h1>나의 쉐어메이트를 찾아보세요!</h1>
			</div> 
		</div>
		<div class="row justify-content-center">
			<div class="col pie-tab-box">
				<ul class="list-unstyled d-flex justify-content-between">
					<li style="cursor:pointer">#전체</li>
					<li style="cursor:pointer">#OTT서비스</li>
					<li style="cursor:pointer">#게임</li>
					<li style="cursor:pointer">#도서/음악</li>
				</ul>
			</div>
			<!--col-->
		</div>

		<div class="row mb-5 justify-content-center">
			<div class="col-md-8">
				<form action="shareServiceBoard" class="pie-search">
					<div class="dropdown" id="selectCategory">
						<a class="btn dropdown-toggle" href="#" role="button"
							data-toggle="dropdown" aria-expanded="false"> 카테고리 </a>
						<div class="dropdown-menu">
							<a class="dropdown-item" data-category="">전체</a>
							<a class="dropdown-item" data-category="OTT">OTT</a>
							<a class="dropdown-item" data-category="game">게임</a>
							<a class="dropdown-item" data-category="bookAndMusic">도서/음악</a>
						</div>
					</div>
					<input type="hidden" name ="category" id="Scategory" th:value="${param.category}"/>
					<input type="text" name="search" id="search" class="flex-fill"
						placeholder="검색">
					<button type="submit" id="searchBtn"></button>
				</form>
			</div>
			<!--col-->
		</div>
		<!--row-->
		<div class="row category jh-cards">
			<!--col-4-->
			<div th:if="${not #lists.isEmpty(list)}" th:each="board:${list}"
				th:attr="data-category=${board.getCategory()}"
				class="col-md-4 col-sm-12" style="cursor: pointer;">

				<!--등록 게시물이 있을 경우-->
				<a th:href="'boardList?num='+${board.getNum()}" class="card pie-radius overflow-hidden"
					style="cursor: pointer; text-decoration: none; color: black;"> <img
					th:src="@{'/imgs/test/' + ${board.getProductImg().substring(0,board.getProductImg().indexOf('/'))}}"
					class="card-img-top img-fluid" alt="..." height="300px">
					<div class="card-body">
						<small class="badge badge-secondary" th:if="${board.getProcess().equals('3')}">기간만료</small>						
						<small class="badge badge-warning" th:if="${board.getProcess().equals('2')}">모집중단</small>						
						<small class="badge badge-success" th:if="${board.getProcess().equals('1')}">모집진행중</small> 
						<small class="badge badge-danger" th:if="${board.getProcess().equals('0')}">모집완료</small>
						<h5 class="card-title mt-2">
							<b th:text="${board.getTitle()}" class="d-block text-truncate"></b>
						</h5>
						<p class="card-text">
							<small> <th:block th:if="${board.getTags()!=null}">
									<th:block th:each="i: ${#numbers.sequence(1, board.getTags()?.length - 1)}">
										<span class="badge badge-light" th:text="|#${board.getTags()[i]}|">#태그</span>
									</th:block>
								</th:block>
							</small>
						</p>
						<small th:text="${board.getCategory()}"></small>
						<small
							class="pie-writer"> <img
							th:src="@{'imgs/profiles/'+${board.getProfile_pic()}}" alt=""
							onerror="this.onerror=null; this.src='imgs/default.png';" style="width:30px; height:30px;" class="img-fluid"/> <span
							th:text="${board.getNickname()}"></span>
						</small>
					</div>
				</a>
			</div>
			<!--col-4-->
		</div>
		<!-- 등록된 게시물이 없을 경우 -->
		<div class="container" th:if="${#lists.isEmpty(list)}">
			<div class="row">
				<div class="col-12 p-5 alert-danger text-center">
					<h2>아직 등록된 게시물이 없습니다 !</h2>
				</div>
			</div>
		</div>
		<!--게시글 row-->
		<div class="container text-center mb-3 mt-5">
			<div class="row">
				<div class="col-12 btn btn-block border" id="load">
					<div class="">
						<span> 더보기 <svg xmlns="http://www.w3.org/2000/svg"
								width="10" height="10" fill="currentColor"
								class="bi bi-caret-down-fill" viewBox="0 0 16 16">
								<path
									d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
							</svg>
						</span>
					</div>
				</div>
			</div>
			<!--더보기 col-->
		</div>
		<!--더보기 row-->
	</div>
	<div class="container">
		<a href="writePost" class="btn pie-btn-red">글작성</a>
	</div>
	<!--container-->
	<!--wrapper-->
<script>
$(document).ready(function() {
	let categories = $(".pie-tab-box ul li");
    let shaerHeader = $("#shareServiceTitle");
    let categorySel = $("#selectCategory");
    let dropdown = categorySel.find(".dropdown-menu");
    let selectInit = $("#selectCategory .dropdown-toggle");
    let card = $(".col-md-4");
    let strCard = ".col-md-4:hidden";
    let tag=$(".pie-tab-box ul li");
    tag.css("cursor:pointer");
    
    if ($("#Scategory").val() === "OTT") {
        selectInit.text("OTT");
    } else if ($("#Scategory").val() === "game") {
        selectInit.text("게임");
    } else if ($("#Scategory").val() === "bookAndMusic") {
        selectInit.text("도서/음악");
    } else {
        $("#Scategory").val("");
    }

    
    $(".dropdown-item").click(function() {
        // 클릭된 항목의 data-category 값을 가져옴
        var selectedCategory = $(this).data("category");
        
        // 숨겨진 input 요소의 값을 설정
        $("#Scategory").val(selectedCategory);
    });


    card.hide();
    card.slice(0, 6).show();

    categories.click(function () {
        var idx = $(this).index();
        dropdown.empty(); // 카테고리를 클릭할 때마다 드롭다운 메뉴 초기화

        if (idx === 0) {
            location.href = "/shareServiceBoard";
        } else if (idx === 1) {
            location.href = "/shareServiceBoard?category=OTT&search=";
        } else if (idx === 2) {
            location.href = "/shareServiceBoard?category=game&search=";
        } else if (idx === 3) {
            location.href = "/shareServiceBoard?category=bookAndMusic&search=";
        }
    });

    // 현재 URL에서 쿼리 문자열 가져오기
    var queryString = window.location.search;
    // URLSearchParams 객체를 사용하여 쿼리 문자열 파싱
    var queryParams = new URLSearchParams(queryString);
    // num 매개변수의 값을 가져오기
    var numValue = queryParams.get('num');

    // 페이지 이동 후에도 카테고리 초기화 및 드롭다운 텍스트 변경
    if (numValue == 1) {
        location.href = "/shareServiceBoard?category=OTT&search=";
    } else if (numValue == 2) {
        location.href = "/shareServiceBoard?category=game&search=";
    } else if (numValue == 3) {
        location.href = "/shareServiceBoard?category=bookAndMusic&search=";
    }

    $(document).on(
        "click", ".dropdown-item", function () {
            selectInit.text($(this).text());
        }
    )

    $("#load").click(function (e) {
        e.preventDefault();
        if ($(strCard).length > 0) {
            $(strCard).slice(0, 3).show();
        } else if ($(strCard).length == 0) {
            alert("마지막 게시물입니다.");
        }
    });
});
</script>
</div>

</html>