<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/shareService}">

<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="shareServiceContent" class="col">
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<div class="row mb-3">
			<div class="col text-center">
				<h1>나의 쉐어메이트를 찾아보세요!</h1>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col pie-tab-box">
				<ul class="list-unstyled d-flex justify-content-between">
					<li>#전체</li>
					<li>#OTT서비스</li>
					<li>#게임</li>
					<li>#도서/음악</li>
				</ul>
			</div>
			<!--col-->
		</div>

		<div class="row mb-5 justify-content-center">
			<div class="col-md-8">
				<form action="searchTitle" class="pie-search">
					<div class="dropdown" id="selectCategory">
						<a class="btn dropdown-toggle" href="#" role="button"
							data-toggle="dropdown" aria-expanded="false"> 카테고리 </a>
						<div class="dropdown-menu"></div>
					</div>
					<input type="text" name="search" id="search" class="flex-fill"
						placeholder="검색">
					<button type="submit" id="searchBtn"></button>
				</form>
			</div>
			<!--col-->
		</div>
		<!--row-->
		<div class="row category jh-cards">
			<!--col-4-->
			<div th:if="${not #lists.isEmpty(list)}" th:each="board:${list}"
				th:attr="data-category=${board.getSh_category()}"
				class="col-md-4 col-sm-12" style="cursor: pointer;">

				<!--등록 게시물이 있을 경우-->
				<a th:href="'boardList?num='+${board.getSh_num()}" class="card"
					style="cursor: pointer; text-decoration: none; color: black;"> <img
					th:src="@{'/imgs/test/' + ${board.getSh_productImg().substring(0,board.getSh_productImg().indexOf('/'))}}"
					class="card-img-top img-fluid" alt="..." height="300px">
					<div class="card-body">
						<small class="badge badge-success" th:if="${board.getSh_process().equals('1')}">모집진행중</small> 
						<small class="badge badge-danger" th:if="${board.getSh_process().equals('0')}">모집완료</small>
						<h5 class="card-title mt-2">
							<b th:text="${board.getSh_title()}"></b>
						</h5>
						<p class="card-text">
							<small> <th:block th:if="${board.getSh_tags()!=null}">
									<th:block th:each="i: ${#numbers.sequence(1, board.getSh_tags()?.length - 1)}">
										<span class="badge badge-light" th:text="|#${board.getSh_tags()[i]}|">#태그</span>
									</th:block>
								</th:block>
							</small>
						</p>
						<small th:text="${board.getSh_category()}"></small>
						<small
							class="pie-writer"> <img
							th:src="@{'imgs/profiles/'+${board.getSh_profileImg()}}" alt=""
							onerror="this.onerror=null; this.src='imgs/default.png';" style="width:30px; height:30px;" class="img-fluid"/> <span
							th:text="${board.getSh_nickname()}"></span>
						</small>
					</div>
				</a>
			</div>
			<!--col-4-->
		</div>
		<!-- 등록된 게시물이 없을 경우 -->
		<div class="container" th:if="${#lists.isEmpty(list)}">
			<div class="row">
				<div class="col-12 p-5 alert-danger text-center">
					<h2>아직 등록된 게시물이 없습니다 !</h2>
				</div>
			</div>
		</div>
		<!--게시글 row-->
		<div class="container text-center mb-3 mt-5">
			<div class="row">
				<div class="col-12 btn btn-block border" id="load">
					<div class="">
						<span> 더보기 <svg xmlns="http://www.w3.org/2000/svg"
								width="10" height="10" fill="currentColor"
								class="bi bi-caret-down-fill" viewBox="0 0 16 16">
								<path
									d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
							</svg>
						</span>
					</div>
				</div>
			</div>
			<!--더보기 col-->
		</div>
		<!--더보기 row-->
	</div>
	<div class="container">
		<a href="writePost" class="btn custom-btn">글작성</a>
	</div>
	<!--container-->
	<!--wrapper-->

	<!--더보기 스크립트-->
	<script>
		$(function () {
			let categories = $(".pie-tab-box ul li");
			let shaerHeader = $("#shareServiceTitle");
			let categorySel = $("#selectCategory");
			let dropdown = categorySel.find(".dropdown-menu");
			categories.css("cursor", "pointer");
			let category=$(".col-md-4").data("category");

			let movies = ["넷플릭스", "유튜브", "왓챠", "티빙", "디즈니 플러스"];
			let game = ["닌텐도", "스팀", "xBOX"];
			let books = ["리디북스", "스포티파이", "yes24", "밀리"];

			let all = [];

			all.push(...movies);
			all.push(...game);
			all.push(...books);
			for (i = 0; i < all.length; i++) {
				dropdown.append('<a class="dropdown-item">' + all[i] + '</a>')
			}


			let selectInit = $("#selectCategory .dropdown-toggle");



			let card = $(".col-md-4");
			let strCard = ".col-md-4:hidden";

			card.hide();
			card.slice(0, 6).show();

			categories.click(function () {
				let movieCards = $(".col-md-4[data-category='OTT']");
				let gameCards = $(".col-md-4[data-category='게임']");
				let bookCards = $(".col-md-4[data-category='도서/음악']");
				let idx = $(this).index();
				let option = {};
				dropdown.empty();
				selectInit.text("카테고리");

				if (idx === 0) {
					option = {
						"background": "url(imgs/boong.jpg) center / cover no-repeat"
					};
					card = $(".col-md-4");
					strCard = ".col-md-4:hidden";

					card.hide();
					card.slice(0, 6).show();
					list = all;
				} else {
					$(".col-md-4").hide();

					if (idx === 1) {
						option = {
							"background": "url(imgs/netflix.png) center / cover no-repeat"
						};
						card = $(".col-md-4[data-category='OTT']");
						strCard = ".col-md-4[data-category='OTT']:hidden";

						movieCards.slice(0, 6).show();

						selectInit.text("OTT서비스");
						list = movies;
					} else if (idx === 2) {
						option = {
							"background": "url(imgs/nintendoOnline.jpeg) center / cover no-repeat"
						};

						card = $(".col-md-4[data-category='게임']");
						strCard = ".col-md-4[data-category='게임']:hidden";

						gameCards.slice(0, 6).show();

						selectInit.text("게임");
						list = game;
					} else if (idx === 3) {
						option = {
							"background": "url(imgs/milli.jpg) center / cover no-repeat"
						};

						card = $(".col-md-4[data-category='도서/음악']");
						strCard = ".col-md-4[data-category='도서/음악']:hidden";

						bookCards.slice(0, 6).show();

						selectInit.text("도서/음악");
						list = books;
					}
				}
				shaerHeader.addClass("selected").css(option);

				for (i = 0; i < list.length; i++) {
					dropdown.append('<a class="dropdown-item">' + list[i] + '</a>')
				}
			});

			$(document).on(
				"click", ".dropdown-item", function () {
					selectInit.text($(this).text());
				}
			)

			$("#load").click(function (e) {
				e.preventDefault();
				if ($(strCard).length > 0) {
					$(strCard).slice(0, 3).show();
				} else if ($(strCard).length == 0) {
					alert("마지막 게시물입니다.");
				}
			});
		})
	</script>

	<!--------------메인 페이지에서 해당하는 카테고리로 이동했을 경우-------------->
	<script>
	 // 현재 URL에서 쿼리 문자열 가져오기
    var queryString = window.location.search;
    // URLSearchParams 객체를 사용하여 쿼리 문자열 파싱
    var queryParams = new URLSearchParams(queryString);
    // num 매개변수의 값을 가져오기
    var numValue = queryParams.get('num');
    
	$('document').ready(function(){
		let selectInit = $("#selectCategory .dropdown-toggle");
		if(numValue==1){
			$(".col-md-4").hide();
			card = $(".col-md-4[data-category='OTT']");
			strCard = ".col-md-4[data-category='OTT']:hidden";

			card.slice(0, 6).show();

			selectInit.text("OTT서비스");
		}else if(numValue==2){
			$(".col-md-4").hide();
			card = $(".col-md-4[data-category='게임']");
			strCard = ".col-md-4[data-category='게임']:hidden";

			card.slice(0, 6).show();

			selectInit.text("게임");
		}else if(numValue==3){
			$(".col-md-4").hide();
			card = $(".col-md-4[data-category='도서/음악']");
			strCard = ".col-md-4[data-category='도서/음악']:hidden";

			card.slice(0, 6).show();

			selectInit.text("도서/음악");
		}
		$("#load").click(function (e) {
            e.preventDefault();
            if (numValue === '1') {
            	 // OTT 이외의 카테고리 숨김
                $(".col-md-4:not([data-category='OTT']):visible").hide();
                if($(strCard).length>0){
                	$(strCard).slice(0, 3).show();
                }else if($(strCard).length==0){
                	alert("마지막 게시물입니다.");
                }
            } else if (numValue === '2') {
            	 // 게임 이외의 카테고리 숨김
                $(".col-md-4:not([data-category='게임']):visible").hide();
                if($(strCard).length>0){
                	$(strCard).slice(0, 3).show();
                }else if($(strCard).length==0){
                	alert("마지막 게시물입니다.");
                }
            } else if (numValue === '3') {
            	 // 도서/음악 이외의 카테고리 숨김
                $(".col-md-4:not([data-category='도서/음악']):visible").hide();
                if($(strCard).length>0){
                	$(strCard).slice(0, 3).show();
                }else if($(strCard).length==0){
                	alert("마지막 게시물입니다.");
                }
            }
        });
	})
	</script>
</div>

</html>