<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin}">
<!-------------------------------------------------------------->
<div layout:fragment="adminContent" class="col">

<div class="container-fluid p-0 mt-5 notice">
	<div class="page-title">
		<div class="container">
			<h3>결제 내역 관리</h3>
		</div>
	</div>
	<!-------------------------------------------------------------->
	<div id="board-search">
		<div class="container">
			<div class="search-window">
				<form action="searchBuyerName">
				<input type="hidden" name = "page" value="1" />
					<div class="search-wrap">
						<label for="search" class="blind">결제내역 검색</label> <input
							id="search" type="search" name="search" placeholder="검색어를 입력해주세요."
							value="">
						<button type="submit" class="btn btn-dark">검색</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-------------------------------------------------------------->
	<div id="board-list">
		<div class="container">
			<table class="board-table mt-1">
				<thead>
					<tr>
						<th scope="col" class="th-num">번호</th>
						<th scope="col" class="th-title">제목</th>
						<th scope="col" class="th-date">결제일</th>
						<th scope="col" class="th-num">구매자 ID</th>
						<th scope="col" class="th-num">구매자 이름</th>
						<th scope="col" class="th-date">결제수단 / 금액</th>
						<th scope="col" class="th-num">환불</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="list:${payList}">
						<tr>
							<td th:text="${list.getPay_num()}"></td>
							<td th:text="${list.getPay_name()}"></td>
							<td th:text="${list.getPay_date()}"></td>
							<td th:text="${list.getBuyer_nickname()}"></td>
							<td th:text="${list.getBuyer_name()}"></td>
							<td
								th:text="${list.getPay_method()}+' / '+${list.getPay_amount()}+'KRW'"></td>
							<td>
							<th:block th:if="${list.getPay_refund()==1}">
								<small class="badge badge-danger"> 
									<a href="https://admin.portone.io/payments" target="_blank">환불하기</a>
								</small>
							</th:block>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="row mt-5">
					<div class="col d-flex justify-content-center">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item"><a class="page-link"
									href="shareServiceApplyConsole?page=1" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
								</a></li>
								<th:block th:each="i : ${#numbers.sequence(1,pageNum)}">
									<li class="page-item"><a class="page-link"
										th:href="@{'shareServiceApplyConsole?page='+${i}}"
										th:text="${i}"></a></li>
								</th:block>
								<li class="page-item"><a class="page-link"
									th:href="@{'shareServiceApplyConsole?page='+${pageNum}}"
									aria-label="Next"> <span aria-hidden="true">&raquo;</span>
								</a></li>
							</ul> 
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
</html>