<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>게시물 작성</title>
<!-- bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
          crossorigin="anonymous"></script>
  <!--custum css-->
  <link rel="stylesheet" href="css/shinchung.css">
  <link rel="stylesheet" href="css/staticStyle.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col border-bottom m-5">
				<h5>게시물 작성</h5>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col border-bottom mt-5">


					<div>
						<button type="button" class="btn custom-btn">작성</button>
						<button type="button" class="btn custom-btn2" onclick="history.go(-1)">뒤로가기</button>
					</div>
			</div>
		</div>
	</div>
</body>
</html>