<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin}">
<!-------------------------------------------------------------->
<div layout:fragment="adminContent" class="col">
	<!-------------------------------------------------------------->
	<div class="container-sm p-0 mt-5 notice">
		<div class="page-title">
			<div class="container-fluid">
				<h3>게시글 관리</h3>
			</div>
		</div>
		<!-------------------------------------------------------------->
		<div id="board-search" class="container-fluid">
			<div class="container-fluid p-0">
				<small> <a th:attr="data-town='town'" class="town onoff" href="shareServiceBoardConsole?category=town&page=1">동네공구</a>
					 /  <a th:attr="data-proxy='proxy'" class="proxy"href="shareServiceBoardConsole?category=proxy&page=1">대리구매</a>
					/   <a th:attr="data-share='share'" class="share" href="shareServiceBoardConsole?category=share&page=1">서비스공유</a>
				</small>
				<div class="search-window">
					<form action="searchBoardName" method="get">
						<input type="hidden" name="page" value="1" />
						<input type="hidden" name="category" th:value="${param.category}" />
						<div class="search-wrap">
							<label for="search" class="blind">게시글 검색</label> <input
								type="text" id="search" name="search" placeholder="검색어를 입력해주세요.">
							<button type="submit" class="btn btn-dark">검색</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-------------------------------------------------------------->
		<div id="board-list" class="container-fluid">
			<div class="container-fluid p-0">
				<table class="board-table mt-1">
					<thead>
						<tr>
							<th scope="col" class="th-num">번호</th>
							<th scope="col" class="th-num">카테고리</th>
							<th scope="col" class="th-num">작성자ID</th>
							<th scope="col" class="th-num">제목</th>
							<!-- <th scope="col" class="th-num d-none d-md-block">닉네임</th>
							<th scope="col" class="th-date d-none d-md-block">등록일</th>
							<th scope="col" class="th-date">마감일</th> -->
							<th scope="col" class="th-num">진행현황</th>
							<th scope="col" class="th-num">현황변경</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="board:${list}">
							<tr>
								<td th:text="${board.getNum()}"></td>
								<td th:text="${board.getCategory()}"></td>
								<td th:text="${board.getId}"></td>
								<th><b> <a class="d-block text-truncate"
										style="max-width: 100px;"
										th:href="${board.getUrl()}"
										th:text="${board.getTitle()}"></a>
								</b></th>
								<td><small class="badge badge-secondary"
									th:if="${board.getProcess().equals('3')}"> 기간만료</small> <small
									class="badge badge-warning"
									th:if="${board.getProcess().equals('2')}"> 모집중단</small> <small
									class="badge badge-success"
									th:if="${board.getProcess().equals('1')}"> 모집진행중</small> <small
									class="badge badge-danger"
									th:if="${board.getProcess().equals('0')}"> 모집완료</small></td>
								<td><th:block
										th:if="${board.getProcess().equals('1') || board.getProcess().equals('2')}">
										<!-- || board.getPersonnelNow() < board.getPersonnelMax() -->
										<a th:href="'processRemote?page=1&num='+${board.getNum()}"
											class="badge badge-warning"> <b>변경</b>
										</a>
									</th:block> <th:block
										th:if="${board.getProcess().equals('0') && board.getPersonnelNow() >= board.getPersonnelMax()}">
										<span class="badge badge-secondary">변경불가</span>
									</th:block></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="row mt-5">
						<div class="col d-flex justify-content-center">
							<nav aria-label="Page navigation example">
								<ul class="pagination">
									<li class="page-item"><a class="page-link"
										href="shareServiceBoardConsole?category='+${category}+'&page=1" aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
									</a></li>
									<th:block th:each="i : ${#numbers.sequence(1,pageNum)}">
										<li th:if="${#strings.equals(param.page, i)}"
											class="page-item active"><a class="page-link"
											th:href="@{'shareServiceBoardConsole?category='+${category}+'&page='+${i}}"
											th:text="${i}"></a></li>
										<li th:unless="${#strings.equals(param.page, i)}"
											class="page-item"><a class="page-link"
											th:href="@{'shareServiceBoardConsole?category='+${category}+'&page='+${i}}"
											th:text="${i}"></a></li>
									</th:block>
									<li class="page-item"><a class="page-link"
										th:href="@{'shareServiceBoardConsole?category='+${category}+'&page='+${pageNum}}"
										aria-label="Next"> <span aria-hidden="true">&raquo;</span>
									</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	$(document).ready(function() {
	    // 페이지 로드 시 실행되는 코드
	    activateLink();
	    // 링크를 클릭할 때 실행되는 코드
	    $(".town, .proxy, .share").click(function() {
	        // 현재 클릭된 요소의 data-* 속성 값을 가져옵니다.
	        var dataAttr = $(this).attr("data-town") || $(this).attr("data-proxy") || $(this).attr("data-share");
	        // 가져온 data-* 속성 값을 category 파라미터 값으로 설정합니다.
	        var categoryValue = dataAttr;
	        // 현재 페이지 URL을 가져옵니다.
	        var url = new URL(window.location.href);
	        // category 파라미터 값을 설정합니다.
	        url.searchParams.set('category', categoryValue);
	        // 새로운 URL로 페이지를 리로드합니다.
	        window.location.href = url.toString();
	    });
	});
	// 활성화할 링크를 선택하는 함수
	function activateLink() {
	    // 현재 페이지의 URL에서 category 파라미터 값을 가져옵니다.
	    var urlParams = new URLSearchParams(window.location.search);
	    var categoryValue = urlParams.get('category');
	    // category 파라미터 값과 각 링크의 data-* 속성 값을 비교하여 활성화할 링크를 결정합니다.
	    if (categoryValue === 'town') {
	        $(".town").addClass("onoff");
	        $(".proxy, .share").removeClass("onoff");
	    } else if (categoryValue === 'proxy') {
	        $(".proxy").addClass("onoff");
	        $(".town, .share").removeClass("onoff");
	    } else if (categoryValue === 'share') {
	        $(".share").addClass("onoff");
	        $(".town, .proxy").removeClass("onoff");
	    }
	}
	</script>
</div>
</html>