<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/shareService}">

<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="shareServiceContent">
	<!-- ---------------------결제완료 로직--------------------- -->
	<div class="container p-0 mb-5 mt-5">
		<div class="row border">
			<div class="col-12 d-flex justify-content-center border-bottom">
				<img src="imgs/check.png" alt="" width="40px" height="40px" class="mt-3 mb-3">
				<h2 class="mt-3 mb-3"><b>결제 및 신청 완료</b></h2>
			</div><!--col-->
			<div class="col-12 text-center mt-3 mb-3">
				<h5 class="mt-3"><b>신청 정보</b></h5>
			</div>
			<div class="col-9 m-auto border-bottom">
				<div class="text-center d-block mb-3">
					<img th:src="@{'imgs/test/'+${productImg}}" class="img-fluid border" width="300" height="300">
				</div>
				<p>상품코드 : <span th:text="${pay.getPay_Merchant_uid()}"></span></p>
				<p>제품명 : <span th:attr="data-title=${title}" th:text="${title}">감자</span></p>
				<p>결제일시 : <span th:text="${pay.getPay_date()}"></span></p>
				<p>결제금액 : <span th:attr="data-price=${price}" th:text="${price}+' 원'"></span></p>
				<p>결제수단 : <span th:text="${pay.getPay_method()}"></span></p>
			</div>
			<div class="col-12 text-center mt-5">
				<h5><b>주문자 정보</b></h5>
			</div>
			<div class="col-9 m-auto" th:each="member:${find}">
				<p>주문자명 : <span th:text="${member.name}"></span></p>
				<p>아이디 : <span th:text="${member.id}"></span></p>
				<p>주소 : <span th:text="'('+${member.postCode}+') '+${member.address_main}+' '+${ member.address_sub}"></span></p>
				<p>연락처 : <span th:text="${member.phone}"></span></p>
				<p>이메일 : <span th:text="${member.email}"></span></p>
			</div>
			<div class="col-12 mt-3 mb-3 d-flex justify-content-center">
				<form action="">
					<button type="button" class="custom-btn" onclick="shareServicebuyBoard()">주문내역</button>
					<button type="button" class="custom-btn2">신청취소</button>
					<button type="button" class="custom-btn3" onclick="shareServiceBoard()">목록으로</button>
				</form>
			</div>
		</div><!--row-->
	</div><!--container-->
	<script>
		/*목록으로*/
		function shareServiceBoard(){
			location.href="shareServiceBoard";
		}
		function shareServicebuyBoard(){
			location.href="shareServicebuyBoard";
		}
	</script>
</div>
</html>