<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/proxyBuying}">

<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="proxyBuyContent" class="col p-0">
	<!--------------------------------게시글 타이틀-------------------------------->
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<div class="row">
			<div class="col text-center mt-5">
				<h1>원하는 상품이 없으세요?</h1>
				<p>파이와 함께 즐거운 공구를 즐기세요!</p>
			</div>
		</div>
		<div class="row text-center">
			<a class="col-lg-4" href="proxyBuyProducts"> <span
				class="border btn p-4 mb-2 w-100"> 지금 진행하는 공구 보기 </span>
			</a> <a class="col-lg-4" href="proxyBuyApply?page=1"> <span
				class="border btn p-4 mb-2 w-100"> 입점 원하는 물품 신청하러가기 </span>
			</a> <a class="col-lg-4" href="townBuying"> <span
				class="border btn p-4 mb-2 w-100"> 직접 공구 모집하기 </span>
			</a>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		var list = /*[[${list}]]*/[];
		console.log(list);
	</script>
	<script>
		$(function() {
			$("#proxyMainCarousel").find(".carousel-item").eq(0).addClass(
					"active");
			$("#proxyMainCarousel").find("li").eq(0).addClass("active");

			$(".bests").find(".bestProduct").click(function() {
				let idx = $(this).index();
				$("#bestProfileImg").attr("src", 'imgs/profiles/'+list[idx].pr_profileImg);
				$("#bestNickName").text(list[idx].pr_nickname);
				$("#bestTitle").text(list[idx].pr_title);
				$("#bestContent").html(list[idx].pr_content);
				$("#bestBtn").attr("href", 'viewProxyBoard?num='+list[idx].pr_num);
				$("#proxyMainCarousel").find(".carousel-indicators").empty();
				for(i=0; i<list[idx].pr_productImgs.length; i++){
					$("#proxyMainCarousel").find(".carousel-indicators").append('<li data-target="#proxyMainCarousel" data-slide-to="'+i+'"></li>');
				}
				$("#proxyMainCarousel").find("li").eq(0).addClass("active");
				$("#proxyMainCarousel").find(".carousel-inner").empty();
				for(i=0; i<list[idx].pr_productImgs.length; i++){
					$("#proxyMainCarousel").find(".carousel-inner").append('<div class="carousel-item"><img src="imgs/test/'+list[idx].pr_productImgs[i]+'" class="d-block w-100" alt="..."></div>');
				}
				$("#proxyMainCarousel").find(".carousel-item").eq(0).addClass(
				"active");
			})
		})
	</script>
</div>

</html>