<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/updateForms}">

<head>
	<!-- include summernote css/js -->
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
	<style>
	</style>
</head>


<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="formContent" class="col">
	<!--------------------------------게시글 타이틀-------------------------------->
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<div class="row">
			<div class="col">
				<form action="updateProxyAction" method="post" name="proxyUpdateForm" enctype="multipart/form-data">
					<input type="hidden" name="num" th:value="${param.num}" />
					<div class="form-group d-flex align-items-center">
						<img src="" alt="" class="rounded-circle" width="30" height="30"
							onerror="this.onerror=null; this.src='imgs/default.png';" /><input type="text"
							class="pl-2 form-control-plaintext" id="exampleInputEmail1" name="to_nickname"
							th:value="${session.nickName}" readonly>
					</div>
					<div class="form-group row">
						<div class="dropdown col-md-3 pie-write-dropdown">
							<button class="btn btn-block dropdown-toggle text-left bg-transparent border" type="button"
								data-toggle="dropdown" aria-expanded="false"
								th:attr="data-category=${board.getPr_category()}">
								카테고리</button>
							<input type="hidden" name="pr_category" id="h-input" value="test" />
							<div class="dropdown-menu">
								<a class="dropdown-item" data-category="food">식품</a>
								<a class="dropdown-item" data-category="baby">육아</a>
								<a class="dropdown-item" data-category="beautyAndFashion">뷰티/패션</a>
								<a class="dropdown-item" data-category="pet">반려동물</a>
								<a class="dropdown-item" data-category="life">생활</a>
								<a class="dropdown-item" data-category="etc">기타</a>
							</div>
						</div>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="제목" name="pr_title"
							th:value="${board.getPr_title()}">
					</div>
					<div class="form-group d-flex">
						<label for="file">
							<div class="btn-upload">
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
									class="bi bi-plus-circle" viewBox="0 0 16 16">
									<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
									<path
										d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
								</svg>
							</div>
						</label>
						<div class="file-uploadGroup">
							<th:block th:each="i : ${#numbers.sequence(0,board.getPr_productImgs().length-1)}">
								<figure onclick="deleteFile(this)" th:attr="data-originFile = ${board.getPr_productImgs()[i]}"><img th:src="@{'/imgs/test/' + ${board.getPr_productImgs()[i]}}" class='pie-img-viewsThumbs'>
								<figcaption></figcaption>
								<figure>
							</th:block>

						</div>
						<input type="hidden" name="ori_pr_files" id="ori_files" th:value="${board.getPr_productImg()}"/>
						<input type="file" name="pr_pic[]" id="file" multiple onchange="addFile(event)"> <input
							type="hidden" name="pr_files" id="files" th:value="${board.getPr_productImg()}" />
					</div>
					<textarea id="summernote" name="pr_content" th:text="${board.getPr_content()}"></textarea>

					<div class="form-group row pt-3">
						<div class="col-md-6 pt-3">
							<label for=""><small class="pl-1">모집인원</small></label><input type="number"
								class="form-control" id="personnelMax" name="pr_personnelMax" min="1" max="300"
								value="1" th:value="${board.getPr_personnelMax()}">
						</div>
						<div class="col-md-6 pt-3">
							<label for=""><small class="pl-1">모집마감일</small></label> <input type="date"
								class="form-control" id="pr_deadLine" name="pr_deadLine"
								th:value="${#strings.substring(board.pr_deadLine, 0, 10)}">

						</div>
					</div>

					<div class="form-group row">
						<div class="col-md-6 pt-3">
							<label for=""><small class="pl-1">모집 가격(총합)</small></label> <input type="text"
								class="form-control" id="price_total" name="price_total"
								th:value="${board.getPr_priceTotal()}">
						</div>
						<div class="col-md-6 pt-3">
							<label for=""><small class="pl-1">모집 가격(인당)</small></label> <input type="text"
								class="form-control" id="price_per" name="price_per"
								th:value="${board.getPr_pricePer()}">

						</div>
					</div>

					<div class="form-group">
						<label for=""><small class="pl-1">태그</small></label>
						<div class="form-control d-flex overflow-hidden">
							<div id="tagGroup" class="d-flex align-items-center">
								<d:block th:each="i : ${#numbers.sequence(1,board.getPr_tags().length-1)}">
									<span class="badge badge-info badge-pill d-flex align-items-center p-2 mr-2">
										<span th:text="${board.getPr_tags()[i]}"></span>
										<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
											fill="currentColor" class="bi bi-x-circle-fill ml-1" viewBox="0 0 16 16">
											<path
												d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z" />
										</svg>
									</span>
								</d:block>
							</div>
							<input type="hidden" readonly name="pie_tagsOutput" id="pie_tagsOutput"
								th:value="${board.getPr_tag()}" /> <input type="text" class="border-0 flex-fill"
								id="pie_tags_input" placeholder="태그는 최대 5개 등록가능하며, 스페이스바/엔터로 구분합니다. (특수문자 사용불가)">
						</div>
					</div>

					<div class="form-group row justify-content-center mt-5">
						<div class="col-sm-9">
							<button type="button" class="btn btn-block pie-btn-red" id="uploadBtn">등록</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--게시글 로직 container-->
	<!--wrapper-->
</div>

</html>