<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/proxyBuying}">

<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="proxyBuyContent" class="col">
	<!--------------------------------게시글 타이틀-------------------------------->
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<div sec:authorize="hasRole('ROLE_ADMIN')" class="row mb-5">
			<div class="col">
				<a href="proxyWriteForm" class="btn btn-block pie-btn-outline-red">모집글
					등록하기</a>
			</div>
		</div>



		<th:block th:if="${haveFeed}">
			<div class="row">
				<div class="col text-center">
					<h1>내게 딱 맞는 피드!</h1>
					<p th:text="|${session.nickName}님이 고르신 키워드를 바탕으로 피드를 구성해봤어요!|"></p>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<a href="resetFeed" class="btn btn-outline-secondary">피드 재설정하기</a>
				</div>
			</div>
		</th:block>
		<th:block th:if="${!haveFeed}">
			<div class="row">
				<div class="col text-center">
					<h1>내게 딱 맞는 피드!</h1>
					<p th:text="|원하는 내용만 쏙쏙 골라볼 수 있도록 피드를 구성할 수 있어요!|"></p>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<a sec:authorize="!isAuthenticated()" href="redirectChkFeed"
						class="btn btn-outline-secondary">맞춤 피드 만들기</a> <a
						sec:authorize="isAuthenticated()" href="resetFeed"
						class="btn btn-outline-secondary">맞춤 피드 만들기</a>
				</div>
			</div>
		</th:block>

		<th:block th:if="${list1!=null}">
			<section class="my-5 py-5 hyej-lists">
				<div class="row py-2">
					<div class="col">
						<h3 class="font-weight-bolder pie-c-red"
							th:text="|#${text1.get(0)}|"></h3>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-md-4">
						<img src="imgs/nowing.png" alt="" class="img-fluid pie-radius" />
						<div class="py-4 px-1 pie-c-brown">
							<h4 th:text="${text1.get(1)}">파이는 현재 진행중!</h4>
							<p>
								<small th:utext="${text1.get(2)}"> 파이가 함께할 사람들을 구하고
									있답니다! <br /> 서두르지 않으면 자리가 없을지도 몰라요!
								</small>
							</p>
						</div>
					</div>
					<div class="col-md-8">
						<div class="owl-carousel owl-theme">
							<th:block th:each="board:${list1}">
								<div class="item">
									<a class="card pie-radius position-relatvie"
										th:href="@{'viewProxyBoard?num='+${board.getNum()}}"> <img
										th:src="@{'/imgs/test/' + ${board.getProductImg().substring(0,board.getProductImg().indexOf('/'))}}"
										class="" alt="...">
										<div
											class="card-body p-3 pb-4 position-absolute w-100 h-100 d-flex flex-column justify-content-between">
											<div class="hyej-cardheader">
												<small class="hyej-boardcategory pie-c-red"
													th:text="${board.getCategory()}"></small>
												<p class="card-text text-truncate"
													th:text="${board.getTitle()}"></p>
											</div>
											<div class="hyej-cardcontent">
												<div class="d-flex justify-content-end">
													<div class="d-flex align-items-center">
														<span class="pie-heart-icon active pie-icons-mini mr-1"></span>
														<small><span id="bestLike"
															th:text=${board.getLikeNum()}></span></small>
													</div>
													<div class="d-flex align-items-center mx-2">
														<span class="pie_view-icon active pie-icons-mini mr-1"></span>
														<small><span id="bestHit"
															th:text=${board.getHit()}></span></small>
													</div>
													<div class="d-flex align-items-center">
														<span class="pie-man-icon active pie-icons-mini mr-1"></span>
														<small> <span id="bestNow"
															th:text=${board.getPersonnelNow()}></span> <span>/</span>
															<span id="bestMax" th:text=${board.getPersonnelMax()}></span>
														</small>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</section>
		</th:block>

		<th:block th:if="${list2!=null}">
			<section class="my-5 py-5 hyej-lists">
				<div class="row py-2">
					<div class="col">
						<h3 class="font-weight-bolder pie-c-red"
							th:text="|#${text2.get(0)}|"># 현재 진행중</h3>
					</div>
				</div>
				<div class="row align-items-center flex-row-reverse">
					<div class="col-md-4">
						<img src="imgs/nowing.png" alt="" class="img-fluid pie-radius" />
						<div class="py-4 px-1 pie-c-brown">
							<h4 th:text="${text2.get(1)}">파이는 현재 진행중!</h4>
							<p>
								<small th:utext="${text1.get(2)}"> 파이가 함께할 사람들을 구하고
									있답니다! <br /> 서두르지 않으면 자리가 없을지도 몰라요!
								</small>
							</p>
						</div>
					</div>
					<div class="col-md-8">
						<div class="owl-carousel owl-theme">
							<th:block th:each="board:${list2}">
								<div class="item">
									<a class="card pie-radius position-relatvie"
										th:href="@{'viewProxyBoard?num='+${board.getNum()}}"> <img
										th:src="@{'/imgs/test/' + ${board.getProductImg().substring(0,board.getProductImg().indexOf('/'))}}"
										class="" alt="...">
										<div
											class="card-body p-3 pb-4 position-absolute w-100 h-100 d-flex flex-column justify-content-between">
											<div class="hyej-cardheader">
												<small class="hyej-boardcategory pie-c-red"
													th:text="${board.getCategory()}"></small>
												<p class="card-text text-truncate"
													th:text="${board.getTitle()}"></p>
											</div>
											<div class="hyej-cardcontent">
												<div class="d-flex justify-content-end">
													<div class="d-flex align-items-center">
														<span class="pie-heart-icon active pie-icons-mini mr-1"></span>
														<small><span id="bestLike"
															th:text=${board.getLikeNum()}></span></small>
													</div>
													<div class="d-flex align-items-center mx-2">
														<span class="pie_view-icon active pie-icons-mini mr-1"></span>
														<small><span id="bestHit"
															th:text=${board.getHit()}></span></small>
													</div>
													<div class="d-flex align-items-center">
														<span class="pie-man-icon active pie-icons-mini mr-1"></span>
														<small> <span id="bestNow"
															th:text=${board.getPersonnelNow()}></span> <span>/</span>
															<span id="bestMax" th:text=${board.getPersonnelMax()}></span>
														</small>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
							</th:block>

						</div>
					</div>
				</div>
			</section>
		</th:block>

		<th:block th:if="${list3!=null}">
			<section class="my-5 py-5 hyej-lists">
				<div class="row py-2">
					<div class="col">
						<h3 class="font-weight-bolder pie-c-red"
							th:text="|#${text3.get(0)}|"># 현재 진행중</h3>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-md-4">
						<img src="imgs/nowing.png" alt="" class="img-fluid pie-radius" />
						<div class="py-4 px-1 pie-c-brown">
							<h4 th:text="${text3.get(1)}">파이는 현재 진행중!</h4>
							<p>
								<small th:utext="${text3.get(2)}"> 파이가 함께할 사람들을 구하고
									있답니다! <br /> 서두르지 않으면 자리가 없을지도 몰라요!
								</small>
							</p>
						</div>
					</div>
					<div class="col-md-8">
						<div class="owl-carousel owl-theme">
							<th:block th:each="board:${list3}">
								<div class="item">
									<a class="card pie-radius position-relatvie"
										th:href="@{'viewProxyBoard?num='+${board.getNum()}}"> <img
										th:src="@{'/imgs/test/' + ${board.getProductImg().substring(0,board.getProductImg().indexOf('/'))}}"
										class="" alt="...">
										<div
											class="card-body p-3 pb-4 position-absolute w-100 h-100 d-flex flex-column justify-content-between">
											<div class="hyej-cardheader">
												<small class="hyej-boardcategory pie-c-red"
													th:text="${board.getCategory()}"></small>
												<p class="card-text text-truncate"
													th:text="${board.getTitle()}"></p>
											</div>
											<div class="hyej-cardcontent">
												<div class="d-flex justify-content-end">
													<div class="d-flex align-items-center">
														<span class="pie-heart-icon active pie-icons-mini mr-1"></span>
														<small><span id="bestLike"
															th:text=${board.getLikeNum()}></span></small>
													</div>
													<div class="d-flex align-items-center mx-2">
														<span class="pie_view-icon active pie-icons-mini mr-1"></span>
														<small><span id="bestHit"
															th:text=${board.getHit()}></span></small>
													</div>
													<div class="d-flex align-items-center">
														<span class="pie-man-icon active pie-icons-mini mr-1"></span>
														<small> <span id="bestNow"
															th:text=${board.getPersonnelNow()}></span> <span>/</span>
															<span id="bestMax" th:text=${board.getPersonnelMax()}></span>
														</small>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</section>
		</th:block>

		<div class="row pt-5">
			<div class="col text-center">
				<h1>원하는 상품을 검색해보세요!</h1>
				<p>원하는 상품을 검색하고 가장 저렴한 가격으로 함께해요!</p>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col text-center">
				<form action="searchProducts" class="pie-search mb-4" method="get"
					name="searchForm">
					<input type="hidden" name="category" id="category" /> <input
						type="hidden" name="table" value="p" />

					<div class="dropdown" id="selectCategory">

						<a class="btn dropdown-toggle" href="#" role="button"
							data-toggle="dropdown" aria-expanded="false">카테고리 </a>

						<div class="dropdown-menu">
							<a class="dropdown-item" data-category="">전체</a> <a
								class="dropdown-item" data-category="food">식품</a> <a
								class="dropdown-item" data-category="baby">육아</a> <a
								class="dropdown-item" data-category="beautyAndFashion">뷰티/패션</a>
							<a class="dropdown-item" data-category="pet">반려동물</a> <a
								class="dropdown-item" data-category="life">생활</a> <a
								class="dropdown-item" data-category="etc">기타</a>
						</div>



					</div>

					<input type="text" name="townKeyword" id="townKeyword"
						class="flex-fill">

					<button type="submit"></button>

				</form>

				<div class="col text-center">

					<a th:each="keyWord : ${bestKey}" type="button" class="m-1"
						th:href="@{'searchTownBuy?category=&townKeyword='+${keyWord}}"
						th:text="|#${keyWord}|"></a>

				</div>
			</div>
		</div>

		<div class="h-100 text-right" id="listEnd">
			<div
				class="sticky-top dropup hyej-customdropdown-forAll d-inline-block">
				<button class="btn btn-sm pie-btn-outline-red-custom" type="button"
					id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
						fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
  <path fill-rule="evenodd"
							d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
</svg>
				</button>
				<div
					class="dropdown-menu dropdown-menu-right border-0 bg-transparent"
					aria-labelledby="dropdownMenuButton">
					<div class="row dropdown-item no-gutters pr-0">
						<div class="col d-flex justify-content-end">
							<div
								class="button-group btn-group btn-group-sm sort-by-button-group">
								<button class="button btn pie-btn-outline-red-custom"
									data-sort-value="date">최신업데이트순</button>
								<button class="button btn pie-btn-outline-red-custom"
									data-sort-value="popular">인기순</button>
							</div>
						</div>
					</div>

					<div class="row dropdown-item no-gutters pr-0">
						<div class="col d-flex justify-content-end">
							<div
								class="button-group filters-button-group btn-group btn-group-sm"
								data-filter-group="category">
								<button
									class="button filter-btn is-checked btn pie-btn-outline-red-custom"
									data-filter="">전체</button>
								<button class="button filter-btn btn pie-btn-outline-red-custom"
									data-filter="[data-category = '식품']">식품</button>
								<button class="button filter-btn btn pie-btn-outline-red-custom"
									data-filter="[data-category = '육아']">육아</button>
								<button class="button filter-btn btn pie-btn-outline-red-custom"
									data-filter="[data-category = '뷰티/패션']">뷰티/패션</button>
								<button class="button filter-btn btn pie-btn-outline-red-custom"
									data-filter="[data-category = '반려동물']">반려동물</button>
								<button class="button filter-btn btn pie-btn-outline-red-custom"
									data-filter="[data-category = '생활']">생활</button>
								<button class="button filter-btn btn pie-btn-outline-red-custom"
									data-filter="[data-category = '기타']">기타</button>
							</div>
						</div>
					</div>

					<div class="row dropdown-item no-gutters pr-0">
						<div class="col d-flex justify-content-end">
							<div class="button-group btn-group btn-group-sm"
								data-filter-group="duration">
								<button
									class="button filter-btn btn pie-btn-outline-red-custom is-checked"
									data-filter="">전체</button>
								<button class="button filter-btn btn pie-btn-outline-red-custom"
									data-filter="[data-end ='1']">마감된 게시글 제외하기</button>
								<button class="button filter-btn btn pie-btn-outline-red-custom"
									data-filter='[data-end ="1"][data-soon=true]'>마감 임박</button>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="row mt-4 text-left">
				<div class="col">
					<div class="" id="allCards">

						<!-- <th:block th:each="board:${allList}">
							<th:block th:if="${board.getProcess().equals('0')}">
								<a class="card pie-radius-small overflow-hidden pie-close"
									th:href="@{'viewProxyBoard?num='+${board.getNum()}}"
									th:attr="data-end = ${board.getProcess()}, data-soon=${@boardComp.closeClosely(board)}, data-category=${board.getCategory()}, data-date=${board.getPr_updateDay()}, data-like=${board.getLikeNum()}, data-hit=${board.getHit()}">
									<img
									th:src="@{'/imgs/test/' + ${board.getProductImg().substring(0,board.getProductImg().indexOf('/'))}}"
									class="card-img-top" alt="...">
									<div class="card-body position-absolute w-100">
										<small><span class="pie-c-red"
											th:text="${board.getCategory()}"></span></small>
										<h5 class="card-title text-truncate font-weight-bolder"
											th:text="${board.getTitle()}">Card title that wraps
											to a new line</h5>
										<p class="card-text">
											<small class="text-muted"
												th:text="${@boardComp.lastUpdateMessage(board.getPr_updateDay())}">Last
												updated 3 mins ago</small>
										</p>
									</div>
								</a>
							</th:block>
							<th:block th:if="${board.getProcess().equals('1')}">
								<a class="card pie-radius-small overflow-hidden"
									th:href="@{'viewProxyBoard?num='+${board.getNum()}}"
									th:attr="data-end = ${board.getProcess()}, data-soon=${@boardComp.closeClosely(board)}, data-category=${board.getCategory()}, data-date=${board.getPr_updateDay()}, data-like=${board.getLikeNum()}, data-hit=${board.getHit()}">
									<img
									th:src="@{'/imgs/test/' + ${board.getProductImg().substring(0,board.getProductImg().indexOf('/'))}}"
									class="card-img-top" alt="...">
									<div class="card-body position-absolute w-100">
										<small><span class="pie-c-red"
											th:text="${board.getCategory()}"></span></small>
										<h5 class="card-title text-truncate font-weight-bolder"
											th:text="${board.getTitle()}">Card title that wraps
											to a new line</h5>
										<p class="card-text">
											<small class="text-muted"
												th:text="${@boardComp.lastUpdateMessage(board.getPr_updateDay())}">Last
												updated 3 mins ago</small>
										</p>
									</div>
								</a>
							</th:block>
						</th:block>  -->
					</div>
				</div>
			</div>
			<div class="row my-5 pt-5" id="showMoreButton">
				<div class="col mt-5 pt-5">
					<div class="alert alert-light border text-center">
						<small> 마지막 게시물입니다. </small>
					</div>
				</div>
			</div>


		</div>

	</div>
	<!--게시글 로직 container-->
	<!--wrapper-->
	<script>
		$('.owl-carousel').owlCarousel({
			margin : 10,
			nav : true,
			responsive : {
				0 : {
					items : 1
				},
				600 : {
					items : 2
				},
				1000 : {
					items : 3
				}
			}
		})
	</script>
	<script src="/js/infiniteScroll.js"></script>
	<script src="/js/hyejCustomIsotope.js"></script>


</div>

</html>