<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/proxyBuying}">

<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="proxyBuyContent" class="col">
	<!--------------------------------게시글 타이틀-------------------------------->
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<th:block th:if="${haveFeed}">
			<div class="row mb-5">
				<div class="col text-center">
					<h1>내게 딱 맞는 피드!</h1>
					<p th:text="|${session.nickName}님이 고르신 키워드를 바탕으로 피드를 구성해봤어요!|"></p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="resetFeed" class="btn btn-outline-secondary">피드 초기화</a>
				</div>
			</div>
		</th:block>
		<th:block th:if="${!haveFeed}">
			<div class="row mb-5">
				<div class="col text-center">
					<h1>내게 딱 맞는 피드!</h1>
					<p th:text="|원하는 내용만 쏙쏙 골라볼 수 있도록 피드를 구성할 수 있어요!|"></p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a sec:authorize="!isAuthenticated()" href="redirectChkFeed"
						class="btn btn-outline-secondary">맞춤 피드 만들기</a> <a
						sec:authorize="isAuthenticated()" href="reset"
						class="btn btn-outline-secondary">맞춤 피드 만들기</a>
				</div>
			</div>
		</th:block>


		<th:block th:if="${list1!=null}">
			<section class="my-5 py-5 hyej-lists">
				<div class="row py-2">
					<div class="col">
						<h3 class="font-weight-bolder pie-c-red"># 현재 진행중</h3>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-md-4">
						<img src="imgs/nowing.png" alt="" class="img-fluid pie-radius" />
						<div class="py-4 px-1 pie-c-brown">
							<h4>파이는 현재 진행중!</h4>
							<p>
								<small> 파이가 함께할 사람들을 구하고 있답니다! <br /> 서두르지 않으면 자리가 없을지도
									몰라요!
								</small>
							</p>
						</div>
					</div>
					<div class="col-md-8">
						<div class="owl-carousel owl-theme">
							<th:block th:each="board:${list1}">
								<div class="item">
									<a class="card pie-radius position-relatvie"
										th:href="@{'viewProxyBoard?num='+${board.getPr_num()}}"> <img
										th:src="@{'/imgs/test/' + ${board.getPr_productImg().substring(0,board.getPr_productImg().indexOf('/'))}}"
										class="card-img-top" alt="...">
										<div
											class="card-body p-3 pb-4 position-absolute w-100 h-100 d-flex flex-column justify-content-between">
											<div class="hyej-cardheader">
												<small class="hyej-boardcategory pie-c-red"
													th:text="${board.getPr_category()}"></small>
												<p class="card-text text-truncate"
													th:text="${board.getPr_title()}"></p>
											</div>
											<div class="hyej-cardcontent">
												<div class="d-flex justify-content-end">
													<div class="d-flex align-items-center">
														<span class="pie-heart-icon active pie-icons-mini mr-1"></span>
														<small><span id="bestLike"
															th:text=${board.getPr_like()}></span></small>
													</div>
													<div class="d-flex align-items-center mx-2">
														<span class="pie_view-icon active pie-icons-mini mr-1"></span>
														<small><span id="bestHit"
															th:text=${board.getPr_hit()}></span></small>
													</div>
													<div class="d-flex align-items-center">
														<span class="pie-man-icon active pie-icons-mini mr-1"></span>
														<small> <span id="bestNow"
															th:text=${board.getPr_personnelNow()}></span> <span>/</span>
															<span id="bestMax" th:text=${board.getPr_personnelMax()}></span>
														</small>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</section>
		</th:block>

		<th:block th:if="${list2!=null}">
			<section class="my-5 py-5 hyej-lists">
				<div class="row py-2">
					<div class="col">
						<h3 class="font-weight-bolder pie-c-red"># 현재 진행중</h3>
					</div>
				</div>
				<div class="row align-items-center flex-row-reverse">
					<div class="col-md-4">
						<img src="imgs/nowing.png" alt="" class="img-fluid pie-radius" />
						<div class="py-4 px-1 pie-c-brown">
							<h4>파이는 현재 진행중!</h4>
							<p>
								<small> 파이가 함께할 사람들을 구하고 있답니다! <br /> 서두르지 않으면 자리가 없을지도
									몰라요!
								</small>
							</p>
						</div>
					</div>
					<div class="col-md-8">
						<div class="owl-carousel owl-theme">
							<th:block th:each="board:${list2}">
								<div class="item">
									<a class="card pie-radius position-relatvie"
										th:href="@{'viewProxyBoard?num='+${board.getPr_num()}}"> <img
										th:src="@{'/imgs/test/' + ${board.getPr_productImg().substring(0,board.getPr_productImg().indexOf('/'))}}"
										class="card-img-top" alt="...">
										<div
											class="card-body p-3 pb-4 position-absolute w-100 h-100 d-flex flex-column justify-content-between">
											<div class="hyej-cardheader">
												<small class="hyej-boardcategory pie-c-red"
													th:text="${board.getPr_category()}"></small>
												<p class="card-text text-truncate"
													th:text="${board.getPr_title()}"></p>
											</div>
											<div class="hyej-cardcontent">
												<div class="d-flex justify-content-end">
													<div class="d-flex align-items-center">
														<span class="pie-heart-icon active pie-icons-mini mr-1"></span>
														<small><span id="bestLike"
															th:text=${board.getPr_like()}></span></small>
													</div>
													<div class="d-flex align-items-center mx-2">
														<span class="pie_view-icon active pie-icons-mini mr-1"></span>
														<small><span id="bestHit"
															th:text=${board.getPr_hit()}></span></small>
													</div>
													<div class="d-flex align-items-center">
														<span class="pie-man-icon active pie-icons-mini mr-1"></span>
														<small> <span id="bestNow"
															th:text=${board.getPr_personnelNow()}></span> <span>/</span>
															<span id="bestMax" th:text=${board.getPr_personnelMax()}></span>
														</small>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
							</th:block>

						</div>
					</div>
				</div>
			</section>
		</th:block>

		<th:block th:if="${list3!=null}">
			<section class="my-5 py-5 hyej-lists">
				<div class="row py-2">
					<div class="col">
						<h3 class="font-weight-bolder pie-c-red"># 현재 진행중</h3>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-md-4">
						<img src="imgs/nowing.png" alt="" class="img-fluid pie-radius" />
						<div class="py-4 px-1 pie-c-brown">
							<h4>파이는 현재 진행중!</h4>
							<p>
								<small> 파이가 함께할 사람들을 구하고 있답니다! <br /> 서두르지 않으면 자리가 없을지도
									몰라요!
								</small>
							</p>
						</div>
					</div>
					<div class="col-md-8">
						<div class="owl-carousel owl-theme">
							<th:block th:each="board:${list3}">
								<div class="item">
									<a class="card pie-radius position-relatvie"
										th:href="@{'viewProxyBoard?num='+${board.getPr_num()}}"> <img
										th:src="@{'/imgs/test/' + ${board.getPr_productImg().substring(0,board.getPr_productImg().indexOf('/'))}}"
										class="card-img-top" alt="...">
										<div
											class="card-body p-3 pb-4 position-absolute w-100 h-100 d-flex flex-column justify-content-between">
											<div class="hyej-cardheader">
												<small class="hyej-boardcategory pie-c-red"
													th:text="${board.getPr_category()}"></small>
												<p class="card-text text-truncate"
													th:text="${board.getPr_title()}"></p>
											</div>
											<div class="hyej-cardcontent">
												<div class="d-flex justify-content-end">
													<div class="d-flex align-items-center">
														<span class="pie-heart-icon active pie-icons-mini mr-1"></span>
														<small><span id="bestLike"
															th:text=${board.getPr_like()}></span></small>
													</div>
													<div class="d-flex align-items-center mx-2">
														<span class="pie_view-icon active pie-icons-mini mr-1"></span>
														<small><span id="bestHit"
															th:text=${board.getPr_hit()}></span></small>
													</div>
													<div class="d-flex align-items-center">
														<span class="pie-man-icon active pie-icons-mini mr-1"></span>
														<small> <span id="bestNow"
															th:text=${board.getPr_personnelNow()}></span> <span>/</span>
															<span id="bestMax" th:text=${board.getPr_personnelMax()}></span>
														</small>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</section>
		</th:block>

		<div class="row mb-5">
			<div class="col text-center">
				<h1>공구 전체보기</h1>
				<p>파이가 함께하는 가장 인기 많은 상품들을 모아봤어요! 빈자리가 모두 없어지기 전에 서두르세요!</p>
			</div>
		</div>
		<div class="row">
		<div class="col">
		<div class="btn btn-outline-primary">모집 완료된 글 제외하기</div>
		<div class="btn btn-outline-primary">전체</div>
		<div class="btn btn-outline-primary">식품</div>
		<div class="btn btn-outline-primary">육아</div>
		<div class="btn btn-outline-primary">뷰티/패션/</div>
		<div class="btn btn-outline-primary">반려동물</div>
		<div class="btn btn-outline-primary">생활</div>
		<div class="btn btn-outline-primary">기타</div>
		<div class="btn btn-outline-primary">마감임박</div>
		</div>
		</div>
		
		<div class="row py-3">
			<div class="col text-right">
				<a href="proxyWriteForm" class="btn btn-primary"> 글쓰기 </a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card-columns" id="allCards">
					<th:block th:each="board:${allList}">
						<th:block th:if = "${board.getPr_process().equals('0')}">
						<a class="card pie-radius-small overflow-hidden position-relative pie-close"
							th:href="@{'viewProxyBoard?num='+${board.getPr_num()}}"> <img
							th:src="@{'/imgs/test/' + ${board.getPr_productImg().substring(0,board.getPr_productImg().indexOf('/'))}}"
							class="card-img-top" alt="...">
							<div class="card-body position-absolute w-100">
								<small><span class="pie-c-red" th:text="${board.getPr_category()}"></span></small>
								<h5 class="card-title text-truncate font-weight-bolder"
									th:text="${board.getPr_title()}">Card title that wraps to
									a new line</h5>
								<p class="card-text">
									<small class="text-muted" th:text="${@boardComp.lastUpdateMessage(board.getPr_updateDay())}">Last updated 3 mins ago</small>
								</p>
							</div>
						</a>
						</th:block>
						<th:block th:if = "${board.getPr_process().equals('1')}">
						<a class="card pie-radius-small overflow-hidden position-relative"
							th:href="@{'viewProxyBoard?num='+${board.getPr_num()}}"> <img
							th:src="@{'/imgs/test/' + ${board.getPr_productImg().substring(0,board.getPr_productImg().indexOf('/'))}}"
							class="card-img-top" alt="...">
							<div class="card-body position-absolute w-100">
								<small><span class="pie-c-red" th:text="${board.getPr_category()}"></span></small>
								<h5 class="card-title text-truncate font-weight-bolder"
									th:text="${board.getPr_title()}">Card title that wraps to
									a new line</h5>
								<p class="card-text">
									<small class="text-muted" th:text="${@boardComp.lastUpdateMessage(board.getPr_updateDay())}">Last updated 3 mins ago</small>
								</p>
							</div>
						</a>
						</th:block>
					</th:block>
				</div>
			</div>
		</div>
		<div class="row my-5">
			<div class="col">
				<button class="btn btn-block border" id="showMoreButton">
					<small>더보기</small>
				</button>
			</div>
		</div>

	</div>
	<!--게시글 로직 container-->
	<!--wrapper-->
	<script>
		$(function() {
			let allCards = $("#allCards").find(".card")
			let numberOfVisibleCards = 6;

			allCards.slice(numberOfVisibleCards).hide();

			$("#showMoreButton").on(
					"click",
					function() {
						// 다음 상위 3개의 카드를 추가적으로 보이게 함
						allCards.slice(numberOfVisibleCards,
								numberOfVisibleCards + 3).show();
						numberOfVisibleCards += 3;

						// 만약 더 이상 보일 카드가 없다면 버튼을 숨김
						if (numberOfVisibleCards >= allCards.length) {
							$("#showMoreButton").hide();
						}
					});
		})

		$('.owl-carousel').owlCarousel({
			margin : 10,
			nav : true,
			responsive : {
				0 : {
					items : 1
				},
				600 : {
					items : 2
				},
				1000 : {
					items : 3
				}
			}
		})
	</script>


</div>

</html>