<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/proxyBuying}">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<div layout:fragment="proxyBuyContent" class="col">


	<!-- #################################################
	
	검색 & #태크 클릭시 보여질 페이지

	################################################# -->


	<!-- #################################################
	
	[ 수정 예정사항 ]
	

	----------------------------------------------------------

	[ 백엔드 영역 ]
	
	# 검색 | #태크 글릭 후 페이지 이동시 검색창에 선택한 검색어 #태그 보여주기

	# 검색결과 건수 보여주기


	################################################# -->



	<div class="container-fluid px-0">



		<div class="container mt-5">

			<div class="row mb-2 mb-lg-5 flex-wrap">

				<div class="col-12 col-lg-3 mb-lg-0 mb-3">
					<h1 class="text-center text-lg-left">검색결과</h1>
				</div>


				<div class="col-12 col-lg-9">

					<form action="searchProducts" class="pie-search mb-4" method="get"
						name="searchForm">
						<input type="hidden" name="category" id="category" /> <input
							type="hidden" name="table" value="p" />

						<div class="dropdown" id="selectCategory">

							<a class="btn dropdown-toggle" href="#" role="button"
								data-toggle="dropdown" aria-expanded="false">카테고리 </a>

							<div class="dropdown-menu">
								<a class="dropdown-item" data-category="">전체</a> <a
									class="dropdown-item" data-category="food">식품</a> <a
									class="dropdown-item" data-category="baby">육아</a> <a
									class="dropdown-item" data-category="beautyAndFashion">뷰티/패션</a>
								<a class="dropdown-item" data-category="pet">반려동물</a> <a
									class="dropdown-item" data-category="life">생활</a> <a
									class="dropdown-item" data-category="etc">기타</a>
							</div>



						</div>

						<input type="text" name="townKeyword" id="townKeyword"
							class="flex-fill" th:value="${param.townKeyword}">


						<button type="submit"></button>

					</form>

				</div>


			</div>



			<div class="row mb-5">






				<!-- 검색결과 카테고리로 색인 가능하도록 -->

				<!-- lg 이상 화면 -->
				<div
					class="col-12 col-lg-3 border-right text-center text-lg-left mb-5 mb-lg-0 d-none d-lg-block">


					<h3 class="mb-3">카테고리</h3>


					<ul class="list-unstyled">

						<a th:href="@{'searchProducts?category=&townKeyword=' + ${key}}"
							class="text-dark h5"> <!-- 건수 불러오기 이하 동일-->
							<li class="mb-2" th:text="|전체(${list.size()}건)|">전체 (n건)</li>
						</a>


						<a
							th:href="@{'searchProducts?category=food&townKeyword=' + ${key}}"
							class="text-dark h5"> <!-- 건수 불러오기 이하 동일-->
							<li class="mb-2" th:text="|식품(${food}건)|">식품 (n건)</li>
						</a>


						<a
							th:href="@{'searchProducts?category=baby&townKeyword=' + ${key}}"
							class="text-dark h5">
							<li class="mb-2" th:text="|육아(${baby}건)|">육아 (n건)</li>
						</a>



						<a
							th:href="@{'searchProducts?category=beautyAndFashion&townKeyword=' + ${key}}"
							class="text-dark h5">
							<li class="mb-2" th:text="|뷰티/패션(${beautyAndFashion}건)|">뷰티/패션
								(n건)</li>
						</a>



						<a
							th:href="@{'searchProducts?category=pet&townKeyword=' + ${key}}"
							class="text-dark h5">
							<li class="mb-2" th:text="|반려동물(${pet}건)|">반려동물 (n건)</li>
						</a>



						<a
							th:href="@{'searchProducts?category=life&townKeyword=' + ${key}}"
							class="text-dark h5">
							<li class="mb-2" th:text="|생활(${life}건)|">생활 (n건)</li>
						</a>

						<a
							th:href="@{'searchProducts?category=etc&townKeyword=' + ${key}}"
							class="text-dark h5">
							<li class="mb-2" th:text="|기타(${etc}건)|">기타 (n건)</li>
						</a>

					</ul>



				</div>



				<!-- md 이하 화면 -->
				<div
					class="col-12 col-lg-3 border-bottom text-center text-lg-left mb-5 mb-lg-0 d-lg-none">


					<ul class="list-unstyled text-dark">

						<a href="" class="badge badge-pill badge-light p-2 m-1"> <!-- 건수 불러오기 이하 동일-->
							<li th:text="|식품(${food}건)|">식품 (n건)</li>
						</a>


						<a href="" class="badge badge-pill badge-light p-2 m-1">
							<li th:text="|육아(${baby}건)|">생필품 (n건)</li>
						</a>


						<a href="" class="badge badge-pill badge-light p-2 m-1">
							<li th:text="|뷰티/패션(${beautyAndFashion}건)|">아기용품 (n건)</li>
						</a>



						<a href="" class="badge badge-pill badge-light p-2 m-1">
							<li th:text="|반려동물(${pet}건)|">의류 (n건)</li>
						</a>



						<a href="" class="badge badge-pill badge-light p-2 m-1">
							<li th:text="|생활(${life}건)|">화장품 (n건)</li>
						</a>

						<a href="" class="badge badge-pill badge-light p-2 m-1">
							<li th:text="|기타(${etc}건)|">화장품 (n건)</li>
						</a>

					</ul>



				</div>



				<!-- 검색결과 보여질 페이지 -->
				<div class="col-12 col-lg-9 pl-4 pl-lg-5">


					<!-- 건수 불러오기 -->
					<h3 class="mb-3" th:text="|${list.size()}건이 검색됐어요!|"></h3>



					<div class="row">


						<div class="col-12 mb-2" th:each="board:${list}">

							<div class="card">

								<div class="row">

									<div class="col-12 col-md-6">

										<img
											th:src="@{'/imgs/test/' + ${board.getPr_productImg().substring(0,board.getPr_productImg().indexOf('/'))}}"
											alt="" class="img-fluid">

									</div>

									<div class="col-12 col-md-6">

										<div class="card-body">
											<h3 th:text="${board.getPr_title()}"></h3>
											<p class="" th:utext="${board.getPr_content()}">.</p>

											<a th:href="@{'townBuyproduct?num=' + ${board.getPr_num()}}"
												class="btn btn-outline-dark">같이 사러가기 &raquo;</a>
										</div>

									</div>

								</div>

							</div>

						</div>

					</div>





				</div>

			</div>

			<div class="row">
				<div class="col">
					<h1>동일제품 가격비교!</h1>
					<p>현재 쇼핑몰에서 판매중인 상품과 가격비교해서 똑똑하고 알뜰하게 구매하세요!</p>
				</div>
			</div>
			<div class="row row-cols-1 row-cols-md-5" id="serachResult"></div>


			<script>
				$(function() {
					const token = $("meta[name='_csrf']").attr("content")
					const header = $("meta[name='_csrf_header']").attr(
							"content");
					let keyWord = $("#townKeyword").val();
					console.log(keyWord);

					$
							.ajax({
								method : 'POST',
								url : '/search',
								contentType : 'application/json',
								data : keyWord,
								beforeSend : function(xhr) {
									xhr.setRequestHeader(header, token);
								},
								success : function(response) {
									const jsonData = JSON.parse(response);
									console.log('전송 성공', jsonData);
									$
											.each(
													jsonData.items,
													function(index, item) {
														$('#serachResult')
																.append(
																		'<div class="col mb-4"><a href="'+item.link+'" class="card"><img src="'+ item.image +'" class="card-img-top" alt="..."><div class="card-body"><h5 class="card-title">'
																				+ item.title
																				+ '</h5><p class="card-text">'
																				+ item.lprice
																				+ '</p></div></a></div>');
													});
								},
								error : function(xhr, desc, err) {
									console.error('전송 실패', err);
								}
							});

				})
			</script>

			<script>
				// 선택한 카테고리 보여지게 하는 기능

				$(function() {
					if ($("#category").val() != null
							&& $("#category").val() != "") {
						$("#selectCategory .dropdown-toggle").text(
								$(
										"[data-category="
												+ $("#category").val() + "]")
										.text())
					}
				})

				$(document).on(
						'click',
						'.dropdown-menu .dropdown-item',
						function() {
							let selectedCategory = $(this).text();
							$(this).closest('.dropdown').find(
									'.dropdown-toggle').text(selectedCategory);
							$("#category").val($(this).attr("data-category"));
						});
			</script>






		</div>
</html>