<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/applyForm}">


<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="formContent" class="col">
	<!--------------------------------게시글 타이틀-------------------------------->
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<p class="d-none" th:attr="data-num=${board.getNum()}"></p>
		<input type="hidden" id="tableName" value="p" />
		<div class="row">
			<div class="col">
				<div class="border pie-view-box row">
					<div
						class="col-12 border-bottom px-4 py-3 d-flex align-items-center">
						<img th:src="@{'imgs/profiles/'+${board.getProfileImg()}}"
							class="card-img-top border rounded-circle pie-profilePic-mid align-self-center"
							alt=>
						<div class="pl-3 pie-view-text pie-omitted d-flex flex-column">
							<small class="m-0 font-weight-bold"
								th:text="${board.getNickname()}"></small>
						</div>
					</div>
					<div class="col-12">
						<div class="row p-0">
							<div class="col-12 pie-imgheader p-0">
								<img th:src="@{'/imgs/test/' + ${board.getProductImgs()[0]}}"
									alt="" class="img-fluid hj-detail-img">
								<div class="pie-viewCategory ml-3">
									<h5 th:text="${board.getCategory()}"></h5>
								</div>
								<div class="pie-viewTitle row ml-3 align-items-baseline pb-3">
									<span th:if="${board.getProcess() eq '접수중'}"
										class="badge badge-info" th:text="${board.getProcess()}"></span>
									<span th:if="${board.getProcess() eq '검토중'}"
										class="badge badge-warning" th:text="${board.getProcess()}"></span>
									<span th:if="${board.getProcess() eq '접수반려'}"
										class="badge badge-warning" th:text="${board.getProcess()}"></span>
									<span th:if="${board.getProcess() eq '공구진행중'}"
										class="badge badge-primary" th:text="${board.getProcess()}"></span>
									<span th:if="${board.getProcess() eq '공구종료'}"
										class="badge badge-secondary" th:text="${board.getProcess()}"></span>
									<div class="col-12 p-0 my-1">
										<h5
											th:text="|[${board.getBrand()}] ${board.getProductName()}|"></h5>
										<h2 th:attr="data-prTitle=${board.getTitle}"
											class="mb-0 pie-omitted display-5"
											th:text="${board.getTitle()}">타이틀 자리</h2>
									</div>

								</div>
							</div>
							<div
								class="d-flex justify-content-center p-2 fancyBox-container mt-4 mx-auto">
								<th:block
									th:each="i : ${#numbers.sequence(0,board.getProductImgs().length-1)}">
									<a class="d-block mx-1" data-fancybox="gallery"
										th:attr="data-src='/imgs/test/'+ ${board.getProductImgs()[i]}">
										<img th:src="@{'/imgs/test/' + ${board.getProductImgs()[i]}}"
										width="100" height="100" alt="" />
									</a>
								</th:block>

							</div>

							<div class="col-12 px-5 mb-5">
								<hr />

								<div class="w-100 py-5" th:utext="${board.getContent()}"></div>


								<div th:if="${!board.getURL.equals('')}">
									<p>참고 URL</p>
									<a th:href="${board.getURL()}" th:text="${board.getURL()}"
										class="text-truncate border d-block rounded p-3"></a>
								</div>

								<div class="d-flex justify-content-between align-items-center">
									<div class="mt-3">
										<a class="mr-2" th:if="${board.getId()==session.userId}"
											th:href="@{'proxyApplyupdateForm?num=' + ${board.getNum()}}">
											<span class="pie-icons pie-update-icon"></span>
										</a> <a class="" th:if="${board.getId()==session.userId}"
											th:href="@{'deleteProxyApplyAction?num=' + ${board.getNum()}}">
											<span class="pie-icons pie-delete-icon"></span>
										</a>

									</div>
								</div>

								<hr>

								<div sec:authorize="hasRole('ROLE_ADMIN')">
									<button type="button" class="btn pie-btn-red disabled"
										th:if="${process==2||process==4}">접수상태 변경</button>

									<button type="button" class="btn pie-btn-red"
										data-toggle="modal" data-target="#applyModal"
										th:if="${process!=2&&process!=4}">접수상태 변경</button>

									<!-- Modal -->
									<div class="modal fade" id="applyModal" tabindex="-1"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="applyModalLabel">Modal
														title</h5>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body py-5">
													<label for="statement">접수상태 변경</label>
													<form action="stateUpdateAction" name="updateState"
														method="post">
														<input type="hidden" th:name="${_csrf.parameterName}"
															th:value="${_csrf.token}" /> <input type="hidden"
															name="num" th:value="${param.num}" /> <select
															class="form-control" id="statement"
															name="statement">
															<option th:if="${process<1}" value="0">접수중</option>
															<option th:if="${process==0}" value="1">검토중</option>
															<option th:if="${process==0}" value="2">접수반려</option>
															<option th:if="${process==1}" value="3">공구진행중</option>
															<option th:if="${process==3}" value="4">공구공료</option>
														</select>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">Close</button>
													<button type="button" class="btn btn-primary" id="stateBtn">상태
														저장</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
		<!--게시글 로직 container-->
		<!--wrapper-->
		<script>
			$("#stateBtn").click(function() {
				if (confirm("접수상태는 이전상태로 변경할 수 없습니다. 변경 전 확인해주세요.")) {
					document.updateState.submit();
				}
			})
		</script>
	</div>
</html>