<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/applyForm}">

<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="formContent" class="col">
	<!--------------------------------게시글 타이틀-------------------------------->
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<div class="row">
			<div class="col">
				<form action="proxyApplyFormUpdate" method="post"
					name="proxyApplyUpdateForm" enctype="multipart/form-data">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" /> <input type="hidden" name="num"
						th:value="${param.num}" />
					<div class="form-group d-flex align-items-center">
						<img src="" alt="" class="rounded-circle" width="30" height="30"
							onerror="this.onerror=null; this.src='imgs/default.png';" /><input
							type="text" class="pl-2 form-control-plaintext" id="nickname"
							name="nickname" th:value="${session.nickName}" readonly>
					</div>
					<div class="form-group row">
						<div class="dropdown col-md-3 pie-write-dropdown">
							<button
								class="btn btn-block dropdown-toggle text-left bg-transparent border"
								type="button" data-toggle="dropdown" aria-expanded="false"
								th:attr="data-category=${board.getCategory()}">카테고리</button>
							<input type="hidden" name="category" id="h-input" value="test" />
							<div class="dropdown-menu">
								<a class="dropdown-item" data-category="food">식품</a> <a
									class="dropdown-item" data-category="baby">육아</a> <a
									class="dropdown-item" data-category="beautyAndFashion">뷰티/패션</a>
								<a class="dropdown-item" data-category="pet">반려동물</a> <a
									class="dropdown-item" data-category="life">생활</a> <a
									class="dropdown-item" data-category="etc">기타</a>
							</div>
						</div>
					</div>
					
					<div class="form-group container-fluid border py-3 rounded">
						<div class="row">
							<div class="col-12 mb-2">
								<p class="m-0 px-1">
									<sup class="pie-c-red">*</sup>신청하는 제품에 대해서 입력해주세요.
								</p>
							</div>
							<div class="col-md-6">
								<label for="brand"><small class="pl-1">제품 브랜드</small></label> <input
									type="text" class="form-control" id="brand" name="brand" th:value="${board.getBrand()}">
							</div>
							<div class="col-md-6">
								<label for="productName"><small class="pl-1">제품명</small></label>
								<input type="text" class="form-control" id="productName"
									name="productName" th:value="${board.getProductName()}">

							</div>
						</div>
					</div>
					
					<div class="form-group">
						<input type="text" class="form-control" id="title"
							placeholder="제목" name="title"
							th:value="${board.getTitle()}">
					</div>
					<div class="form-group d-flex">
						<label for="file">
							<div class="btn-upload">
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
									fill="currentColor" class="bi bi-plus-circle"
									viewBox="0 0 16 16">
									<path
										d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
									<path
										d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
								</svg>
							</div>
						</label>
						<div class="file-uploadGroup">
							<th:block
								th:each="i : ${#numbers.sequence(0,board.getProductImgs().length-1)}">
								<figure onclick="deleteFile(this)"
									th:attr="data-originFile = ${board.getProductImgs()[i]}">
									<img
										th:src="@{'/imgs/test/' + ${board.getProductImgs()[i]}}"
										class='pie-img-viewsThumbs'>
									<figcaption></figcaption>
								</figure>
							</th:block>

						</div>
						<input type="hidden" name="ori_files" id="ori_files"
							th:value="${board.getProductImg()}" /> <input type="file"
							name="pic[]" id="file" multiple onchange="addFile(event)">
						<input type="hidden" name="fileStr" id="fileStr"
							th:value="${board.getProductImg()}" />
					</div>
					<textarea id="summernote" name="content"
						th:text="${board.getContent()}"></textarea>
					<div class="text-right">
						<small>잔여 bytes :: </small><small id="messagebyte">11</small><small>
							/ 2000</small>
					</div>
					<div class="form-group row pt-3">
						<div class="col pt-3">
							<label for="URL"><small class="pl-1">참고 URL</small></label><input
								type="text" class="form-control" id="URL" name="URL"
								maxlength="500" th:value="${board.getURL()}">
						</div>
					</div>

					<div class="form-group row justify-content-center mt-5">
						<div class="col-sm-9">
							<button type="button" class="btn btn-block pie-btn-red"
								id="uploadBtn">수정</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--게시글 로직 container-->
	<!--wrapper-->
	<script src="/js/fileUpdate.js"></script>
	<script src="/js/updateSubmit.js"></script>
</div>

</html>