<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/proxyBuying}">

<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="proxyBuyContent" class="col p-0">
	<!--------------------------------게시글 타이틀-------------------------------->
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<div class="row <mb-5></mb-5>">
			<div class="col text-center mb-5">
				<h1>
					원하는 게시글만 쏙쏙! <br>원하는 대로 피드를 구성할 수 있어요!
				</h1>
				<p>파이와 함께 즐거운 공구를 즐기세요!</p>
			</div>
		</div>

		<div class="row my-3">
			<div class="col text-center">
				<h3 class="font-weight-bolder pie-c-red">다음 중 관심있는 키워드를 최대
					10개까지 골라주세요!</h3>
			</div>
		</div>

		<div class="row mb-5 pb-5">
			<div class="col">
				<div class="row justify-content-center">
					<th:block th:each="tag : ${list}">
						<div role="button"
							class="col-4 col-lg-2 col-md-3 mt-2 px-1"
							>
							<div th:text="|#${tag}|" class="tagbuttons d-flex justify-content-center  align-items-center py-5 pie-btn-outline-red-custom border pie-radius"></div>
							
							
							</div>
					</th:block>
				</div>

			</div>
		</div>

		<div class="row my-3 mt-5">
			<div class="col">
				<form action="feedAnalize" name="feedAnalize">
					<input type="hidden" id="feedCategory" name="feedCategory" /> <input
						type="button" id="makeFeedbtn" class="btn btn-block pie-btn-red" value="피드 만들기">
				</form>

			</div>
		</div>
		<div class="row my-3">
			<div class="col">
				<a href="noneFeed" class="btn btn-block pie-btn-darkgray">피드
					설정하지 않고 보기</a>
			</div>
		</div>





		<!-- <div class="row text-center">
			<a class="col-lg-4" href="proxyBuyProducts"> <span
				class="border btn p-4 mb-2 w-100"> 지금 진행하는 공구 보기 </span>
			</a> <a class="col-lg-4" href="proxyBuyApply?page=1"> <span
				class="border btn p-4 mb-2 w-100"> 입점 원하는 물품 신청하러가기 </span>
			</a> <a class="col-lg-4" href="townBuying"> <span
				class="border btn p-4 mb-2 w-100"> 직접 공구 모집하기 </span>
			</a>
		</div> -->
	</div>


	<script>
		$(".tagbuttons").click(function() {
			$(this).toggleClass("active");
			let feedC = $("#feedCategory").val();
			
			if(feedC.indexOf($(this).text())<0){
				feedC += $(this).text();
			}else{
				feedC = feedC.replace($(this).text(),'');
			}
				
			$("#feedCategory").val(feedC);
			
		})

		$(function() {			
			$("#makeFeedbtn").click(function(){
				if ($("#feedCategory").val().length == 0) {
					alert("피드를 구성하기 위해서는 1개 이상의 키워드가 필요합니다.")
					return false;
				}else{
					document.feedAnalize.submit();
				}
			})
			
		})
	</script>

</div>

</html>