<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/boardForm}">

<head>
<!-- include summernote css/js -->
<link
	href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css"
	rel="stylesheet">
<style>
</style>
</head>


<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="formContent" class="col">
	<!--------------------------------게시글 타이틀-------------------------------->
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<div class="row">
			<div class="col">
				<form action="uploadAction" method="post" name="proxyForm"
					enctype="multipart/form-data">
					<div class="form-group d-flex align-items-center">
						<img src="" alt="" class="rounded-circle" width="30" height="30"
							onerror="this.onerror=null; this.src='imgs/default.png';" /><input
							type="text" class="pl-2 form-control-plaintext"
							id="exampleInputEmail1" name="to_nickname"
							th:value="${session.nickName}" readonly>
					</div>
					<div class="form-group row">

						<input type="hidden" name="pr_category" id="pr_category"
							value="test" />
						<div class="dropdown col-md-6">
							<button
								class="btn btn-block dropdown-toggle text-left bg-transparent border"
								type="button" data-toggle="dropdown" aria-expanded="false">
								카테고리</button>
							<div class="dropdown-menu w-100">
								<a class="dropdown-item" href="#">Action</a> <a
									class="dropdown-item" href="#">Another action</a> <a
									class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="exampleInputEmail1"
							placeholder="제목" name="pr_title">
					</div>
					<div class="form-group d-flex">
						<label for="file">
							<div class="btn-upload">
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
									fill="currentColor" class="bi bi-plus-circle"
									viewBox="0 0 16 16">
									<path
										d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
									<path
										d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
								</svg>
							</div>
						</label>
						<div class="file-uploadGroup"></div>
						<input type="file" name="pr_pic[]" id="file" multiple
							onchange="addFile(event)"> <input type="hidden"
							name="pr_files" id="pr_files" />
					</div>
					<textarea id="summernote" name="pr_content"></textarea>

					<div class="form-group row pt-3">
						<div class="col-md-6 pt-3">
							<label for=""><small class="pl-1">모집인원</small></label><input
								type="number" class="form-control" id="pr_personnelMax"
								name="pr_personnelMax" min="1" max="300" value="1">
						</div>
						<div class="col-md-6 pt-3">
							<label for=""><small class="pl-1">모집마감일</small></label> <input
								type="date" class="form-control" id="pr_deadLine"
								name="pr_deadLine">

						</div>
					</div>

					<div class="form-group row">
						<div class="col-md-6 pt-3">
							<label for=""><small class="pl-1">모집 가격(총합)</small></label> <input
								type="text" class="form-control" id="price_total"
								name="price_total">
						</div>
						<div class="col-md-6 pt-3">
							<label for=""><small class="pl-1">모집 가격(인당)</small></label> <input
								type="text" class="form-control" id="price_per" name="price_per">

						</div>
					</div>

					<div class="form-group">
						<label for=""><small class="pl-1">태그</small></label>
						<div class="form-control d-flex overflow-hidden">
							<div id="tagGroup" class="d-flex align-items-center"></div>
							<input type="hidden" readonly name="pie_tagsOutput"
								id="pie_tagsOutput" /> <input type="text"
								class="border-0 flex-fill" id="pie_tags_input"
								placeholder="태그는 최대 5개 등록가능하며, 스페이스바/엔터로 구분합니다. (특수문자 사용불가)">
						</div>
					</div>

					<div class="form-group row justify-content-center mt-5">
						<div class="col-sm-9">
							<button type="button" class="btn btn-block pie-btn-red"
								id="uploadBtn">등록</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--게시글 로직 container-->
	<!--wrapper-->
	<script
		src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
	<script>
	const slider = document.querySelector('.file-uploadGroup');
	let isDown = false;
	let startX;
	let scrollLeft;
	
	slider.addEventListener('mousedown', e => {
	  isDown = true;
	  slider.classList.add('active');
	  startX = e.pageX - slider.offsetLeft;
	  scrollLeft = slider.scrollLeft;
	});
	
	slider.addEventListener('mouseleave', () => {
	  isDown = false;
	  slider.classList.remove('active');
	});
	
	slider.addEventListener('mouseup', () => {
	  isDown = false;
	  slider.classList.remove('active');
	});
	
	slider.addEventListener('mousemove', e => {
	  if (!isDown) return; 
	  e.preventDefault();
	  const x = e.pageX - slider.offsetLeft;
	  const walk = x - startX;
	  slider.scrollLeft = scrollLeft - walk;
	});
	</script>

	<script>
	let pie_tags_input = $("#pie_tags_input");
	let tagGroup = $("#tagGroup");
	let tags_str = '';
	let pie_tagsOutput = $("#pie_tagsOutput");
	
	
	pie_tags_input.keyup(function(key){
		if(key.keyCode==13||key.keyCode==32){
			let tag = $(this).val(); 
			tag = tag.replace(" ","");
			tag = tag.replace(/[^\w\s가-힣ㄱ-ㅎㅏ-ㅣ]/g, '');
			if(tag==""){
				alert("입력된 값이 없습니다.(특수문자는 태그에 포함할 수 없습니다.)")
				return;
			}
			console.tag
			tagGroup.append('<span class="badge badge-info badge-pill d-flex align-items-center p-2 mr-2">#'+ tag +'<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-circle-fill ml-1" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/></svg></span>');
			tags_str += "#"+tag;
			pie_tagsOutput.val(tags_str);
			
			$(this).val('');
			console.log(tags_str);
			
			let tagNum = $("#tagGroup .badge").length;
			if(tagNum==5){
				pie_tags_input.hide();
			}
		}
		})
		
			$(document).on("click","span.badge",function(event){
			let removedtag = $(this).text();
			tags_str = tags_str.replace(removedtag,'');
			pie_tagsOutput.val(tags_str);

			$(this).remove(); 
			
			let tagNum = $("#tagGroup .badge").length;
			
			if(tagNum<5){
				pie_tags_input.show();
			}
		})
		
	</script>
	<script>
	$(function(){
		
		let price_total = $("#price_total");
		let price_per = $("#price_per");
		let personNum = $("#pr_personnelMax");
		
		
		price_total.change(function(){
			console.log(personNum.val());
				if(isNaN($(this).val())||$(this).val()<0){
					price_total.val(0)
				}
				price_per.val(Math.floor(price_total.val() / personNum.val()));
			})
			
			
			price_per.change(function(){
				console.log(price_total.val());
				if(isNaN($(this).val())||$(this).val()<0){
					price_per.val(0)
				}
				price_total.val(Math.floor(price_per.val() * personNum.val()));
			})
			
			personNum.change(function(){
				
				console.log(price_total.val());
				console.log(price_per.val());
				if(isNaN(price_total.val())||isNaN(price_per.val())||price_total.val()<0||price_per.val()<0){
					price_total.val(0)
					price_per.val(0)
				}
				price_per.val(Math.floor(price_total.val() / personNum.val()));
				price_total.val(Math.floor(price_per.val() * personNum.val()));
			})
		
	})
		</script>
	<script>
		$(document).ready(function () {
			$('#summernote').summernote({
				minHeight: 400,             // 최소 높이
				maxHeight: null,             // 최대 높이
				focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
				lang: "ko-KR",					// 한글 설정
				spellCheck: false,
				/*callbacks: {	//이미지 첨부하는 부분
					onImageUpload: function (files) {
						uploadSummernoteImageFile(files[0], this);
					}
				},*/
				toolbar: [
					// [groupName, [list of button]]
					['style', ['bold', 'italic', 'underline', 'clear']],
					['font', ['strikethrough', 'superscript', 'subscript']],
					['color'],
					['para', ['ul', 'ol', 'paragraph']],
					['height', ['height']]
				],
				disableDragAndDrop: true
			});

			/*function uploadSummernoteImageFile(file, editor) {
				var resultUrl;

				data = new FormData();
				data.append("file", file);

				$.ajax({
					data: data,
					type: "POST",
					url: "/uploadSummernoteImageFile",
					contentType: false,
					processData: false,
					success: function (data) {
						$(editor).summernote('insertImage', data.url);
					}
				});

			}*/

			$("#uploadBtn").on('click', submitForm);
		})

	</script>
	<script>
		var fileNo = 0;
		var filesArr = new Array();

		/* 첨부파일 추가 */
		function addFile(event) {
			let maxFileCnt = 5;
			let attFileCnt = document.querySelectorAll('.pie-img-viewsThumbs').length;
			let remainFileCnt = maxFileCnt - attFileCnt;
			let curFileCnt = event.target.files.length;


			if (curFileCnt > remainFileCnt) {
				alert("첨부파일은 최대 " + maxFileCnt + "개 까지 첨부 가능합니다.");
			}

			async function processFiles() {
				for (var i = 0; i < Math.min(curFileCnt, remainFileCnt); i++) {
					const file = event.target.files[i];

					if (validation(file)) {
						await new Promise((resolve) => {
							var reader = new FileReader();
							reader.onload = function () {
								resolve(reader.result);
							};
							reader.readAsDataURL(file);
						}).then(function (result) {
							filesArr.push(file);
							let htmlData = "<figure onclick = 'deleteFile(" + i + ")'><img src ='" + result + "' id='file" + fileNo + "' class='pie-img-viewsThumbs'><figcaption></figcaption><figure>";
							$('.file-uploadGroup').append(htmlData);
							fileNo++;
						});
					}
				}
				document.querySelector("input[type=file]").value = "";
				
				attFileCnt = document.querySelectorAll('.pie-img-viewsThumbs').length;
				remainFileCnt = maxFileCnt - attFileCnt;
				if(remainFileCnt==0){
					$(".btn-upload").hide();
				}
			}
			processFiles();
			
		}

		/* 첨부파일 검증 */
		function validation(obj) {
			const fileTypes = ['image/gif', 'image/jpeg', 'image/png', 'image/bmp', 'image/tif'];
			if (obj.name.length > 100) {
				alert("파일명이 100자 이상인 파일은 제외되었습니다.");
				return false;
			} else if (obj.size > (3 * 1024 * 1024)) {
				alert("최대 파일 용량인 3MB를 초과한 파일은 제외되었습니다.");
				return false;
			} else if (obj.name.lastIndexOf('.') == -1) {
				alert("확장자가 없는 파일은 제외되었습니다.");
				return false;
			} else if (!fileTypes.includes(obj.type)) {
				alert("첨부가 불가능한 파일은 제외되었습니다.");
				return false;
			} else {
				return true;
			}
		}

		/* 첨부파일 삭제 */
		function deleteFile(num) {			
			document.querySelector("#file" + num).remove();
			filesArr[num].is_delete = true;
			
			let maxFileCnt = 5;
			let attFileCnt = document.querySelectorAll('.pie-img-viewsThumbs').length;
			let remainFileCnt = maxFileCnt - attFileCnt;
			
			if(remainFileCnt>0){
				$(".btn-upload").show();
			}
			
		}

		/* 폼 전송 */
		function submitForm() {
			
			// 폼데이터 담기
			var form = document.proxyForm;
			var formData = new FormData(form);
			for (var i = 0; i < filesArr.length; i++) {
				// 삭제되지 않은 파일만 폼데이터에 담기
				if (!filesArr[i].is_delete) {
					formData.append("attach_file", filesArr[i]);
				}
			}
			$.ajax({
				method: 'POST',
				url: '/imageUploading',
				data: formData,
				contentType: false,
				processData: false,
				success: function (response) {
					console.log('전송 성공', response);
					$("#pr_files").val(response);
					document.proxyForm.submit();
				},
				error: function (xhr, desc, err) {
					console.error('전송 실패', err);
				}
			});
		}

		/*var sel_files = [];
		
		$(function(){
			$("#file").on("change", handleImgFileSelect);
		});
		
		function fileUploadAction(e){
			console.log("fileUploadAction")
			$("#file").trigger('click');
		}
		
		function handleImgFileSelect(e){
			sel_files = [];
			$(".file-uploadGroup").empty();
			
			let files = e.target.files;
			let filesArr = Array.prototype.slice.call(files);
			
			let i = 0;
			filesArr.forEach(function(event){
				if(!event.type.match("image.*")){
					alert("확장자는 이미지 확장자만 가능합니다.");
					return;
				}
				
				sel_files.push(event);
				
				var reader = new FileReader();
				reader.onload = function(e){
					let html = "<img src ="+e.target.result +">";
					$(".file-uploadGroup").append(html);
					i++;
				}
				reader.readAsDataURL(event);
			})
		}*/

		/*function imageChange(event) {
			let i = event.target.files.length - 1;
			for (let image of event.target.files) {
				const reader = new FileReader();
				reader.onload = function (event) {
					let img = document.createElement("img");
					img.setAttribute("src", event.target.result);
					img.setAttribute("width", 120);
					img.setAttribute("height", 120);
					document.querySelector(".file-uploadGroup").appendChild(img);
				}
				reader.readAsDataURL(event.target.files[i--]);
			}
		} 감지가 느림*/
	</script>
</div>

</html>