<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/proxyBuying}">

<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="proxyBuyContent" class="col">
	<!--------------------------------게시글 타이틀-------------------------------->
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<div class="row mb-5">
			<div class="col text-center">
				<h1>나누고 싶은 상품을 신청해주세요!</h1>
			</div>
		</div>
		<div class="row justify-content-center py-3">
			<div class="col">
				<div class="list-group">
					<div class="list-group-item">
						<div class="row align-items-center">
							<div class="col-lg-2 col-3">
								<p class="mb-0 ml-1">이미지</p>
							</div>
							<div class="col-lg-10 col-9">
								<div class="d-flex w-100 justify-content-between">
									<p class="m-0">제목</p>
									<p class="mb-0 mr-3">상태</p>

								</div>
							</div>
						</div>
					</div>


					<th:block th:if=${list!=null||list.size()!=0}>
						<th:block th:each="board : ${list}">
							<a th:href="@{'viewProxyApplyBoard?num='+${board.getNum()}}"
								class="list-group-item list-group-item-action">
								<div class="row align-items-center">
									<div class="col-lg-2 col-3">
										<img
											th:src="@{'/imgs/test/' + ${board.getProductImg().substring(0,board.getProductImg().indexOf('/'))}}"
											alt="" class="img-thumbnail pie-applyThumbnails" width="100"/>
									</div>
									<div class="col-lg-10 col-9">
										<div class="d-flex w-100 justify-content-between align-items-center">

											<h5 class="mb-0"
												th:text="|[${board.getCategory()}] ${board.getTitle()}|">상품
												요청합니다!</h5>

											<div class="d-flex flex-column">
												<small
													th:text="${#strings.substring(board.getChkDay(), 0, 10)}"></small>
												<span th:if="${board.getProcess() eq '접수중'}" class="badge badge-info"
													th:text="${board.getProcess()}"></span>
													<span th:if="${board.getProcess() eq '검토중'}" class="badge badge-warning"
													th:text="${board.getProcess()}"></span>
													<span th:if="${board.getProcess() eq '접수반려'}" class="badge badge-warning"
													th:text="${board.getProcess()}"></span>
													<span th:if="${board.getProcess() eq '공구진행중'}" class="badge badge-primary"
													th:text="${board.getProcess()}"></span>
													<span th:if="${board.getProcess() eq '공구종료'}" class="badge badge-secondary"
													th:text="${board.getProcess()}"></span>
											</div>
										</div>
										<small
											th:text="|[${board.getBrand()}] ${board.getProductName()}|"></small>
									</div>
								</div>
							</a>
						</th:block>
					</th:block>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col text-right">
				<a href="proxyApplyForm" class="btn pie-btn-red">글쓰기</a>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex justify-content-center">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item"><a class="page-link"
							href="proxyBuyApply?page=1" aria-label="Previous"> <span
								aria-hidden="true">&laquo;</span>
						</a></li>
						<th:block th:each="i : ${#numbers.sequence(1,pageNum)}">
						<li th:if="${#strings.equals(param.page, i)}" class="page-item active"><a class="page-link"
								th:href="@{'proxyBuyApply?page='+${i}}" th:text="${i}"></a></li>
							<li th:unless="${#strings.equals(param.page, i)}" class="page-item"><a class="page-link"
								th:href="@{'proxyBuyApply?page='+${i}}" th:text="${i}"></a></li>
						</th:block>
						<li class="page-item"><a class="page-link"
							th:href="@{'proxyBuyApply?page='+${pageNum}}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
						</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!--게시글 로직 container-->
	<!--wrapper-->

</div>

</html>