<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/townBuying}">



<div layout:fragment="townBuyContent" class="col">

	<div
		th:replace="~{pieContents/townBuying/townbuySearchSpot::searchSpot}" />

	<div class="container mb-5">

		<div class="row mb-5">

			<div class="col">


				<div class="card-columns">

					<a class="card hj-radius-30" th:each="list:${list}"
						th:href="@{'townBuyproduct?num=' + ${list.getTo_num()}}"> <img
						th:src="@{'/imgs/test/' + ${list.getTo_productImg().substring(0,list.getTo_productImg().indexOf('/'))}}"
						class="card-img-top hj-radius-img-30" alt="...">
						<div class="card-body">
							<h5 class="card-title" th:text="${list.getTo_title()}"></h5>


							<div class="row mt-5">
								<div class="col d-flex justify-content-end">
									<img th:src="@{'/imgs/profiles/' + ${list.getTo_profileImg()}}"
										alt="" class="hj-chat-proImg-small" />
									<h6 class="card-title ml-3 mt-2"
										th:text="${list.getTo_nickname()}"}></h6>
								</div>

							</div>

						</div>
					</a>

				</div>
			</div>
		</div>



		<div class="row mt-5">
			<div class="col text-center">
				<button type="button" class="btn border btn-block"
					id="loadMoreButton">더보기</button>
				<div id="cardContainer"></div>
			</div>
		</div>



	</div>

	<script src="js/townBuying.js"></script>


</div>



</html>