<!DOCTYPE html>


<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/townBuying}">

<div th:fragment="searchSpot" class="container-fluid px-0">
	<div class="container">

		<div class="row mt-5 mb-4">



			<div class="col-12">

				<h1 class="text-center font-weight-bolder">어떤 파이 조각을 찾아볼까요?</h1>

			</div>


		</div>

	</div>


	<!-- 검색창 및 #태그 -->

	<div class="container mb-5">

		<form action="searchProducts" class="pie-search mb-4" method="get"
			name="searchForm">
			<input type="hidden" name="category" id="category" /> <input
				type="hidden" name="table" value="t" />

			<div class="dropdown" id="selectCategory">

				<a class="btn dropdown-toggle" href="#" role="button"
					data-toggle="dropdown" aria-expanded="false">카테고리 </a>

				<div class="dropdown-menu">
					<a class="dropdown-item" data-category="">전체</a> <a
						class="dropdown-item" data-category="food">식품</a> <a
						class="dropdown-item" data-category="baby">육아</a> <a
						class="dropdown-item" data-category="beautyAndFashion">뷰티/패션</a> <a
						class="dropdown-item" data-category="pet">반려동물</a> <a
						class="dropdown-item" data-category="life">생활</a> <a
						class="dropdown-item" data-category="etc">기타</a>
				</div>



			</div>

			<input type="text" name="townKeyword" id="townKeyword"
				class="flex-fill">

			<button type="submit"></button>

		</form>




		<div class="row mb-5">


			<!-- 클릭시 검색어 자동 완성 -->
			<div class="col text-center">

				<a th:each="keyWord : ${bestKey}" type="button" class="m-1"
					th:href="@{'searchProducts?table=t&category=&townKeyword='+${keyWord}}"
					th:text="|#${keyWord}|"></a>


			</div>


		</div>


	</div>



	<div class="container w-75 mb-5 border-bottom">

		<div class="row mb-5">


			<div
				class="col-4 col-md-2 d-flex justify-content-center align-items-center">
				<a href="/townBuyingCategoryChoice?category=food"
					class="text-dark text-center"> <span
					class="material-symbols-outlined hj-sub-icon-size">dinner_dining</span>
					<p class="">식품</p>
				</a>
			</div>

			<div
				class="col-4 col-md-2 d-flex justify-content-center align-items-center">
				<a href="/townBuyingCategoryChoice?category=baby"
					class="text-dark text-center"> <span
					class="material-symbols-outlined hj-sub-icon-size">child_care</span>
					<p class="text-center">육아</p>
				</a>
			</div>

			<div
				class="col-4 col-md-2 d-flex justify-content-center align-items-center">
				<a href="/townBuyingCategoryChoice?category=beautyAndFashion"
					class="text-dark text-center"> <span
					class="material-symbols-outlined hj-sub-icon-size">apparel</span>
					<p class="text-center">뷰티/패션</p>
				</a>
			</div>

			<div
				class="col-4 col-md-2 d-flex justify-content-center align-items-center">
				<a href="/townBuyingCategoryChoice?category=petf"
					class="text-dark text-center"> <span
					class="material-symbols-outlined hj-sub-icon-size">pets</span>
					<p class="text-center">반려동물</p>
				</a>
			</div>

			<div
				class="col-4 col-md-2 d-flex justify-content-center align-items-center">
				<a href="/townBuyingCategoryChoice?category=life"
					class="text-dark text-center"> <span
					class="material-symbols-outlined hj-sub-icon-size">favorite</span>
					<p class="text-center">생활</p>
				</a>
			</div>

			<div
				class="col-4 col-md-2 d-flex justify-content-center align-items-center">
				<a href="/townBuyingCategoryChoice?category=etc"
					class="text-dark text-center"> <span
					class="material-symbols-outlined hj-sub-icon-size">more_horiz</span>
					<p class="text-center">기타</p>
				</a>
			</div>



		</div>

	</div>

</div>

</html>