
<!DOCTYPE html>


<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/townBuying}">



<div layout:fragment="townBuyContent" class="col p-0">

	<div
		th:replace="~{pieContents/townBuying/townbuySearchSpot::searchSpot}" />

	<div class="container my-5 py-5">

		<h3 class="font-weight-bolder pie-c-red"># 프리미엄 회원 공구</h3>
		<h6 class="mb-5 text-center text-md-left text-sm-small">프리미엄 회원이
			진행하는 특별한 공구!</h6>

		<div class="row">


			

			

			<div class="col-12 col-md-4 mb-4">

				<h4>식품</h4>
				<small>파이로 합리적인 가격으로</small>
				<hr>




				<div id="carousel1" class="carousel slide" data-ride="carousel">




					<div class="carousel-inner">



						<div class="carousel-item" th:each="Fboard:${PFoodList}">

							<a class="card hj-sub1-card-h-400 hj-radius-30"
								th:href="@{'townBuyproduct?num=' + ${Fboard.getTo_num()}}">


								<img
								th:src="@{'/imgs/test/' + ${Fboard.getTo_productImg().substring(0,Fboard.getTo_productImg().indexOf('/'))}}"
								class="card-img-top  hj-sub1-card-part-h img-fluid  hj-radius-img-30 hj-fit-cover"
								alt="...">

								<p id="processNow" class="position-absolute hj-card-process1">

<!-- 									<small
										class="badge badge-success"
										th:if="${Fboard.getTo_process().equals('1')}">진행중</small> -->
									<small
										class="badge badge-danger"
										th:if="${Fboard.getTo_process().equals('0')}">모집마감</small>
								</p>

								<div class="card-body">

									<h5 class="card-title mt-1 text-truncate" th:text="${Fboard.getTo_title()}">Card
										title</h5>

									<div class="row  mt-5">
										<div class="col d-flex justify-content-end">
																						

											
											
											
											<img
												th:src="@{'/imgs/profiles/' + ${Fboard.getTo_profileImg()}}"
												alt="" class="hj-chat-proImg-small" />
												
												
			
											
											
											<h6 class="card-title ml-3 mt-2"
												th:text="${Fboard.getTo_nickname()}"></h6>
												
										</div>

									</div>

								</div>

							</a>

						</div>


					</div>






					<button class="carousel-control-prev" type="button"
						data-target="#carousel1" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</button>
					<button class="carousel-control-next" type="button"
						data-target="#carousel1" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</button>


				</div>



			</div>





			<div class="col-12 col-md-4 mb-4">

				<h4>육아</h4>
				<small>너무 이쁜 우리 아이를 위한 선물</small>
				<hr>





				<div id="carousel2" class="carousel slide" data-ride="carousel2">


					<div class="carousel-inner">



						<div class="carousel-item" th:each="Bboard:${PBabyList}">

							<a class="card hj-sub1-card-h-400 hj-radius-30"
								th:href="@{'townBuyproduct?num=' + ${Bboard.getTo_num()}}">


								<img
								th:src="@{'/imgs/test/' + ${Bboard.getTo_productImg().substring(0,Bboard.getTo_productImg().indexOf('/'))}}"
								class="card-img-top  hj-sub1-card-part-h img-fluid hj-radius-img-30 hj-fit-cover"
								alt="...">




								<p id="processNow" class="position-absolute hj-card-process1">
<!-- 
									<small
										class="badge badge-success"
										th:if="${Bboard.getTo_process().equals('1')}">진행중</small> -->
									<small
										class="badge badge-danger"
										th:if="${Bboard.getTo_process().equals('0')}">모집마감</small>
								</p>
								
								

								<div class="card-body">

									<h5 class="card-title mt-1  text-truncate" th:text="${Bboard.getTo_title()}">Card
										title</h5>

									<div class="row  mt-5">
										<div class="col d-flex justify-content-end">
											<img
												th:src="@{'/imgs/profiles/' + ${Bboard.getTo_profileImg()}}"
												alt="" class="hj-chat-proImg-small" />
											<h6 class="card-title ml-3 mt-2"
												th:text="${Bboard.getTo_nickname()}"></h6>
										</div>

									</div>

								</div>

							</a>

						</div>

					</div>


					<button class="carousel-control-prev" type="button"
						data-target="#carousel2" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</button>
					<button class="carousel-control-next" type="button"
						data-target="#carousel2" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</button>
				</div>

			</div>






			<div class="col-12 col-md-4 mb-4">

				<h4>생활</h4>
				<small>똑똑한 생활 파이와 함께</small>
				<hr>


				<div id="carousel3" class="carousel slide" data-ride="carousel3">




					<div class="carousel-inner">



						<div class="carousel-item" th:each="Lboard:${PLifeList}">

							<a class="card hj-sub1-card-h-400 hj-radius-30"
								th:href="@{'townBuyproduct?num=' + ${Lboard.getTo_num()}}">


								<img
								th:src="@{'/imgs/test/' + ${Lboard.getTo_productImg().substring(0,Lboard.getTo_productImg().indexOf('/'))}}"
								class="card-img-top  hj-sub1-card-part-h img-fluid hj-radius-img-30 hj-fit-cover"
								alt="...">
								
								
								<p id="processNow" class="position-absolute hj-card-process1">

<!-- 									<small
										class="badge badge-success"
										th:if="${Lboard.getTo_process().equals('1')}">진행중</small> -->
									<small
										class="badge badge-danger"
										th:if="${Lboard.getTo_process().equals('0')}">모집마감</small>
								</p>
								


								<div class="card-body">

									<h5 class="card-title mt-1 text-truncate"
										th:text="${Lboard.getTo_title()}">Card title</h5>

									<div class="row  mt-5">
										<div class="col d-flex justify-content-end">
											<img
												th:src="@{'/imgs/profiles/' + ${Lboard.getTo_profileImg()}}"
												alt="" class="hj-chat-proImg-small" />
											<h6 class="card-title ml-3 mt-2"
												th:text="${Lboard.getTo_nickname()}"></h6>
										</div>

									</div>
								</div>

							</a>

						</div>


					</div>



					<button class="carousel-control-prev" type="button"
						data-target="#carousel3" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</button>
					<button class="carousel-control-next" type="button"
						data-target="#carousel3" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</button>
				</div>

			</div>

		</div>

	</div>
	<!-- 프리미엄회원 게시글 카테고리별 노출 -->



	<div class="container">
		<!-- 공구 게시글 작성 - 배너스타일 -->
		<div class="row">

			<div class="col-12 px-0">

				<a href="townForm"
					class="btn border w-100 py-5 mb-5 pie-btn-red hj-radius-30"> <span
					class="h2 d-block text-white">누구나 가능한 파이!</span> <span
					class="text-white">바로가기</span>
				</a>

			</div>

		</div>

	</div>





	<div class="container my-5">

		<h3 class="font-weight-bolder pie-c-red"># 우리 동네 파이</h3>
		<small></small>

		<div class="row mt-4">


			<div class="col-12 col-lg-6 townBuyCard" th:each="board:${list}">

				<a class="card mb-3 hj-radius-30 p-0 shadow border-0"
					th:href="@{'townBuyproduct?num=' + ${board.getTo_num()}}">

					<div class="card-body p-0 hj-sub1-card-h-170">

						<div class="row">

							<div class="col-5">

								<img
									th:src="@{'/imgs/test/' + ${board.getTo_productImg().substring(0,board.getTo_productImg().indexOf('/'))}}"
									class="card-img-top hj-cardImg-left img-fluid w-100 hj-sub1-card-h-170 hj-fit-cover"
									alt="...">

								<p id="processNow" class="position-absolute hj-card-process4">

<!-- 									<small
										class="badge badge-success"
										th:if="${Bboard.getTo_process().equals('1')}">진행중</small> -->
									<small
										class="badge badge-danger"
										th:if="${board.getTo_process().equals('0')}">모집마감</small>
								</p>
								




							</div>

							<div class="col-7 hj-sub1-card-h-170 py-4 pl-0">
							
							

								
								<p class="m-0 pie-c-red small"
									th:text="${board.getTo_category()}"></p>
								<h5 class="card-title pr-3 text-truncate"
									th:text="${board.getTo_title()}"></h5>


								<div class="row mt-5 mr-3">
									<div class="col d-flex align-items-center">
										<img
											th:src="@{'/imgs/profiles/' + ${board.getTo_profileImg()}}"
											alt="" class="pie-profilePic" />
										<h6 class="card-title ml-2 mb-0"
											th:text="${board.getTo_nickname()}"}></h6>
									</div>

								</div>
							</div>


						</div>



					</div>



				</a>



			</div>

		</div>


		<div class="row mt-5">
			<div class="col text-center">
				<button type="button" class="btn border btn-block"
					id="loadMoreButton">더보기</button>
				<div id="cardContainer"></div>
			</div>
		</div>

	</div>




	<script src="js/townBuying.js"></script>


</div>


</html>