<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/townBuying}">



<div layout:fragment="townBuyContent" class="col">

	<div
		th:replace="~{pieContents/townBuying/townbuySearchSpot::searchSpot}" />

	<div class="container mb-5">

		<div class="row mb-5">

			<div class="col ">


				<div class="card-columns townBuyCard">

					<a class="card hj-radius-30" th:each="list:${list}"
						th:href="@{'townBuyproduct?num=' + ${list.getNum()}}">
						<img
						th:src="@{'/imgs/test/' + ${list.getProductImg().substring(0,list.getProductImg().indexOf('/'))}}"
						class="card-img-top hj-radius-img-30" alt="...">
						
						
						<p id="processNow" class="position-absolute hj-card-process3">

<!-- 									<small
										class="badge badge-success"
										th:if="${Bboard.getProcess().equals('1')}">진행중</small> -->
							<small
								class="badge badge-danger"
								th:if="${list.getProcess().equals('0')}">모집마감</small>
						</p>
														
						
						
						
						<div class="card-body">
							<h6 class="card-title font-weight-bold" th:text="${list.getTitle()}"></h6>


							<div class="row mt-5 hj-height-category">
								<div class="col d-flex justify-content-end  position-absolute hj-position-category">
									<img th:src="@{'/imgs/profiles/' + ${list.getProfileImg()}}"
										alt="" class="hj-chat-proImg-small" />
									<p class="card-title ml-3 mt-2"
										th:text="${list.getNickname()}"}></p>
								</div>

							</div>

						</div>
					</a>

				</div>
			</div>
		</div>



		<div class="row mt-5">
			<div class="col text-center">
				<button type="button" class="btn border btn-block"
					id="loadMoreButton">더보기</button>
				<div id="cardContainer"></div>
			</div>
		</div>



	</div>

	<script src="js/townBuying.js"></script>
	

</div>



</html>