<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/boardForm}">

<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="formContent" class="col">
	<!--------------------------------게시글 타이틀-------------------------------->
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<div class="row">
			<div class="col">

				<th:block th:switch="${form}">
					<th:block th:case="town" th:with="act='writeTownBoard'">
						<form th:replace="~{pieFragments/boardForms::boardForms}"></form>
					</th:block>
					<th:block th:case="proxy" th:with="act='uploadAction'">
						<form th:replace="~{pieFragments/boardForms::boardForms}"></form>
					</th:block>
					<th:block th:case="share" th:with="act='insertBoard'">
						<form th:replace="~{pieFragments/boardForms::boardForms}"></form>
					</th:block>
				</th:block>
			</div>
		</div>
	</div>

	<!-- dropdown 카테고리 설정 -->

</div>

</html>