<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/townBuying}">

<div layout:fragment="townBuyContent" class="col">


	<div class="container-fluid px-0">


		<div class="container">
			<div class="row mb-5">
				<div class="col text-center">
					<h1>우리 동네 파이찾기!</h1>
					<p>우리동네에서 진행중인 파이로 나누고 함께해요</p>
				</div>
			</div>


			<input type="hidden" th:value="${session.userId}" id="nowLogin" />

			<div class="row mb-5 mx-auto">

				<!-- <div class="col-12 col-lg-2"> -->
				<div class="col-12">

					
					
					<!-- <ul class="list-unstyled d-flex flex-wrap flex-lg-column justify-content-center" -->


				</div>


				<!-- 지도 들어갈 자리 -->

				<!-- <div class="col-12 col-lg-10 mt-3 mb-5 mt-lg-0"> -->
				<div class="col-12 mt-3 mb-5 mt-lg-0 hyej-haveMap overflow-hidden">


					<div id="map" class="mb-5 hj-radius-30 shadow" style="width: 100%; height: 500px;" >
		
								<!-- 지도 표시될 영역 -->
							<ul class="list-unstyled d-flex flex-wrap justify-content-center hyej-customs-btnset w-100"
								id="categoryBtns">
		
								<li class="mx-1 mb-1">
									<!-- 전체 페이지 보여주기 -->
									<button type="button" class="btn pie-btn-red hj-radius-30 w-100 categoryBtn" data-category="all" id="showAllBtn">우리동네공구</button>
								</li>
		
								<li class="mx-1 mb-1">
									<button type="button"
										class="btn pie-btn-red w-100 categoryBtn hj-radius-30 "
										data-category="food">식품</button>
								</li>
		
								<li class="mx-1 mb-1">
									<button type="button"
										class="btn pie-btn-red w-100 categoryBtn hj-radius-30 "
										data-category="baby">육아</button>
								</li>
		
								<li class="mx-1 mb-1">
									<button type="button"
										class="btn pie-btn-red w-100 categoryBtn hj-radius-30 "
										data-category="beautyAndFashion">뷰티/패션</button>
								</li>
		
								<li class="mx-1 mb-1">
									<button type="button"
										class="btn pie-btn-red w-100 categoryBtn hj-radius-30 "
										data-category="pet">반려동물</button>
								</li>
								<li class="mr-1 mb-1">
									<button type="button"
										class="btn pie-btn-red w-100 categoryBtn hj-radius-30 "
										data-category="life">생활</button>
								</li>
								<li class="mx-1 mb-1">
									<button type="button"
										class="btn pie-btn-red w-100 categoryBtn hj-radius-30 "
										data-category="etc">기타</button>
								</li>
		
							</ul>
					</div>
					



				</div>



				<!-- 지도 영역 조절할 bar -->


<!-- 				<div class="col-12 col-lg-2 d-none d-md-block mt-3"></div>

				<div class="col-12 col-lg-10 d-none d-md-block mt-3">

					<h2 for="formControlRange">어디까지 보여드릴까요?</h2>
					<input type="range" class="form-control-range" id="mapRange"
						min="4" max="6" value="1" step="1">

					<div class="row mt-2">


						<div class="col-1">
							<p class="strong">1km</p>
						</div>

						<div class="col-10 text-center">
							<p class="strong">2km</p>
						</div>

						<div class="col-1 text-right">
							<p class="strong">3km</p>
						</div>

					</div>

				</div> -->


			</div>




			<div class="row my-5">
				<div class="col text-center mt-5">
					<h1>지금 바로 시작해볼까요?</h1>
					<p>파이와 함께 즐거운 공구를 즐기세요!</p>
				</div>
			</div>


			<div class="row mb-5">
				<div class="col-md-6">
					<a href="townBuySearch" class="btn pie-btn-red w-100 p-5 mb-3 hj-radius-30">
						<span class="h2 d-block ">공구글 모두보기</span> <span>바로가기</span>
					</a>
				</div>

				<div class="col-md-6">
					<a href="townForm" class="btn border pie-btn-brown w-100 p-5 mb-3 hj-radius-30">
						<span class="h2 d-block">내 상품 공구하기</span> <span>바로가기</span>
					</a>
				</div>
			</div>

		</div>

	</div>

	
	<script type="text/javascript"
		th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?appkey='+${Mapi}+'&libraries=services'}"></script>
	<script src="js/map.js"></script>
	
	
</div>


</html>