

<!DOCTYPE html>


<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/townBuying}">
	
	

<div layout:fragment="townBuyContent" class="col">


	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />


	<div class="container-fluid px-0">


		<div class="container">

			<div class="row mt-5 mb-4">



				<div class="col-12">

					<h1 class="text-center">어떤 공구를 찾으세요?</h1>

				</div>


			</div>

		</div>


		<!-- 검색창 및 #태그 -->

		<div class="container mb-5">

			<form action="searchTownBuy" class="pie-search mb-4" method="get"
				name="searchForm">
				<input type="hidden" name="category" id="category" />

				<div class="dropdown" id="selectCategory">

					<a class="btn dropdown-toggle" href="#" role="button"
						data-toggle="dropdown" aria-expanded="false">카테고리 </a>

					<div class="dropdown-menu">
						<a class="dropdown-item" data-category="">전체</a> <a
							class="dropdown-item" data-category="food">식품</a> <a
							class="dropdown-item" data-category="baby">육아</a> <a
							class="dropdown-item" data-category="beautyAndFashion">뷰티/패션</a>
						<a class="dropdown-item" data-category="pet">반려동물</a> <a
							class="dropdown-item" data-category="life">생활</a> <a
							class="dropdown-item" data-category="etc">기타</a>
					</div>



				</div>

				<input type="text" name="townKeyword" id="townKeyword"
					class="flex-fill">

				<button type="submit"></button>

			</form>




			<div class="row mb-5">
			

				<!-- 클릭시 검색어 자동 완성 -->
				<div class="col text-center mb-3">

					<a type="button" class="m-1" href="searchTownBuy?category=&townKeyword=코스트코">#코스트코</a>
					<a type="button" class="m-1" href="searchTownBuy?category=&townKeyword=트레이더스">#트레이더스</a>
					<a type="button" class="m-1" href="searchTownBuy?category=&townKeyword=이마트">#이마트</a>
					<a type="button" class="m-1" href="searchTownBuy?category=&townKeyword=코스트코">#코스트코</a>
					<a type="button" class="m-1" href="searchTownBuy?category=&townKeyword=트레이더스">#트레이더스</a>
					<a type="button" class="m-1" href="searchTownBuy?category=&townKeyword=이마트">#이마트</a>

				</div>


			</div>


		</div>



		<div class="container w-75 mb-5 border-bottom">

			<div class="row mb-5">


				<div
					class="col-4 col-md-2 d-flex justify-content-center align-items-center">
							<a href="/townBuyingCategoryChoice?category=food" class="text-dark text-center">
								<span class="material-symbols-outlined hj-sub-icon-size">dinner_dining</span>
								<p class="">식품</p>
							</a>
				</div>

				<div
					class="col-4 col-md-2 d-flex justify-content-center align-items-center">
							<a href="/townBuyingCategoryChoice?category=baby" class="text-dark text-center">
								<span class="material-symbols-outlined hj-sub-icon-size">child_care</span>
								<p class="text-center">육아</p>
							</a>
				</div>

				<div
					class="col-4 col-md-2 d-flex justify-content-center align-items-center">
							<a href="/townBuyingCategoryChoice?category=beautyAndFashion" class="text-dark text-center">
								<span class="material-symbols-outlined hj-sub-icon-size">apparel</span>
								<p class="text-center">뷰티/패션</p>
							</a>
				</div>

				<div
					class="col-4 col-md-2 d-flex justify-content-center align-items-center">
							<a href="/townBuyingCategoryChoice?category=petf" class="text-dark text-center">
								<span class="material-symbols-outlined hj-sub-icon-size">pets</span>
								<p class="text-center">반려동물</p>
							</a>
				</div>

				<div
					class="col-4 col-md-2 d-flex justify-content-center align-items-center">
							<a href="/townBuyingCategoryChoice?category=life" class="text-dark text-center">
							<span class="material-symbols-outlined hj-sub-icon-size">favorite</span>
								<p class="text-center">생활</p>
							</a>
				</div>

				<div
					class="col-4 col-md-2 d-flex justify-content-center align-items-center">
							<a href="/townBuyingCategoryChoice?category=etc" class="text-dark text-center">
								<span class="material-symbols-outlined hj-sub-icon-size">more_horiz</span>
								<p class="text-center">기타</p>
							</a>
				</div>


			
			</div>

		</div>
		
		
		



		<div class="container my-5">

			<h1 class="mb-3 mt-5 text-center text-md-left">프리미엄 회원 공구</h1>
			<h5 class="mb-5 text-center text-md-left text-sm-small">
				프리미엄 회원이 진행하는 특별한 공구!
			</h5>

			<div class="row">





				<div class="col-12 col-md-4 mb-4">

					<h2>식품</h2>
					<hr>




					<div id="carousel1" class="carousel slide" data-ride="carousel">




						<div class="carousel-inner">



							<div class="carousel-item" th:each="Fboard:${PFoodList}">

								<a class="card hj-sub1-card-h-400 hj-radius-30" th:href="@{'townBuyproduct?num=' + ${Fboard.getTo_num()}}">


									<img
										th:src="@{'/imgs/test/' + ${Fboard.getTo_productImg().substring(0,Fboard.getTo_productImg().indexOf('/'))}}"
										class="card-img-top  hj-sub1-card-part-h img-fluid  hj-radius-img-30" alt="...">



									<div class="card-body">

										<h5 class="card-title" th:text="${Fboard.getTo_title()}">Card
											title</h5>
										<div class="card-text hj-text-truncate"
											th:utext="${Fboard.getTo_content()}">Some quick example
											text to build on the card title and make up the bulk of the
											card's content.</div>

									</div>

								</a>

							</div>


						</div>






						<button class="carousel-control-prev" type="button"
							data-target="#carousel1" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</button>
						<button class="carousel-control-next" type="button"
							data-target="#carousel1" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</button>


					</div>



				</div>





				<div class="col-12 col-md-4 mb-4">

					<h2>육아</h2>
					<hr>





					<div id="carousel2" class="carousel slide" data-ride="carousel2">


						<div class="carousel-inner">



							<div class="carousel-item" th:each="Bboard:${PBabyList}">

								<a class="card hj-sub1-card-h-400 hj-radius-30" th:href="@{'townBuyproduct?num=' + ${Bboard.getTo_num()}}">


									<img
										th:src="@{'/imgs/test/' + ${Bboard.getTo_productImg().substring(0,Bboard.getTo_productImg().indexOf('/'))}}"
										class="card-img-top  hj-sub1-card-part-h img-fluid hj-radius-img-30" alt="...">


									<div class="card-body">

										<h5 class="card-title" th:text="${Bboard.getTo_title()}">Card
											title</h5>
										<div class="card-text hj-text-truncate"
											th:utext="${Bboard.getTo_content()}">Some quick example
											text to build on the card title and make up the bulk of the
											card's content.</div>

									</div>

								</a>

							</div>

						</div>


						<button class="carousel-control-prev" type="button"
							data-target="#carousel2" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</button>
						<button class="carousel-control-next" type="button"
							data-target="#carousel2" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</button>
					</div>

				</div>






				<div class="col-12 col-md-4 mb-4">

					<h2>생활</h2>
					<hr>


					<div id="carousel3" class="carousel slide" data-ride="carousel3">




						<div class="carousel-inner">



							<div class="carousel-item" th:each="Lboard:${PLifeList}">

								<a class="card hj-sub1-card-h-400 hj-radius-30" th:href="@{'townBuyproduct?num=' + ${Lboard.getTo_num()}}">


									<img
										th:src="@{'/imgs/test/' + ${Lboard.getTo_productImg().substring(0,Lboard.getTo_productImg().indexOf('/'))}}"
										class="card-img-top  hj-sub1-card-part-h img-fluid hj-radius-img-30" alt="...">



									<div class="card-body">

										<h5 class="card-title" th:text="${Lboard.getTo_title()}">Card
											title</h5>
										<div class="card-text hj-text-truncate"
											th:utext="${Lboard.getTo_content()}">Some quick example
											text to build on the card title and make up the bulk of the
											card's content.</div>




									</div>

								</a>

							</div>


						</div>



						<button class="carousel-control-prev" type="button"
							data-target="#carousel3" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</button>
						<button class="carousel-control-next" type="button"
							data-target="#carousel3" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</button>
					</div>

				</div>

			</div>

		</div>
		<!-- 프리미엄회원 게시글 카테고리별 노출 -->



		<div class="container">
				<!-- 공구 게시글 작성 - 배너스타일 -->
		<div class="col-12">

			<a href="townForm" class="btn border w-100 py-5 mb-5 pie-btn-red hj-radius-30">
				<span class="h2 d-block text-white">누구나 가능한 파이!</span> <span
				class="text-white">바로가기</span>
			</a>

		</div>
		
		</div>





		<div class="container my-5">

			<h1 class="mb-3">우리동네 파이</h1>
			<small></small>

			<div class="row">


				<div class="col-12 col-lg-6 townBuyCard" th:each="board:${list}">

					<a class="card mb-3 hj-radius-30 p-0" th:href="@{'townBuyproduct?num=' + ${board.getTo_num()}}">

						<div class="card-body p-0 hj-sub1-card-h-170">

							<div class="row">

 								<div class="col-5">

									<img th:src="@{'/imgs/test/' + ${board.getTo_productImg().substring(0,board.getTo_productImg().indexOf('/'))}}" 
									class="card-img-top hj-cardImg-left img-fluid w-100 hj-sub1-card-h-170" alt="...">

 								</div>

								<div class="col-7 hj-sub1-card-h-170 py-4 pl-0">
 
									<h5 class="card-title pr-3" th:text="${board.getTo_title()}"></h5>
									<div class="card-text w-100 hj-text-truncate  pr-3" th:utext="${board.getTo_content()}"></div>


								</div>


							</div>



						</div>



					</a>



				</div>

			</div>


			<div class="row mt-5">
				<div class="col text-center">
					<button type="button" class="btn w-20"
						id="loadMoreButton">더보기</button>
					<div id="cardContainer"></div>
				</div>
			</div>

		</div>

	</div>



	<script src="js/townBuying.js"></script>


</div>


</html>