<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="title" class="container-fluid p-0">



	<div class="row pie-title" id="chatTitle">
		<div class="col p-0 d-flex justify-content-center align-items-center">
			<div class="text-center mt-5 pt-3 text-white">
				<h1 class="font-weight-bold">함께해서 더 좋은 파이</h1>
					<p>
						<small>궁금한 점이 있다면 언제나 소통 가능!</small><br />
						<small>공구에 대한 궁금증을 대화로 나눠보아요</small>
						
					</p>
				</div>
			</div>
		</div> <!--row-->
	</div>

</html>