<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/townBuying}">

<div layout:fragment="townBuyContent" class="col">
	



	<div class="container-fluid">
	
		<div class="row">
		
			<div class="col">
			

			
				<div id="container" class="container">
				
				
					
					<h1 class="mb-5 text-center text-md-left">함께해요 파이채팅</h1>
					
					<div class="row mb-3">
					
						<div class="col">
						
							<input type="hidden" id="sessionId" value="">
							<div id="chating" class="chating border py-2 px-2"></div>							
						
						</div>
					
					</div>
					
					
					
					<div id="yourName" class="row">


						<div class="inputTable col-9">

							<input type="text" name="userName" id="userName" placeholder="" class="form-control" >


						</div>
						
						<div class="inputTable col-3">
						
							<button onclick="chatName()" id="startBtn" class="btn btn-outline-secondary w-100">시작</button>

						</div>
	

					</div>
					
					
					
	
					
					<div id="yourMsg" class="row">
					
					
						<div class="inputTable col-9">

							<input id="chatting" type="text" placeholder="보내실 메시지를 입력하세요." class="form-control">

						</div>
						
						<div class="inputTable col-3">
						
							<button onclick="send()" id="sendBtn" class="btn btn-outline-secondary w-100">전송</button>

						</div>
						
					</div>
					
				
					
				</div>
							
						
	
		
		
		
		
			
			</div>	<!-- col -->
		
		</div>	<!-- row -->
	
	</div>  <!-- container-fluid -->



	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
	<!-- 카드크기 줄이고싶어요!!!!! 카드로 해야 깔끔한 카드로 줬어요 -->
	<!-- max-width 화면 %로 지정하고 글씨 갯수에 따라 늘어나게 하고 싶어요 카카오톡 처럼요 -->
	<!-- 이렇다면 div줘도 상관없을듯 하긴하네요 -->



	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>


	
	
	<script type="text/javascript">
	
		var ws;
	
		function wsOpen(){
			ws = new WebSocket("ws://" + location.host + "/chating");
			wsEvt();
		}
			
		function wsEvt() {
			ws.onopen = function(data){
				//소켓이 열리면 동작
			}
			
			ws.onmessage = function(data) {
				
				//메시지를 받으면 동작
				var msg = data.data;
				
				if(msg != null && msg.trim() != ''){
					
					var d = JSON.parse(msg);
					
					if(d.type == "getId"){
						
						var si = d.sessionId != null ? d.sessionId : "";
						
						if(si != ''){
							$("#sessionId").val(si); 
						}
						
					} else if(d.type == "message"){
						
						if(d.sessionId == $("#sessionId").val()){
							$("#chating").append("<div class='me d-flex w-100 justify-content-end my-2'><div class='chatBallon rounded bg-warning py-2 px-2 d-flex flex-wrap text-wrap text-break'><p class='w-100'>" + d.msg + "</p></div></div>");	
							
						} else {
							$("#chating").append("<div class='others text-left my-2'><div class='mb-2'>" + d.userName + "</div><div class='chatBallon rounded bg-nfo py-2 px-3 d-flex flex-wrap text-wrap text-break'><p class='w-100'>" + d.msg + "</p></div></div>");
						}
							
					} else{
						console.warn("unknown type!")
					}
				}
			}
	
			document.addEventListener("keypress", function(e){
				if(e.keyCode == 13){ //enter press
					send();
				}
			});
		}
	
		function chatName(){
			
			var userName = $("#userName").val();
			
			if(userName == null || userName.trim() == ""){
				alert("사용자 이름을 입력해주세요.");
				$("#userName").focus();
				
			} else {
				wsOpen();
				$("#yourName").hide();
				$("#yourMsg").css("display", "flex");
			}
		}
	
		function send() {
			
			var option ={
				type: "message",
				sessionId : $("#sessionId").val(),
				userName : $("#userName").val(),
				msg : $("#chatting").val()
			}
			
			ws.send(JSON.stringify(option))
			$('#chatting').val("");
			
		}
		
	</script>
		
	

</html>