<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- ###############################################
메인 캐로셀
############################################### -->
<div th:fragment="mainPageCarousel">
	<section class="pie-section-py pie-main-carousel-section my-5">
		<div class="row no-gutters">

			<div class="col-12 p-0">

				<div id="section1Carousel" class="carousel slide"
					data-ride="carousel">


					<div class="carousel-inner">

						<div class="row  user-select-none">

							<div class="carousel-item active col">

								<div class="row">
									<div class="col-12 col-lg-7">
										<img src="imgs/index-share.jpg"
											class="img-fluid pie-carousel-img" alt="...">
									</div>
									<div
										class="col-12 col-lg-5 mt-5 mt-lg-0 d-flex align-items-center justify-content-end">
										<div
											class="d-flex flex-column align-items-center mx-3 w-100 text-center">
											<h3
												class="pie-c-red p-3 font-weight-bold pie-carousel-subtitle">부담없이
												나누는 즐거움</h3>
											<img src="imgs/sharetext.png" alt=""
												class="d-block pie-carousel-title" />
											<p class="pie-c-darkgray px-3 mt-5 pie-carousel-text">
												과일 한 박스, 대용량 과자, 다인용 체육관 회원권 ... <br /> 소화하지 못하는 장바구니가 무겁게
												느껴지신 적은 없으신가요?
											</p>
											<h5 class="px-3 m-0 pie-carousel-subtext">
												우리 동네 이웃끼리 무거운 장바구니도 나눠들고<br /> 가격도 나누세요!
											</h5>
										</div>

									</div>
								</div>

							</div>


							<div class="carousel-item col">

								<div class="row">
									<div class="col-12 col-lg-7">
										<img src="imgs/index-comu.jpg"
											class="img-fluid pie-carousel-img" alt="...">
									</div>
									<div
										class="col-12 col-lg-5 mt-5 mt-lg-0 d-flex align-items-center justify-content-end">
										<div
											class="d-flex flex-column align-items-center mx-3 w-100 text-center">
											<h3
												class="pie-c-red p-3 font-weight-bold pie-carousel-subtitle">함께하는
												안전하고 즐거운 쇼핑</h3>
											<img src="imgs/togethertext.png" alt=""
												class="d-block pie-carousel-title" />
											<p class="pie-c-darkgray px-3 mt-5 pie-carousel-text">
												가격비교, 공구사기. <br /> 머리 아픈 사전조사는 그만!
											</p>
											<h5 class="px-3 m-0 pie-carousel-subtext">
												파이가 준비한 공구템으로 안심하고 함께 쇼핑해요!<br />
											</h5>
										</div>

									</div>
								</div>

							</div>



							<div class="carousel-item col">

								<div class="row">
									<div class="col-12 col-lg-7">
										<img src="imgs/index-baby.jpg"
											class="img-fluid pie-carousel-img" alt="...">
									</div>
									<div
										class="col-12 col-lg-5 mt-5 mt-lg-0 d-flex align-items-center justify-content-end p-0">
										<div class="d-flex flex-column align-items-center mx-3 w-100">
											<h3
												class="pie-c-red p-3 font-weight-bold pie-carousel-subtitle">내
												파이는 똑소리나게!</h3>
											<img src="imgs/pietext.png" alt=""
												class="d-block pie-carousel-title" />
											<p
												class="pie-c-darkgray text-center px-3 mt-5 pie-carousel-text">
												가격은 나눠도 내 몫은 확실하게. <br /> 깔끔하고 확실한 공유, 파이에서 해드릴게요.
											</p>
											<h5 class="px-3 m-0 pie-carousel-subtext">
												공유 플랜 서비스도 저렴하게 즐겨요!<br />
											</h5>
										</div>

									</div>
								</div>

							</div>


						</div>

					</div>


					<div class="row user-select-none">

						<div class="col-lg-7 mb-5 mt mb-lg-0 mt-0-lg-0">
							<ol class="carousel-indicators my-2">
								<li data-target="#section1Carousel" data-slide-to="0"
									class="active mx-3"><svg
										xmlns="http://www.w3.org/2000/svg" fill="currentColor"
										class="bi bi-circle-fill hj-indicator-btn" viewBox="0 0 16 16">
									  <circle cx="8" cy="8" r="8" />
									</svg></li>
								<li data-target="#section1Carousel" data-slide-to="1"
									class="mx-3"><svg xmlns="http://www.w3.org/2000/svg"
										fill="currentColor" class="bi bi-circle-fill hj-indicator-btn"
										viewBox="0 0 16 16">
									  <circle cx="8" cy="8" r="8" />
									</svg></li>
								<li data-target="#section1Carousel" data-slide-to="2"
									class="mx-3"><svg xmlns="http://www.w3.org/2000/svg"
										fill="currentColor" class="bi bi-circle-fill hj-indicator-btn"
										viewBox="0 0 16 16">
									  <circle cx="8" cy="8" r="8" />
									</svg></li>
							</ol>
						</div>



						<div class="col-lg-5">
							<ol
								class="row justify-content-center text-center font-weight-bold h5 carousel-indicators m-0">
								<li class="active" role="button" data-target="#section1Carousel"
									data-slide-to="0">나누다</li>
								<li role="button" data-target="#section1Carousel"
									data-slide-to="1">함께하다</li>
								<li role="button" data-target="#section1Carousel"
									data-slide-to="2">파이하다</li>
							</ol>
						</div>







					</div>
				</div>

			</div>

		</div>

	</section>
</div>


<!-- main fragment -->
<div th:fragment="mainPageContents" class="container-fluid p-0">

	<!-- ###############################################
secion1 #sec1 - 우리동네 공동구매 영역 - 로그인시 노출
############################################### -->

	<section class="pie-section-py position-relative">
		<div class="position-absolute pie-bg-red-light"
			id="pie-main-sharebackground1"></div>

		<div class="container">


			<div class="row">

				<div class="col">

					<div
						class="d-flex align-items-center justify-content-between w-100 mt-5">
						<h1 class="text-center text-sm-left font-weight-bolder pie-c-red">우리동네
							파이</h1>
						<a class="btn btn-light" href="townBuySearch"> <small>┼</small></a>
					</div>
					<div class="mb-5">
						<p sec:authorize="isAuthenticated()" class="pie-c-brown">
							<span th:text="${session.nickName}"></span>님과 가까운 곳에서 공구를 모집하는
							사람들이 있어요. <br /> 원하는 공구글을 클릭해서 즐거운 공구를 즐겨보세요!
						</p>
						<p sec:authorize="!isAuthenticated()" class="pie-c-brown">
							같은 동네, 가까운 곳에서 공구를 모집하는 사람들이 있어요. <br /> 우리 동네 파이는 같은 동네, 친숙한
							이웃끼리 공동구매를 편리하게 할 수 있도록하는 서비스입니다.
						</p>
					</div>

					<!-- 지도 들어갈 자리 -->
					<div sec:authorize="!isAuthenticated()"
						class="col-12 mt-3 mb-5 mt-lg-0 position-relative">
						<div class="shadow pie-radius overflow-hidden position-relative"
							id="pie-mapCover">
							<img class="" src="imgs/replaceMap.png" alt="" />
						</div>

						<div
							class="pieChar_map d-flex flex-column align-items-center px-5 mt-5 pt-3">

							<img src="imgs/pie_zoomchar.png" alt="" />

							<div class="my-4">
								<h5 class="pie-c-darkgray text-center">우리 동네에서는 어떤 공구들이 파이와
									함께하는지 확인해 볼까요?</h5>
							</div>

							<div class="mt-3">
								<a href="login" class="btn pie-btn-red">우리동네 파이 확인하기</a>
							</div>
						</div>
					</div>

					<!-- <div class="col-12 col-lg-10 mt-3 mb-5 mt-lg-0"> -->
					<div sec:authorize="isAuthenticated()"
						class="col-12 mt-3 mb-1 mt-lg-0 hyej-haveMap overflow-hidden">
						<input type="hidden" th:value="${session.userId}" id="nowLogin" />


						<div id="map" class="mb-5 hj-radius-30 shadow"
							style="width: 100%; height: 500px;">
							<div class="loading w-100 h-100 bg-white hj-radius-30 d-flex justify-content-center align-items-center">
								<div class="spinner-border pie-c-red"
									role="status">
									<span class="sr-only">Loading...</span>
								</div>
							</div>

							<!-- 지도 표시될 영역 -->
							<ul
								class="list-unstyled d-flex flex-wrap justify-content-center hyej-customs-btnset w-100"
								id="categoryBtns">

								<li class="mx-1 mb-1">
									<!-- 전체 페이지 보여주기 -->
									<button type="button"
										class="btn btn-sm pie-btn-outline-red-custom hj-radius-30 w-100 categoryBtn active"
										data-category="all" id="showAllBtn">
										<small>우리동네</small><span><small class="num"></small></span>
									</button>
								</li>

								<li class="mx-1 mb-1">
									<button type="button"
										class="btn btn-sm pie-btn-outline-red-custom w-100 categoryBtn hj-radius-30 "
										data-category="food">
										<small>식품</small><span><small class="num"></small></span>
									</button>
								</li>

								<li class="mx-1 mb-1">
									<button type="button"
										class="btn btn-sm pie-btn-outline-red-custom w-100 categoryBtn hj-radius-30 "
										data-category="baby">
										<small>육아</small><span><small class="num"></small></span>
									</button>
								</li>

								<li class="mx-1 mb-1">
									<button type="button"
										class="btn btn-sm pie-btn-outline-red-custom w-100 categoryBtn hj-radius-30 "
										data-category="beautyAndFashion">
										<small>뷰티/패션</small><span><small class="num"></small></span>
									</button>
								</li>

								<li class="mx-1 mb-1">
									<button type="button"
										class="btn btn-sm pie-btn-outline-red-custom w-100 categoryBtn hj-radius-30 "
										data-category="pet">
										<small>반려동물</small><span><small class="num"></small></span>
									</button>
								</li>
								<li class="mx-1 mb-1">
									<button type="button"
										class="btn btn-sm pie-btn-outline-red-custom w-100 categoryBtn hj-radius-30 "
										data-category="life">
										<small>생활</small><span><small class="num"></small></span>
									</button>
								</li>
								<li class="mx-1 mb-1">
									<button type="button"
										class="btn btn-sm pie-btn-outline-red-custom w-100 categoryBtn hj-radius-30 "
										data-category="etc">
										<small>기타</small><span><small class="num"></small></span>
									</button>
								</li>
								<li class="mx-1 mb-1">
									<button type="button"
										class="btn btn-sm pie-btn-outline-red-custom w-100 categoryBtn hj-radius-30 "
										data-category="endSoon">
										<small>마감임박</small><span><small class="num"></small></span>
									</button>
								</li>

							</ul>

							<!-- 지도 확대, 축소 컨트롤 div 입니다 -->
							<div class="custom_zoomcontrol radius_border">
								<span id="pie-map-zoomIn" class="shadow"> <svg
										xmlns="http://www.w3.org/2000/svg" width="30" height="30"
										fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
  <path
											d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
</svg>
								</span> <span id="pie-map-zoomOut" class="shadow"> <svg
										xmlns="http://www.w3.org/2000/svg" width="30" height="30"
										fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
</svg>
								</span>
							</div>
						</div>
					</div>

					<div sec:authorize="isAuthenticated()" class="row mb-5">
						<div class="col">
							<div class="d-flex">
								<a href="#"
									class="btn pie-btn-outline-red-custom rounded-pill w-50 mr-2">더
									많은 우리동네 파이 보기</a> <a href="#"
									class="btn pie-btn-outline-red-custom rounded-pill w-50">직접
									공구 모집하기</a>
							</div>
						</div>
					</div>

					<h3 sec:authorize="isAuthenticated()"
						class="pie-c-red font-weight-bold">오늘의 동네!</h3>
					<div
						class="d-flex align-items-center justify-content-between w-100"
						sec:authorize="isAuthenticated()">

						<ol class="list-unstyled d-flex pie-tab-btn">
							<li
								class="btn pie-btn-outline-red-custom rounded-pill mr-2 active btn-sm"
								data-btntarget="#pie-best-hits"># 조회수 BEST 9</li>
							<li class="btn pie-btn-outline-red-custom rounded-pill btn-sm"
								data-btntarget="#pie-best-likes"># 좋아요 BEST 9</li>
						</ol>
					</div>


					<div class="row pie-town-tabs" id="pie-best-hits"
						sec:authorize="isAuthenticated()">
						<div class="col">
							<div th:if="${#lists.isEmpty(tlist) && tlist.size()==0}">
								<div class="row">
									<div class="col">
										<hr class="my-5" />
										<p class="lead py-5 px-5">현재 작성된 글이 없습니다.</p>
										<hr class="my-5" />
									</div>
								</div>
							</div>

							<div class="owlCar owl-carousel owl-theme">

								<!-- 최대 노출은 12개까지만 하고, 더보기 버튼으로 페이지 이동  &lt;로 갯수 설정함  -->
								<th:block th:if="${not #lists.isEmpty(tlist)}">
									<th:block th:each="tBoard, iterStat : ${tlist}"
										th:if="${iterStat.index} &lt; 9" class="item">
										<a
											class="card pie-radius border-0 position-relative overflow-hidden"
											th:href="@{'townBuyproduct?num=' + ${tBoard.getNum()}}">
											<img
											th:src="@{'/imgs/test/' + ${tBoard.getProductImg().substring(0,tBoard.getProductImg().indexOf('/'))}}"
											class="card-img-top hj-main-product-img" alt="...">
											<div class="pie-townCarousel-cover"></div>

											<div class="position-absolute p-4 hj-main_town_hover_text">
												<div class="d-flex align-items-center">
													<span class="pie_view-icon active pie-icons"></span> <span
														th:text="${tBoard.getHit()}"
														class="h6 mb-0 ml-2 pie-c-darkgray font-weight-bold"></span>
												</div>
											</div>

											<div class="position-absolute p-4 hj-main_town_hover_text">
												<p class="pie-c-red m-0 small"
													th:text="${tBoard.getCategory}"></p>
												<h5 th:text="${tBoard.getTitle}"
													class="font-weight-bold text-truncate"></h5>

												<div class="row">
													<div class="col w-100 d-flex align-items-center">
														<img
															th:src="@{'imgs/profiles/'+${tBoard.getProfileImg()}}"
															alt="" class="pie-profilePic mr-2" />
														<h6 class="m-0" th:text="${tBoard.getNickname}"></h6>
													</div>
												</div>
											</div>
										</a>
									</th:block>
								</th:block>

							</div>
						</div>
					</div>

				</div>
			</div>



			<div class="row pie-town-tabs d-none" id="pie-best-likes"
				sec:authorize="isAuthenticated()">
				<div class="col">
					<div th:if="${#lists.isEmpty(tlist2)}">
						<div class="row">
							<div class="col">
								<hr class="my-5" />
								<p class="lead py-5 px-5">현재 작성된 글이 없습니다.</p>
								<hr class="my-5" />
							</div>
						</div>
					</div>


					<div class="owlCar owl-carousel owl-theme">

						<!-- 최대 노출은 12개까지만 하고, 더보기 버튼으로 페이지 이동  &lt;로 갯수 설정함  -->
						<th:block th:if="${not #lists.isEmpty(tlist)}">
							<th:block th:each="tBoard, iterStat : ${tlist}"
								th:if="${iterStat.index} &lt; 9" class="item">
								<a
									class="card pie-radius border-0 position-relative overflow-hidden"
									th:href="@{'townBuyproduct?num=' + ${tBoard.getNum()}}"> <img
									th:src="@{'/imgs/test/' + ${tBoard.getProductImg().substring(0,tBoard.getProductImg().indexOf('/'))}}"
									class="card-img-top hj-main-product-img" alt="...">
									<div class="pie-townCarousel-cover"></div>

									<div class="position-absolute p-4 hj-main_town_hover_text">
										<div class="d-flex align-items-center">
											<span class="pie-heart-icon active pie-icons"></span> <span
												th:text="${tBoard.getLikeNum()}"
												class="h6 mb-0 ml-2 pie-c-darkgray font-weight-bold"></span>
										</div>
									</div>

									<div class="position-absolute p-4 hj-main_town_hover_text">
										<p class="pie-c-red m-0 small" th:text="${tBoard.getCategory}"></p>
										<h5 th:text="${tBoard.getTitle}"
											class="font-weight-bold text-truncate"></h5>

										<div class="row">
											<div class="col w-100 d-flex align-items-center">
												<img th:src="@{'imgs/profiles/'+${tBoard.getProfileImg()}}"
													alt="" class="pie-profilePic mr-2" />
												<h6 class="m-0" th:text="${tBoard.getNickname}"></h6>
											</div>
										</div>
									</div>
								</a>
							</th:block>
						</th:block>

					</div>
				</div>
			</div>




		</div>

	</section>


	<!-- ###############################################
secion2 #sec2 - 대리공구 영역
############################################### -->


	<section id="sec2" class="pie-section-py">

		<div class="container ">

			<div
				class="d-flex align-items-center justify-content-between w-100 mt-5">
				<h1 class="text-center text-sm-left font-weight-bolder pie-c-red">
					파이와 함께하는 파이박스!</h1>
				<a class="btn btn-light" href="proxyBuyProducts"> <small>┼</small>
				</a>
			</div>
			<div class="mb-5">
				<p class="pie-c-brown mb-5">
					불안불안 사기 걱정, 대인원을 모집하는 힘든 공구는 이제 그만! 안전한 공구는 파이가 진행할게요. <br /> 개인이
					주최하기 힘든 대규모 공구, 사기걱정없이 쉽게하는 공구는 파이에게 맡겨주세요.
				</p>
			</div>
			<th:block th:if="${list==null||list.size()==0}">
				<div class="row">
					<div class="col">
						<hr class="my-5" />
						<p class="lead py-5 px-5">현재 작성된 글이 없습니다.</p>
						<hr class="my-5" />
					</div>
				</div>
			</th:block>


			<th:block th:if="${list!=null && list.size()!=0}">
				<div class="row hyej-best-gallery mt-5">
					<div class="col-lg-6 col-md-8 mb-3 mb-md-2">
						<img src="imgs/bestMark.png" alt="best" id="bestMark"
							class="position-absolute" />
						<div class="container-fluid hyej-customCard pt-1 bg-white shadow">
							<div class="row border-bottom">
								<div class="col-12 px-5 py-3 d-flex align-items-center">
									<img th:src="@{'imgs/profiles/'+${list[0].getProfileImg()}}"
										class=" border rounded-circle pie-profilePic-mid align-self-center"
										id="bestProfileImg" alt=>
									<div class="pl-3 pie-view-text pie-omitted d-flex flex-column">
										<small class="m-0 font-weight-bold"
											th:text="${list[0].getNickname()}" id="bestNickName">아이디</small>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col p-0">
									<div id="proxyMainCarousel" class="carousel slide"
										data-ride="carousel">
										<ol class="carousel-indicators">
											<th:block
												th:each="i : ${#numbers.sequence(0,list[0].getProductImgs().length-1)}">
												<li data-target="#proxyMainCarousel"
													th:attr="data-slide-to=${i}"></li>
											</th:block>
										</ol>
										<div class="carousel-inner">
											<th:block th:each="img : ${list[0].getProductImgs()}">
												<div class="carousel-item">
													<img th:src="@{'imgs/test/'+${img}}" class="d-block w-100"
														alt="...">
												</div>
											</th:block>

										</div>
										<button class="carousel-control-prev" type="button"
											data-target="#proxyMainCarousel" data-slide="prev">
											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
											<span class="sr-only">Previous</span>
										</button>
										<button class="carousel-control-next" type="button"
											data-target="#proxyMainCarousel" data-slide="next">
											<span class="carousel-control-next-icon" aria-hidden="true"></span>
											<span class="sr-only">Next</span>
										</button>
									</div>
								</div>
							</div>
							<div class="row px-5 pt-5">
								<div class="col">
									<p class="mb-1 pie-c-red font-weight-bolder">
										<small id="bestCategory" th:text="${list[0].getCategory()}"></small>
									</p>
									<h4 id="bestTitle" class="text-truncate mb-4"
										th:text="${list[0].getTitle()}"></h4>
									<div id="bestContent" class="hyej-text-truncate">
										<p th:text="${list[0].getContent()}"></p>
									</div>
									<div class="">
										<small id="bestTags"> <th:block
												th:if="${list[0].getTags()!=null}">
												<th:block
													th:each="i: ${#numbers.sequence(1, list[0].getTags()?.length - 1)}">
													<span class="badge badge-light"
														th:text="|#${list[0].getTags()[i]}|">#태그</span>
												</th:block>
											</th:block>
										</small>
									</div>
									<div class="d-flex justify-content-end">
										<div class="d-flex align-items-center">
											<span class="pie-heart-icon active pie-icons mr-2"></span> <span
												id="bestLike" th:text=${list[0].getLikeNum()}></span>
										</div>
										<div class="d-flex align-items-center mx-3">
											<span class="pie_view-icon active pie-icons mr-2"></span> <span
												id="bestHit" th:text=${list[0].getHit()}></span>
										</div>
										<div class="d-flex align-items-center">
											<span class="pie-man-icon active pie-icons mr-2"></span> <span
												id="bestNow" th:text=${list[0].getPersonnelNow()}></span> <span>/</span>
											<span id="bestMax" th:text=${list[0].getPersonnelMax()}></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row px-5 py-5">
								<div class="col">
									<a th:href="@{'viewProxyBoard?num='+${list[0].getNum()}}"
										class="btn pie-btn-red btn-block" id="bestBtn">보러가기</a>
								</div>
							</div>

						</div>
					</div>
					<div class="col-lg-6 col-md-4 px-lg-5 pr-md-0 px-4">
						<div class="d-flex flex-column justify-content-between h-100">
							<div class="row justify-content-center bests mb-5">
								<th:block th:each="board : ${list}">
									<div class="col-lg-6 col-md-12 col-6 p-1 bestProduct">
										<div class="hyej-custom-img-box position-relative">
											<img
												th:src="@{'/imgs/test/' + ${board.getProductImg().substring(0,board.getProductImg().indexOf('/'))}}"
												alt="" class="shadow" />
											<div class="hyej-cover">
												<div>
													<p class="small m-0 pie-c-red"
														th:text="${board.getCategory()}"></p>
													<h6 class="text-truncate" th:text="${board.getTitle()}"></h6>
												</div>


												<div class="d-flex justify-content-end">
													<div class="d-flex align-items-center">
														<span class="pie-heart-icon active pie-icons-mini mr-1"></span>
														<span id="bestLike" class="small"
															th:text=${board.getLikeNum()}></span>
													</div>
													<div class="d-flex align-items-center mx-2">
														<span class="pie_view-icon active pie-icons-mini mr-1"></span>
														<span id="bestHit" class="small" th:text=${board.getHit()}></span>
													</div>
													<div class="d-flex align-items-center">
														<span class="pie-man-icon active pie-icons-mini mr-1"></span>
														<span id="bestNow" th:text=${board.getPersonnelNow()}></span>
														<span>/</span> <span id="bestMax" class="small"
															th:text=${board.getPersonnelMax()}></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</th:block>
							</div>
							<div class="row">
								<div class="col">
									<h3 class="font-weight-bold pie-c-red">파이박스 더보기</h3>
									<ul class="list-unstyled">
										<li class="py-3 border-top border-bottom">
											<p class="small m-0 pie-c-brown">파이박스에서 진행하는 공구를 보고싶다면?</p> <a
											href="chkFeed"
											class="btn pie-btn-outline-red-custom btn-sm btn-block rounded-pill mt-3 small">원하는
												테마 골라서 보기</a>
										</li>
										<li class="py-3 border-bottom">
											<p class="small m-0 pie-c-brown">파이박스에서 진행했으면 하는 공구를 신청하고
												싶다면?</p> <a href="proxyBuyApply?page=1"
											class="btn pie-btn-outline-red-custom btn-sm btn-block rounded-pill mt-3 small">파이
												추천 게시판 바로가기</a>
										</li>
										<li class="py-3 border-bottom">
											<p class="small m-0 pie-c-brown">파이와 함께하고 싶은 기업은?</p> <a
											href="businessApplyBoard"
											class="btn pie-btn-outline-red-custom btn-sm btn-block rounded-pill mt-3 small">기업
												신청 게시판 바로가기</a>

										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
			</th:block>
		</div>
	</section>


	<!-- ###############################################
secion2 #sec3 - 서비스 공유 영역
############################################### -->

	<section class="pie-section-py overflow-hidden position-relative">

		<div class="position-absolute" id="pie-main-sharebackground"></div>

		<div class="row">
			<div class="col">
				<div class="container-fluid p-0">
					<div class="row justify-content-end">
						<div class="container">
							<div
								class="d-flex align-items-center justify-content-between w-100 mt-5">
								<h1
									class="text-center text-sm-left font-weight-bolder pie-c-red">즐겨요
									파이타임!</h1>
								<a class="btn btn-light border" href="shareServiceBoard"> <small>┼</small>
								</a>
							</div>
							<div class="mb-5">
								<p class="pie-c-brown">
									볼거리는 너무 많고, 싱글 플랜은 너무 비싸고... 고민해본적 있으신가요? <br /> 파이에서 서비스
									쉐어플랜을 함께할 쉐어메이트를 찾아보세요!
								</p>
							</div>
						</div>
						<div class="container">
							<div
								class="row mt-3 justify-content-around p-3 pie-sharemain-images">
								<a class="col-sm-4 p-2 pie-radius overflow-hidden"
									href="shareServiceBoard?num=1"> <img src="imgs/ott2.jpg"
									alt="" class="img-fluid mb-3 pie-radius">
									<h5 class="text-center">
										<b>OTT 둘러보기</b> <img src="imgs/circleArrows.png" alt=""
											width="25" height="25">
									</h5>
									<p class="mt-2 small text-center">
										넷플릭스, 디즈니, 웨이브... <br /> 재밌는 컨텐츠를 마음껏 즐기세요!
									</p>
								</a> <a class="col-sm-4 p-2" onclick="game()"
									href="shareServiceBoard?num=2"> <img src="imgs/game.jpg"
									alt="" class="img-fluid mb-3 pie-radius">
									<h5 class="text-center">
										<b>게임 둘러보기</b> <img src="imgs/circleArrows.png" alt=""
											width="25" height="25">
									</h5>
									<p class="mt-2 small text-center">
										세상은 넓고, 할 게임은 많다! <br /> 유료 게임 플랜을 쉐어 메이트와 나눠보세요.
									</p>
								</a> <a class="col-sm-4 p-2 pie-radius overflow-hidden"
									href="shareServiceBoard?num=3"> <img src="imgs/book.jpg"
									alt="" class="img-fluid mb-3 pie-radius">
									<h5 class="text-center">
										<b>도서/음악 둘러보기</b> <img src="imgs/circleArrows.png" alt=""
											width="25" height="25">
									</h5>
									<p class="mt-2 small text-center">
										마음의 양식을 위한 풍요로운 문화생활! <br /> 파이에서 친구들과 함께하세요.
									</p>
								</a>
							</div>
							<!--row-->
						</div>
						<!--col-12-->
					</div>
					<!--row-->
				</div>
				<!--container-->
			</div>
		</div>

		<div class="row position-relative hyej-carousel-custom mt-5">
			<div class="col">
				<div class="shareServiceOwl owl-carousel owl-theme">
					<div class="item">
						<h4>
							<a href="shareServiceBoard?preset=Netflix"> <img
								src="imgs/netflix2.png" alt="" class="img-fluid">
							</a>
						</h4>
					</div>
					<div class="item">
						<h4>
							<a href="shareServiceBoard?preset=Watcha"> <img src="imgs/watcha.jpg"
								alt="">
							</a>
						</h4>
					</div>
					
					
					<div class="item">
						<h4 class="">
							<a href="shareServiceBoard?preset=Disney"> <img src="imgs/disney.png"
								alt="">
							</a>
						</h4>
					</div>
					
					<div class="item">
						<h4>
							<a href="shareServiceBoard?preset=Spotify"> <img
								src="imgs/spotify.jpg" alt="">
							</a>
						</h4>
					</div>
					<div class="item">
						<h4>
							<a href="shareServiceBoard?preset=Nintendo"> <img
								src="imgs/nintendoOnline.jpeg" alt="">
							</a>
						</h4>
					</div>
					<div class="item">
						<h4>
							<a href="shareServiceBoard?preset=Millie"> <img src="imgs/milli.jpg"
								alt="">
							</a>
						</h4>
					</div>
				</div>
			</div>
		</div>

	</section>


	<script type="text/javascript" th:inline="javascript">
		var list = /*[[${list}]]*/[];
	</script>
	<script>
		$(function() {
			$("#proxyMainCarousel").find(".carousel-item").eq(0).addClass(
					"active");
			$("#proxyMainCarousel").find("li").eq(0).addClass("active");

			$(".bests").find(".bestProduct").eq(0).hide();

			$(".bests")
					.find(".bestProduct")
					.click(
							function() {
								$(".bests").find(".bestProduct").show();
								let idx = $(this).index();
								$("#bestProfileImg").attr(
										"src",
										'imgs/profiles/'
												+ list[idx].profileImg);
								$("#bestNickName").text(list[idx].nickname);
								$("#bestTitle").text(list[idx].title);
								$("#bestLike").text(list[idx].likeNum);
								$("#bestHit").text(list[idx].hit);
								$("#bestNow").text(list[idx].personnelNow);
								$("#bestMax").text(list[idx].personnelMax);
								$("#bestCategory").text(list[idx].category)

								$("#bestTags").empty();

								console.log(list[idx].tags);
								if (list[idx].tags != null) {
									for (i = 1; i < list[idx].tags.length; i++) {
										$("#bestTags").append(
												'<span class="badge badge-light">#'
														+ list[idx].tags[i]
														+ '</span>')
									}
								}

								let el = list[idx].content;
								const newText = el.replace(/<[^>]*>?/g, '');

								console.log(newText);

								$("#bestContent")
										.html("<p>" + newText + "</p>");
								$("#bestBtn").attr(
										"href",
										'viewProxyBoard?num='
												+ list[idx].num);
								$("#proxyMainCarousel").find(
										".carousel-indicators").empty();
								for (i = 0; i < list[idx].productImgs.length; i++) {
									$("#proxyMainCarousel")
											.find(".carousel-indicators")
											.append(
													'<li data-target="#proxyMainCarousel" data-slide-to="'+i+'"></li>');
								}
								$("#proxyMainCarousel").find("li").eq(0)
										.addClass("active");
								$("#proxyMainCarousel").find(".carousel-inner")
										.empty();
								for (i = 0; i < list[idx].productImgs.length; i++) {
									$("#proxyMainCarousel")
											.find(".carousel-inner")
											.append(
													'<div class="carousel-item"><img src="imgs/test/'+list[idx].productImgs[i]+'" class="d-block w-100" alt="..."></div>');
								}
								$("#proxyMainCarousel").find(".carousel-item")
										.eq(0).addClass("active");
								$(this).hide();
							})
		})
	</script>

	<!-- bootstrap 기본 carousel 설정으로 처리함 -->
	<!-- <script src="js/main_town_caruousel.js"></script> -->


	<script>
		/* 호버시 제품 제목 보이게 */
		$(document).ready(function() {
			btns = $(".pie-tab-btn li");

			btns.click(function() {
				let clickedtab = $(this).attr("data-btntarget");
				console.log(clickedtab);
				btns.removeClass("active");
				$(this).addClass("active");
				$(".pie-town-tabs").toggleClass("d-none");
			})

			$('.hj-main_town_hover').hover(

			function() {
				$(this).find('.position-absolute').removeClass('d-none');
			},

			function() {
				$(this).find('.position-absolute').addClass('d-none');
			});
		});
	</script>


	<script sec:authorize="isAuthenticated()" type="text/javascript"
		th:inline="javascript">
		var nowlocation = /*[[${now}]]*/'';
	</script>
	<script sec:authorize="isAuthenticated()" type="text/javascript"
		th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?appkey='+${Mapi}+'&libraries=services'}"></script>
	<script sec:authorize="isAuthenticated()" th:src="@{'js/map.js'}"></script>



	<script>
		$('#section1Carousel').on('slide.bs.carousel', function(event) {
			var newIndex = event.to;
			$('ol.carousel-indicators li').removeClass('active');
			$('ol.carousel-indicators').each(function() {
				$(this).find('li').eq(newIndex).addClass('active');
			});
		});

		// 두 번째 인디케이터를 클릭했을 때 첫 번째 인디케이터 상태와 동기화하기 위한 핸들러
		$('.carousel-indicators li').on('click', function() {
			$('ol.carousel-indicators li').removeClass('active');
			$(this).addClass('active');
		});
	</script>

</div>

</html>