<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/proxyBuying}">

<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="proxyBuyContent" class="col">
	<!--------------------------------게시글 타이틀-------------------------------->
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<div class="row mb-5">
			<div class="col text-center">
				<h1>오늘의 추천 테마</h1>
				<p>파이가 함께하는 가장 인기 많은 상품들을 모아봤어요! 빈자리가 모두 없어지기 전에 서두르세요!</p>
			</div>
		</div>

		<section class="my-5">
			<div class="row">
				<div class="col">
					<h3>#현재 진행중</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="imgs/img1.jpg" alt="" class="img-fluid" />
					<div>
						<h4>현재 진행중인 공구</h4>
						<p>현재 파이가 모집하고 있어요! 서두르세요!</p>
					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<th:block th:each="board:${list1}">
							<div class="col-4">
								<a class="card"
									th:href="@{'viewProxyBoard?num='+${board.getPr_num()}}"> <img
									th:src="@{'/imgs/test/' + ${board.getPr_productImg().substring(0,board.getPr_productImg().indexOf('/'))}}" class="card-img-top" alt="...">
									<div class="card-body">
										<p class="card-text" th:text="${board.getPr_title()}"></p>
									</div>
								</a>
							</div>

						</th:block>
					</div>
				</div>
			</div>
		</section>

		<section class="my-5">
			<div class="row">
				<div class="col">
					<h3>#달콤한 디저트 파이?</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="imgs/img1.jpg" alt="" class="img-fluid" />
					<div>
						<h4>달콤한 디저트 어떠세요?</h4>
						<p>#인스타 감성 #홈카페</p>
					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<th:block th:each="board:${list2}">
							<div class="col-4">
								<div class="card">
									<img th:src="@{'/imgs/test/' + ${board.getPr_productImg().substring(0,board.getPr_productImg().indexOf('/'))}}" class="card-img-top" alt="...">
									<div class="card-body">
										<p class="card-text" th:text="${board.getPr_title()}"></p>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</section>

		<div class="row mb-5">
			<div class="col text-center">
				<h1>공구 전체보기</h1>
				<p>파이가 함께하는 가장 인기 많은 상품들을 모아봤어요! 빈자리가 모두 없어지기 전에 서두르세요!</p>
			</div>
		</div>
		<div class="row py-3">
			<div class="col text-right">
				<a href="proxyWriteForm" class="btn btn-primary"> 글쓰기 </a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card-columns">
					<th:block th:each="board:${allList}">
						<div class="card">
							<img th:src="@{'/imgs/test/' + ${board.getPr_productImg().substring(0,board.getPr_productImg().indexOf('/'))}}" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title" th:text="${board.getPr_title()}">Card
									title that wraps to a new line</h5>
								<p class="card-text">
									<small class="text-muted">Last updated 3 mins ago</small>
								</p>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>
		<div class="row my-5">
			<div class="col">
				<button class="btn btn-block border">
					<small>더보기</small>
				</button>
			</div>
		</div>

	</div>
	<!--게시글 로직 container-->
	<!--wrapper-->

</div>

</html>