<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/proxyBuying}">

<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="proxyBuyContent" class="col">
	<!--------------------------------게시글 타이틀-------------------------------->
	<!--container-->
	<!--------------------------------게시글 로직-------------------------------->
	<div class="container">
		<div class="row mb-5">
			<div class="col text-center">
				<h1>나누고 싶은 상품을 신청해주세요!</h1>
			</div>
		</div>
		<div class="row justify-content-center py-3">
			<div class="col">
				<div class="list-group">
					<div class="list-group-item">
						<div class="row align-items-center">
							<div class="col-lg-2 col-3">
								<p class="mb-0 ml-1">이미지</p>
							</div>
							<div class="col-lg-10 col-9">
								<div class="d-flex w-100 justify-content-between">
									<p class="m-0">제목</p>
									<p class="mb-0 mr-3">상태</p>

								</div>
							</div>
						</div>
					</div>


					<a href="#" class="list-group-item list-group-item-action">
						<div class="row align-items-center">
							<div class="col-lg-2 col-3">
								<img src="imgs/default.png" alt="" class="img-thumbnail" width="100" />
							</div>
							<div class="col-lg-10 col-9">
								<div class="d-flex w-100 justify-content-between">

									<h5 class="mb-1">상품 요청합니다! </h5>
									<div class="d-flex flex-column">
										<small>3 days ago</small>
										<span class="badge badge-info">접수완료</span>
									</div>

								</div>
								<small>And some small print.</small>
							</div>
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action">
						<div class="row align-items-center">
							<div class="col-lg-2 col-3">
								<img src="imgs/default.png" alt="" class="img-thumbnail" width="100" />
							</div>
							<div class="col-lg-10 col-9">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">상품 요청합니다!</h5>
									<div class="d-flex flex-column">
										<small>3 days ago</small>
										<span class="badge badge-warning">검토중</span>
									</div>
								</div>
								<small>And some small print.</small>
							</div>
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action">
						<div class="row align-items-center">
							<div class="col-lg-2 col-3">
								<img src="imgs/default.png" alt="" class="img-thumbnail" width="100" />
							</div>
							<div class="col-lg-10 col-9">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1 flex-fill">상품 요청합니다!</h5>
									<div class="d-flex flex-column">
										<small>3 days ago</small>
										<span class="badge badge-danger">종료</span>
									</div>
								</div>
								<small>And some small print.</small>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col text-right">
				<a href="#" class="btn pie-btn-red">글쓰기</a>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex justify-content-center">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!--게시글 로직 container-->
	<!--wrapper-->

</div>

</html>