<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/shareService}">

<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="shareServiceContent">


	<!--------------------------최신/오래된 순-------------------------->
	<div class="container p-0 mt-5">
		<div class="row border-bottom">
			<div class="col-6 mb-1 d-flex">
				<span><h5>내가 작성한 게시물</h5></span>
			</div>
			<div class="col-6 mb-1 d-flex justify-content-end">
				<small id="on" style="cursor: pointer">진행중&nbsp;</small>
				<small>|</small>
				<small id="off" style="cursor: pointer">&nbsp;진행마감</small>
			</div>
		</div>
		<!--row-->
	</div>
	<!--container-->
	<!--------------------------컨텐츠-------------------------->
	<div class="container p-0 mt-5">
		<div class="row">
			<th:block th:if="${list.size()!=0}" th:each="board:${list}">
				<!------------게시물이 있는 경우------------>
				<div class="col-12 mb-3 border ApplyList" th:attr = "data-pieCate=${board.getSh_process}">
					<div class="row no-gutters">
						<div class="col-md-4 mt-2">
							<img th:src="@{imgs/test/{filename}(filename=${board.sh_filename})}" alt="..." class="img-fluid">
						</div>
						<!--col-->
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title" th:text="${board.getSh_title}"></h5>
								<p class="card-text" th:utext="${board.getSh_content}"></p>
								<th:block th:if="${board.getSh_process()}=='on'">
                        			<small class="badge badge-success" th:text="진행중"></small>                       	
                        		</th:block>
                        		<th:block th:if="${board.getSh_process()}=='off'">
                        			<small class="badge badge-danger" th:text="진행마감"></small></p>                        	
                        		</th:block>
								<span class="d-block" th:text="${board.getSh_registDay}"></span>
								<a th:href="'boardList?sh_numID='+${board.getSh_numID()}"
									class="btn custom-btn3 mt-3 d-block">상세보기</a>
							</div>
							<div class="col d-flex justify-content-end content-div mt-4">
							</div>
						</div>
						<!--col-->
					</div>
					<!--카드 컨텐츠 row-->
				</div>
				<!--col-->
			</th:block>
		</div>
		<!--카드 row-->
	</div>
	<!--카드 container-->
	<!------------게시물이 없는 경우------------>
	<div class="container" th:if="${#lists.isEmpty(list)}">
		<div class="row">
			<div class="col-12 p-5 alert-danger text-center">
				<h2>아직 작성한 게시물이 없습니다 !</h2>
			</div>
		</div>
	</div>
	<div class="container p-0 text-center mt-3 mb-3">
		<div class="row">
			<div class="col-12 btn btn-block border" id="load">
				<div class="">
					<span> 더보기 <svg xmlns="http://www.w3.org/2000/svg"
							width="10" height="10" fill="currentColor"
							class="bi bi-caret-down-fill" viewBox="0 0 16 16">
								<path
								d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
							</svg>
				</div>
			</div>
		</div>
		<!--더보기 col-->
	</div>
	<script>
		/*************더보기 버튼*************/
		$(function() {
			let applyCard = $(".ApplyList");
			let applyStrCard = ".ApplyList:hidden";
			let on = $("#on");
			let off = $("#off");

			applyCard.hide();
			applyCard.slice(0, 3).show();
			
			$("#load").click(function(e) {
				e.preventDefault();
				if ($(applyStrCard).length > 0) {
					$(applyStrCard).slice(0, 3).show(); 
				} else if ($(applyStrCard).length == 0) {
					alert("마지막 게시물입니다.");
				}
			});
			/*************모집중인 게시물 확인*************/
			on.click(function() {
	            $(".ApplyList[data-pieCate!='on']").hide();
	            $(".ApplyList[data-pieCate='on']").slice(0, 3).show();
	            
	            $("#load").off().click(function(e) {
	                e.preventDefault();
	                if ($(".ApplyList[data-pieCate='on']:hidden").length > 0) {
	                    $(".ApplyList[data-pieCate='on']:hidden").slice(0, 3).show();
	                } else {
	                    alert("마지막 게시물입니다.");
	                }
	            });
	        });
			/*************모집마감 게시물 확인*************/
	        off.click(function() {
	            $(".ApplyList[data-pieCate!='off']").hide();
	            $(".ApplyList[data-pieCate='off']").slice(0, 3).show();
	            
	            $("#load").off().click(function(e) {
	                e.preventDefault();
	                if ($(".ApplyList[data-pieCate='off']:hidden").length > 0) {
	                    $(".ApplyList[data-pieCate='off']:hidden").slice(0, 3).show();
	                } else {
	                    alert("마지막 게시물입니다.");
	                }
	            });
	        });
		})
	</script>
</div>
<!--wrapper-->
<!--더보기 스크립트-->

</html>