<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/shareService}">

<div layout:fragment="shareServiceContent" class="col">
	<!--------------------------타이틀 아래 텍스트-------------------------->
	<div class="container mt-3 mb-3">
		<div class="row">
			<div class="col-12 border-bottom">
				<h5>
					<b>게시물 수정</b>
				</h5>
			</div>
			<!--col-12-->
		</div>
		<!--row-->
	</div>
	<!--container-->
	<div class="container">
		<form action="updateBoard" method="get">
		<input type="hidden" name="sh_numID" th:value="${board.getSh_numID()}"/>
			<div class="row">
				<label for="" class="col-lg-2 mt-2"><b>작성자</b></label>
				<div class="col-lg-10 form-group">
					<input name="sh_id" th:placeholder="${board.getSh_nickname()}" type="text" class="form-control" readonly />
				</div>
				<label for="" class="col-lg-2 mt-2"><b>제목</b></label>
				<div class="col-lg-10 form-group">
					<input name="sh_title" th:placeholder="${board.getSh_title()}" type="text" class="form-control" />
				</div>
				<label for="" class="col-lg-2 mt-2"><b>내용</b></label>
				<div class="col-lg-10 form-group">
					<input name="sh_content" th:placeholder="${board.getSh_content()}" type="text" class="form-control" />
				</div>
				<label for="" class="col-lg-2 mt-2"><b>가격</b></label>
				<div class="col-lg-10 form-group">
					<input name="sh_price" th:placeholder="${board.getSh_price()}" type="text" class="form-control" />
				</div>
				<label for="" class="col-lg-2 mt-2"><b>모집인원</b></label>
				<div class="col-lg-10 form-group">
					<input name="sh_personnelMax" th:placeholder="${board.getSh_personnelMax()}" type="text" class="form-control" />
				</div>
				<label for="" class="col-lg-2 mt-2"><b>모집마감일</b></label>
				<div class="col-lg-10 form-group">
					<input name="sh_DeadLine" th:placeholder="${board.getSh_DeadLine()}" type="date" class="form-control" />
				</div>
				<div class="mt-2">
					<button type="button" class="btn custom-btn2" onclick="submit()"><b>수정</b></button>
					<a th:href="'delete?sh_numID='+${board.getSh_numID()}" type="button" class="btn custom-btn3" onclick="return confirm('정말 삭제하시겠습니까?')"><b>삭제</b></a>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	function submit(){
		
	}
</script>
</html>