<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/shareService}">

<!--<h1>Bootstrap 기본설정완료</h1>-->
<div layout:fragment="shareServiceContent">


	<!--------------------------최신/오래된 순-------------------------->
	<div class="container p-0 mt-5">
		<div class="row border-bottom">
			<div class="col-6 mb-1 d-flex">
				<span><h5>내가 작성한 게시물</h5></span>
			</div>
			<div class="col-6 mb-1 d-flex justify-content-end">
				<span>최신순&nbsp;</span>
				<span>|</span>
				<span>&nbsp;오래된순</span>
			</div>
		</div>
		<!--row-->
	</div>
	<!--container-->
	<!--------------------------컨텐츠-------------------------->
	<div class="container p-0">
		<div class="row p-3">
			<div class="col-12 mt-3 border" th:each="board:${list}">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="imgs/potato.jpg" alt="..." class="img-fluid">
					</div>
					<!--col-->
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title" th:text="${board.getSh_title}"></h5>
							<p class="card-text" th:text="${board.getSh_content}"></p>
							<span class="mt-5" th:text="${board.getSh_registDay}"></span>
							 <a th:href="'boardList?sh_numID='+${board.getSh_numID()}"
								class="btn custom-btn3 mt-3 d-block">상세보기</a>
						</div>
						<div class="col d-flex justify-content-end content-div mt-4">
						</div>
					</div>
					<!--col-->
				</div>
				<!--카드 컨텐츠 row-->
			</div>
			<!--col-->
		</div>
		<!--카드 row-->
	</div>
	<!--카드 container-->
</div>
<!--wrapper-->
</body>
</html>