<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/townBuying}">

<div layout:fragment="townBuyContent" class="col">
	<div class="container-fluid px-0">


		<div class="container">
			<div class="row mb-5">
				<div class="col text-center">
					<h1>우리 동네 공구찾기!</h1>
					<p>우리 동네에서 지금 진행하는 공동구매 게시글을 찾아볼까요?</p>
				</div>
			</div>



			<div class="row mb-5 mx-auto">

				<div class="col-12 col-lg-2">


					<ul class="list-unstyled d-flex flex-wrap flex-lg-column">

						<li class="mr-1 mb-1">
							<!-- 전체 페이지 보여주기 -->
							<button type="button" class="btn btn-outline-secondary w-100">우리동네공구</button>
						</li>

						<li class="mr-1 mb-1">
							<button type="button" class="btn btn-outline-secondary w-100">식료품</button>
						</li>

						<li class="mr-1 mb-1">
							<button type="button" class="btn btn-outline-secondary w-100">생활용품</button>
						</li>

						<li class="mr-1 mb-1">
							<button type="button" class="btn btn-outline-secondary w-100">의류</button>
						</li>

						<li class="mr-1 mb-1">
							<button type="button" class="btn btn-outline-secondary w-100">아기</button>
						</li>

						<li class="mr-1 mb-1">
							<!-- 빈자리 1개 남았을 경우 보여질 페이지 -->
							<button type="button" class="btn btn-outline-secondary w-100">마감
								임박 순</button>
						</li>

					</ul>


				</div>


				<!-- 지도 들어갈 자리 -->

				<div class="col-12 col-lg-10 mt-3 mb-5 mt-lg-0">

					<!-- ############ 인라인스타일 수정해야함!!! 임시로 넣음 ############ -->
					<div id="map" class="mb-5" style="width: 100%; height: 400px;">


						<!-- 지도 표시될 영역 -->

					</div>


				</div>



				<!-- 지도 영역 조절할 bar -->


				<div class="col-12 col-lg-2 d-none d-md-block mt-3"></div>

				<div class="col-12 col-lg-10 d-none d-md-block mt-3">

					<h2 for="formControlRange">어디까지 보여드릴까요?</h2>
					<input type="range" class="form-control-range" id="mapRange"
						min="1" max="3" value="1" step="1">

					<div class="row mt-2">


						<div class="col-1">
							<p class="strong">1km</p>
						</div>

						<div class="col-10 text-center">
							<p class="strong">2km</p>
						</div>

						<div class="col-1 text-right">
							<p class="strong">3km</p>
						</div>


					</div>





				</div>








				<!-- 카테고리 선택되는 값으로 상품 불러오기 -->
				<!-- 기준값 : 카테고리 -->






			</div>



			<div class="row my-5">
				<div class="col text-center mt-5">
					<h1>지금 바로 시작해볼까요?</h1>
					<p>파이와 함께 즐거운 공구를 즐기세요!</p>
				</div>
			</div>


			<div class="row mb-5">
				<div class="col-md-6">
					<a href="townBuySearch" class="btn pie-btn-red w-100 p-5 mb-3">
						<span class="h2 d-block ">공구글 모두보기</span> <span>바로가기</span>
					</a>
				</div>

				<div class="col-md-6">
					<a href="#" class="btn border pie-btn-brown w-100 p-5 mb-3"> <span
						class="h2 d-block">내 상품 공구하기</span> <span>바로가기</span>
					</a>
				</div>
			</div>

		</div>

	</div>

	<script>
		var mapOptions = {
			center : new naver.maps.LatLng(37.3595704, 127.105399), /* 기본 세팅 값 -> 사용자 지정 값으로 불러와야 함! */
			zoom : 10
		};

		var map = new naver.maps.Map('map', mapOptions);

		/* 지도 range */
		var mapRange = document.getElementById('mapRange');

		mapRange.addEventListener('input', function() {
			var kmValue = parseFloat(mapRange.value); // Get the selected value in kilometers
			var zoomLevel = convertKmToZoomLevel(kmValue); // Convert kilometers to zoom level
			map.setZoom(zoomLevel);
		});

		function convertKmToZoomLevel(km) {
			// Conversion formula, adjust as needed based on your map's behavior
			// This is just a simple example
			return Math.floor(14 - Math.log(km) / Math.LN2);
		}
	</script>
</div>

</html>