<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/townBuying}">

<div layout:fragment="townBuyContent">


	<!-- #################################################
	
	검색 & #태크 클릭시 보여질 페이지

	################################################# -->


	<!-- #################################################
	
	[ 수정 예정사항 ]
	

	----------------------------------------------------------

	[ 백엔드 영역 ]
	
	# 검색 | #태크 글릭 후 페이지 이동시 검색창에 선택한 검색어 #태그 보여주기

	# 검색결과 건수 보여주기


	################################################# -->



	<div class="container-fluid px-0">



		<div class="container mt-5">


			<div class="row mb-2 mb-lg-5 flex-wrap">

				<div class="col-12 col-lg-3 mb-lg-0 mb-3">
					<h1 class="text-center text-lg-left">검색결과</h1>
				</div>


				<div class="col-12 col-lg-9">

					<form action="" class="pie-search">
	
						<div class="dropdown" id="selectCategory">
							<a class="btn dropdown-toggle" href="#" role="button"
								data-toggle="dropdown" aria-expanded="false"> 카테고리 </a>
							<div class="dropdown-menu">
							
							
							
								<a class="dropdown-item" role="button">식품</a>
								<a class="dropdown-item" role="button">육아</a>
								<a class="dropdown-item" role="button">뷰티/패션</a>							
								<a class="dropdown-item" role="button">반려동물</a>
								<a class="dropdown-item" role="button">생활</a>
								<a class="dropdown-item" role="button">기타</a>									
							
							
							
							</div>
						</div>
						<input type="text" name="search" id="search" class="flex-fill">
						<button class=""></button>
					</form>

				</div>


			</div>



			<div class="row mb-5">






				<!-- 검색결과 카테고리로 색인 가능하도록 -->

				<!-- lg 이상 화면 -->
				<div
					class="col-12 col-lg-3 border-right text-center text-lg-left mb-5 mb-lg-0 d-none d-lg-block">


					<h3 class="mb-3">카테고리</h3>


					<ul class="list-unstyled">



						<a href="" class="text-dark h5"> <!-- 건수 불러오기 이하 동일-->
							<li class="mb-2">식품 (n건)</li>
						</a>


						<a href="" class="text-dark h5">
							<li class="mb-2">생필품 (n건)</li>
						</a>



						<a href="" class="text-dark h5">
							<li class="mb-2">아기용품 (n건)</li>
						</a>



						<a href="" class="text-dark h5">
							<li class="mb-2">의류 (n건)</li>
						</a>



						<a href="" class="text-dark h5">
							<li class="mb-2">화장품 (n건)</li>
						</a>

					</ul>



				</div>



				<!-- md 이하 화면 -->
				<div
					class="col-12 col-lg-3 border-bottom text-center text-lg-left mb-5 mb-lg-0 d-lg-none">


					<ul class="list-unstyled text-dark">

						<a href="" class="badge badge-pill badge-light p-2 m-1"> <!-- 건수 불러오기 이하 동일-->
							<li class="">식품 (n건)</li>
						</a>


						<a href="" class="badge badge-pill badge-light p-2 m-1">
							<li>생필품 (n건)</li>
						</a>



						<a href="" class="badge badge-pill badge-light p-2 m-1">
							<li>아기용품 (n건)</li>
						</a>



						<a href="" class="badge badge-pill badge-light p-2 m-1">
							<li>의류 (n건)</li>
						</a>



						<a href="" class="badge badge-pill badge-light p-2 m-1">
							<li>화장품 (n건)</li>
						</a>

					</ul>



				</div>



				<!-- 검색결과 보여질 페이지 -->
				<div class="col-12 col-lg-9 pl-4 pl-lg-5">


					<!-- 건수 불러오기 -->
					<h3 class="mb-3">n건이 검색됐어요!</h3>



					<div class="row">


						<div class="col-12 mb-2" th:each = "list:${list}">

							<div class="card">

								<div class="row">

									<div class="col-12 col-md-6">

										<img th:src="@{'/imgs/' + ${list.getTo_productImg()}}" alt="" class="img-fluid">

									</div>

									<div class="col-12 col-md-6">


										<div class="card-body">
											<h3 th:text="${list.getTo_title()}"></h3>
											<p class="" th:utext="${list.getTo_content()}">.</p>

											<a href="" class="btn btn-outline-dark">같이 사러가기 &raquo;</a>
										</div>


									</div>


								</div>


							</div>

						</div>



				</div>











			</div>





		</div>
		
	<script>
	
	// 선택한 카테고리 보여지게 하는 기능
    $(document).on('click', '.dropdown-menu .dropdown-item', function(){
        let selectedCategory = $(this).text();
        $(this).closest('.dropdown').find('.dropdown-toggle').text(selectedCategory);
    });		
		
	
	</script>
			
		
		
		
		
	</div>
	
	

</html>