@charset "UTF-8";

/*All height 100vh*/
.hyej-h100vh {
	height: 100vh;
}

/*캐로셀 관련 커스텀-Main*/
.hyej-carousel-custom {
	width: 150%;
	left: -24%;
	height: 200%;
}

.hyej-carousel-custom .owl-item{
	height: 150px;
	border-radius: 50px;
}

.hyej-carousel-custom .owl-item .item{
	width: 100%;
	height: 100%;
}


.hyej-best-gallery #bestMark {
	width: 100px;
	top: -40px;
	left: -30px;
	z-index: 99;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	transform: rotate(-30deg);
}

.hyej-custom-img-box>.hyej-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	cursor: pointer;
	color: white;
	opacity: 1;
	display: flex;
	flex-direction : column;
	justify-content : space-between;
	padding: 14px 20px;	
}

.hyej-custom-img-box>.hyej-cover>div>p{
	font-size: 0.8rem;
}

.hyej-custom-img-box:hover>.hyej-cover h3 {
	display: block;
}

/*캐로셀 이미지-Main*/
#headerCarousel .carousel-item:nth-of-type(1) {
	background: url("../imgs/carouselimg1.png") center/cover no-repeat;
}

#headerCarousel .carousel-item:nth-of-type(2) {
	background: url("../imgs/carouselimg2.png") center/cover no-repeat;
}

#headerCarousel .carousel-item:nth-of-type(3) {
	background: url("../imgs/carouselimg3.png") center/cover no-repeat;
}

/*가입약관*/
#joinTerms {
	height: 100px;
	overflow-y: scroll;
}

/*가입약관 스크롤바*/
#joinTerms::-webkit-scrollbar {
	width: 8px;
}

#joinTerms::-webkit-scrollbar-thumb {
	background-color: var(--darkgray);
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

#joinTerms::-webkit-scrollbar-track {
	background-color: var(--lightgray);
}

/*베스트 상품 갤러리 - proxyBuyContent*/
.hyej-best-gallery>[class*=col-] {
	position: relative;
}

.hyej-best-gallery .col-lg-6:not(:has(.hyej-customCard)) img {
	width: 100%;
	height: 120px;
	object-fit: cover;
	object-position: center;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	position: relative;
}

.hyej-best-gallery .col-md-12 img {
	height: 120px;
}

.hyej-customCard {
	height: 100%;
	width: 100%;
	/* 	border: 1px solid #000; */
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* .hyej-best-gallery .col-md-12:after, .hyej-best-gallery .col-md-6:nth-of-type(1):hover:after
	{
	content: "베스트 상품";
	padding: 20px;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: rgba(0, 0, 0, 0.5);
} */
.hyej-best-gallery .col-md-6:nth-of-type(1):hover:after {
	width: calc(100% - 30px);
	left: 15px;
}

/*대리구매 메인 갤러리 - proxyBuy메인*/
.hyej-info-gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.hyej-proxytitle {
	width: 100%;
	height: 30vh;
	max-height: 240px;
}

.hyej-info-gallery .col-lg-6 {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.hyej-info-gallery .col-lg-6:nth-of-type(1) a:has(.hyej-proxytitle) {
	display: block;
	background: url(../imgs/proxy_title1-01.png) center/cover no-repeat;
}

.hyej-info-gallery .col-lg-6:nth-of-type(2) a:has(.hyej-proxytitle) {
	display: block;
	background: url(../imgs/proxy_title2-01.png) center/cover no-repeat;
}

.hyej-proxytitle h2 {
	position: absolute;
	bottom: 20px;
	right: 40px;
	font-size: 2.3rem;
}

.hyej-info-gallery .col-6:nth-of-type(1) .hyej-proxytitle:hover .btn {
	color: var(--red);
	background: #fff;
}

.hyej-info-gallery .col-6:nth-of-type(2) .hyej-proxytitle:hover .btn {
	color: #f7941d;
	background: #fff;
}

#bestContent {
	height: 100px;
	overflow: hidden;
}

.hyej-text-truncate>p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.hyej-text-truncate2{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 40px;
}

.hyej-custom-town-naversearch-img{
	height: 200px;
	width: 100%;
	object-fit : cover;
	object-position : center;
}

#categoryBtns.hyej-customs-btnset {
	position: absolute;
	z-index: 9999;
	top: -50px;
	/*left: 50px*/;
	opacity: 0;
	transition: all 1s;
}

.hyej-haveMap:hover #categoryBtns.hyej-customs-btnset {
	top: 20px;
	left: 0px;
	opacity: 1;
}

.hyej-lists .card {
	height: 350px;
	overflow: hidden;
}

.hyej-lists .card-img-top {
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.hyej-lists .hyej-boardcategory {
	font-size: 0.7rem;
}

.hyej-lists .hyej-cardheader, .hyej-lists .hyej-cardcontent {
	background: rgba(256, 256, 256, 0.6);
	padding: 5px 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-shadow: 0 0 10px #fff;
	font-weight: bold;
}

.hyej-lists .hyej-cardcontent small {
	font-weight: bolder;
	font-size: 0.7rem;
}

.hyej-lists .owl-nav button.owl-prev {
	left: 5%;
}

.hyej-lists .owl-nav button.owl-next {
	right: 5%;
}

.card-columns .card {
	margin-bottom: .75rem
}

.accordion {
	overflow-anchor: none
}

#allCards {
	min-height: 200px;
}

#allCards .card {
	width: calc(( 100% - 20px)/2);
	float: left;
	margin: 5px;
}

#allCards .card .card-body {
	bottom: -100%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	padding: 0.75rem 1.25rem;
}

#allCards img {
	max-height: 400px;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.pie-radius-small {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.pie-close:after {
	content:
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='65' height='65' fill='white' class='bi bi-emoji-tear' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16'/%3E%3Cpath d='M6.831 11.43A3.1 3.1 0 0 1 8 11.196c.916 0 1.607.408 2.25.826.212.138.424-.069.282-.277-.564-.83-1.558-2.049-2.532-2.049-.53 0-1.066.361-1.536.824q.126.27.232.535.069.174.135.373ZM6 11.333C6 12.253 5.328 13 4.5 13S3 12.254 3 11.333c0-.706.882-2.29 1.294-2.99a.238.238 0 0 1 .412 0c.412.7 1.294 2.284 1.294 2.99M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5m-1.5-3A.5.5 0 0 1 10 3c1.162 0 2.35.584 2.947 1.776a.5.5 0 1 1-.894.448C11.649 4.416 10.838 4 10 4a.5.5 0 0 1-.5-.5M7 3.5a.5.5 0 0 0-.5-.5c-1.162 0-2.35.584-2.947 1.776a.5.5 0 1 0 .894.448C4.851 4.416 5.662 4 6.5 4a.5.5 0 0 0 .5-.5'/%3E%3C/svg%3E")
		"\A모집이 종료됐어요";
	white-space: pre;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #fff;
	text-align: center;
	background: rgba(0, 0, 0, 0.7);
	/* 세로 중앙 정렬을 위해 추가된 부분 */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hyej-customdropdown-forAll {
	right: 0;
	top: 300px;
}

.hyej-customdropdown-forAll .dropdown-item:hover,
	.hyej-customdropdown-forAll .dropdown-item:focus {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
}

.hyej-customdropdown-forAll .dropdown-item.active,
	.hyej-customdropdown-forAll .dropdown-item:active {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
}

.test {
	width: 500px;
	height: 500px;
	background: yellow;
}

#allCards .card:hover .card-body {
	bottom: 0;
	left: 0;
	background: rgba(256, 256, 256, 0.6);
}

#searchResult .card{
	height: 200px;
}

#searchResult .card .hyej-custom-towncard-img{
	height: 200px;
	object-fit : cover;
	object-position : center;
}

.hyej-cardsNow-img-custom{
	width: 100%;
	height: 250px;
	object-fit : cover;
	object-position : center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

@media ( min-width :576px) {
}

@media ( min-width :768px) {
	#allCards .card {
		width: calc(( 100% - 30px)/3);
	}

}

@media ( min-width : 1000px) {
	#allCards .card {
		width: calc(( 100% - 40px)/4);
	}
	
	.hyej-best-gallery .col-lg-6:not(:has(.hyej-customCard)) img {
	height: 200px;

}
	
}

@media screen and (max-width: 999px) {
	/*캐로셀 관련 커스텀-Main*/
	.hyej-carousel-custom {
		width: 100%;
		left: 15px;
		height: 500px;
	}
}