.hj-bo {
	border: 1px solid red;

}

/* img 속성 cover 적용 */

.hj-fit-cover {
	object-fit: cover;
}


.hj-radius-30 {
	border-radius: 30px;
}

.hj-radius-img-30 {
	border-radius: 30px 30px 0 0;
}

.hj-cardImg-left{

	top:0; left: 0;
	width: 100%;
	border-radius: 30px 0 0 30px;
}



/* footer style */


/* a 태그 호버시 적용될 스타일 */

.hj-footer-a:hover {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
}


/* 하단 span 태그 가상선택자 적용 */

#pie_info span:not(:last-child)::after{
	content: " |";
	margin: 0 2px;
}





/* ####################################

우리동네 공구 - 서브 1 -> 검색 / 카테고리 선택 페이지 css

####################################*/


/* 프리미엄 회원 공구 card 전체 height 값 */
.hj-sub1-card-h {
	height: 400px;
}


.hj-sub1-card-part-h {
	height: 60%;
}


.hj-sub-icon-size {
	font-size: 50px !important;
}




/* ####################################

제품 상세페이지 css

####################################*/


.hj-detail-img {
	width: 100%;
	height: 400px;
	object-fit: cover;
	object-position: center;
}




/* ####################################

글쓰기 버튼 - 배너 스타일

####################################*/

.hj-wirte-btn {
	background: url(../imgs/potato.jpg);
	
}



/* ####################################

채팅 페이지 css

####################################*/



/* 미디어 사이즈별 대화상자 이미지 css */


.hj-chat-img-lg {
	width: 100%;
	height: 100%;
}


.hj-chat-img {
	width: 60px;
	height: 60px;
	border-radius: 50%;

}



/* 채팅 목록 스크롤 보여주기 위한 css */

.hj-chat-scroll-y {
	overflow-y: scroll;
	height: 70vh;
}




.hj-chat-scroll-x {
	overflow-x: auto;
	width: 100vh;
}



.chating{
	height: 500px;
	overflow: auto;
	scroll-behavior: auto;
}
		
		
#yourMsg{
	display: none;
}


.chatBallon{
	max-width: 75%;
}
		
			
.roomContainer{
	height: 500px;
	overflow: auto;
}



.hj-chat-toast-position {
	position: absolute; top: 10px; right: 10px;
}
		
		
		
		