.hj-bo {
	border: 1px solid red;
}

/* img 속성 cover 적용 */
.hj-fit-cover {
	object-fit: cover;
}

.hj-radius-30 {
	border-radius: 30px !important;
}

.hj-radius-img-30 {
	border-radius: 30px 30px 0 0;
}

.hj-cardImg-left {
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 30px 0 0 30px;
}

/* footer style */

/* a 태그 호버시 적용될 스타일 */
.hj-footer-a:hover {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
}

.hj-chat-proImg {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.hj-chat-proImg-small {
	width: 30px;
	height: 30px;
	border-radius: 100%;
}

/* 하단 span 태그 가상선택자 적용 */
#pie_info span:not(:last-child)::after {
	content: " |";
	margin: 0 2px;
}

/* ####################################

우리동네 공구 - 서브 1 -> 검색 / 카테고리 선택 페이지 css

####################################*/

/* 프리미엄 회원 공구 card 전체 height 값 */
.hj-sub1-card-h-400 {
	height: 400px;
}

.hj-sub1-card-h-170 {
	height: 170px;
}

.hj-sub1-card-part-h {
	height: 60%;
}

.hj-sub-icon-size {
	font-size: 50px !important;
}

.hj-height-category {
	height: 50px;
}

.hj-position-category {
	bottom: 20px;
	right: 5px;
}

/* ####################################

제품 상세페이지 css

####################################*/
.hj-detail-img {
	width: 100%;
	height: 400px;
	object-fit: cover;
	object-position: center;
}

.hj-profile-img {
	object-fit: cover;
	object-position: center;
	width: 200px;
	height: 200px;
}

/* ####################################

글쓰기 버튼 - 배너 스타일

####################################*/

/* ####################################

채팅 페이지 css

####################################*/

/* 미디어 사이즈별 대화상자 이미지 css */
.hj-chat-img-lg {
	width: 100%;
	height: 100%;
}

.hj-chat-img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

/* 채팅 목록 스크롤 보여주기 위한 css */
.hj-chat-scroll-y {
	overflow-y: scroll;
	height: 70vh;
}


.hj-chat-scroll-x {
	overflow-x: auto;
	width: 100vh;
}




.chating {
	height: 500px;
	overflow: auto;
	scroll-behavior: auto;
}



.chating::-webkit-scrollbar-track
{
 border-radius: 10px;
 background-color: transparent;
}

.chating::-webkit-scrollbar
{
 width: 8px;
 background-color:transparent;
}

.chating::-webkit-scrollbar-thumb
{
 border-radius: 10px;
 background-color: #555;


}





#yourMsg {
	display: none;
}

.chatBallon {
	max-width: 75%;
}

.roomContainer {
	height: 500px;
	overflow: auto;
}

.hj-chat-toast-position {
	position: absolute;
	top: 10px;
	right: 10px;
}

.hj-text-truncate, .hj-text-truncate>p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 메인 동네공구 물품 호버시 애니메이션 */
/* .hj-main_town_hover {
	overflow: hidden;
	position: relative;
	transition: transform 1s ease;
	position: relative;
}
 */
.pie-town-tabs .owlCar .card {
	height: 200px;
}

.pie-town-tabs .hj-main_town_hover_text:nth-of-type(2) {
	top: 0;
	right: 0;
}

.pie-town-tabs .hj-main_town_hover_text:nth-of-type(3) {
	bottom: 0;
	left: 0;
	width: 100%;
}

.pie-town-tabs .owl-nav button.owl-prev {
	left: -3%;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.pie-town-tabs .owl-nav button.owl-next {
	right: -3%;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.pie-town-tabs:hover .owl-nav button.owl-prev {
	left: 3%;
	opacity: 1;
}

.pie-town-tabs:hover .owl-nav button.owl-next {
	right: 3%;
	opacity: 1;
}

.pie-town-tabs .hj-main-product-img {
	transition: transform 0.5s ease, opacity 0.5s ease;
}

.pie-town-tabs:hover>.hj-main-product-img {
	transform: scale(1.1);
	opacity: 0.2;
}

.pie-townCarousel-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(256, 256, 256, 0.6);
}

.hj-carousel-control-prev-icon, .hj-carousel-control-next-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: 50%/100% 100% no-repeat;
}

.hj-text-big {
	font-size: 50px;
}

.pie-town-tabs .card-columns {
	column-count: 1;
}

@media ( min-width :576px) {
	.pie-town-tabs .card-columns {
		column-count: 2;
	}
}

@media ( min-width :1000px) {
	.pie-town-tabs .card-columns {
		column-count: 3;
	}
}

.hj-max-w100 {
	max-width: 100% !important;
}

.hj-chat-padding {
	padding: 20px 25px;
}

.page-item.hj-active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #c0c0c0;
	border-color: #c0c0c0;
}

.hj-table-width {
	width: 50%;
	max-width: 10px;
}

.hj-card-process1 {
	left: 20px;
	top: 10px;
}

.hj-card-process2 {
	right: 35px;
	top: 10px;
}

.hj-card-process3 {
	right: 20px;
	top: 10px;
}

.hj-card-process4 {
	left: 30px;
	top: 10px;
}
.hj-toast-wd {
	width: 300px !important;
	bottom: 10px;
	left: 10px;
}

.hj-indicator-btn {
	width: 9px;
	height: 9px;
}
