#shareServiceTitle {
	height: 450px;
	transition: opacity 0.5s;
	position: relative;
	background : url(../imgs/potato.jpg) center / cover no-repeat;
}

#shareServiceTitle:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}
#shareServiceTitle div.col{
	z-index: 999;
		  text-shadow: 0px 0px 20px black;
}

.tab-box {
	max-width: 300px;
}

.writer {
	display: flex;
	justify-content: end;
	align-items: end;
}

.writer img {
	width: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-right: 10px;
}

.card-text .badge{
	margin-right: 7px;
}