<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{pieFragments/head::head}" />
<body>
	<!--<h1>Bootstrap 기본설정완료</h1>-->
	<div id="wrapper" class="container-fluid p-0">
		<header>
			<div th:replace="~{pieFragments/gnb::gnb}" />
		</header>

		<div th:replace="~{pieContents/main::mainPageCarousel}" />

		<main th:replace="~{pieContents/main::mainPageContents}" />

		<!-- ###############################################
				footer #footer - footer 영역
		############################################### -->

		<div th:replace="~{pieFragments/footer::footer}" />
	</div>

	<script>
		$('.owl-carousel').owlCarousel({
			loop : true,
			margin : 10,
			responsiveClass : true,
			responsive : {
				0 : {
					items : 3
				},
				576 : {
					items : 5
				},
				1000 : {
					items : 7
				}
			},
			nav : true
		})
	</script>

</body>
</html>