<!DOCTYPE html>
<html lang="en">
<head>


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

	<title>Document</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

	<link rel="stylesheet" href="css/staticStyle.css">
	<link rel="stylesheet" href="css/hyoStyle.css">


</head>
<body>



	<!-- #################################################

	카테고리 클릭시 이동 될 페이지

	################################################# -->

	
	<!-- #################################################
	
	[ 수정 예정사항 ]
	

	# 선택시 선택된 카테고리 active

	----------------------------------------------------------

	[ 백엔드 영역 ]

	
	# 6개 노출 후 더보기 버튼으로 추가 상품 보이는 로직으로 동일하게 감

	################################################# -->



	<div class="container-fluid px-0">




		
		<div class="container">
			
			<div class="row mt-5 mb-4">


				<div class="col-12">
					
					<h1 class="text-center">어떤 공구를 찾으세요?</h1>

				</div>


			</div>

		</div>


		<!-- 검색창 및 #태그 -->

		<div class="container mb-5">
					
				<form action="">


					<!-- 검색어 #태그 그대로 가지고 옴 -->
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					</div>

				</form>



				<div class="row">

					<div class="col text-center">
							

						<button type="button" class="btn btn-secondary m-1">#코스트코</button>
						<button type="button" class="btn btn-secondary m-1">#트레이더스</button>
						<button type="button" class="btn btn-secondary m-1">#이마트</button>
						<button type="button" class="btn btn-secondary m-1">#코스트코</button>
						<button type="button" class="btn btn-secondary m-1">#트레이더스</button>
						<button type="button" class="btn btn-secondary m-1">#이마트</button>

					</div>

				</div>


		</div> <!-- 검색창 및 #태그 -->



		<!-- 카테고리 -->
		<!-- 이미지 아닌 특수문자로 배치 예정 -->


		
			
		<div class="container mb-5">
			
			<div class="row">

				<div class="col-4 col-md-2 d-flex justify-content-center align-items-center">
					<a href="#" class="text-dark">
						<img src="imgs/category/ct_best.png" class="img-fluid mx-auto d-block w-50" alt="...">
						<p class="text-center">베스트</p>
					</a>
				</div>

				<div class="col-4 col-md-2 d-flex justify-content-center align-items-center">
					<a href="#" class="text-dark">
						<img src="imgs/category/ct_food.png" class="img-fluid mx-auto d-block w-50" alt="...">
						<p class="text-center">식품</p>
					</a>
				</div>

				<div class="col-4 col-md-2 d-flex justify-content-center align-items-center">
					<a href="#" class="text-dark">
						<img src="imgs/category/ct_winter.png" class="img-fluid mx-auto d-block w-50" alt="...">
						<p class="text-center">생필품</p>
					</a>
				</div>

				<div class="col-4 col-md-2 d-flex justify-content-center align-items-center">
					<a href="#" class="text-dark">
						<img src="imgs/category/ct_kids.png" class="img-fluid mx-auto d-block w-50" alt="...">
						<p class="text-center">아기용품</p>
					</a>
				</div>

				<div class="col-4 col-md-2 d-flex justify-content-center align-items-center">
					<a href="#" class="text-dark">
						<img src="imgs/category/ct_innerB.png" class="img-fluid mx-auto d-block w-50" alt="...">
						<p class="text-center">의류</p>
					</a>
				</div>

				<div class="col-4 col-md-2 d-flex justify-content-center align-items-center">
					<a href="#" class="text-dark">
						<img src="imgs/category/ct_cosme.png" class="img-fluid mx-auto d-block w-50" alt="...">
						<p class="text-center">화장품</p>
					</a>
				</div>


			</div>





		</div>







		<div class="container mb-5">



			<div class="row mb-5">



				<div class="card-columns">

					<div class="card m-2">
						<img src="imgs/product1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title that wraps to a new line</h5>
							<p class="card-text">This is a longer card with supporting
									text below as a natural lead-in to additional content. This
									content is a little bit longer.</p>

						    <div class="row">
							    	
						    	<!-- (n/n => 참여 사용자 수/글쓴이가 설정한 사용자수 ) -->
						    	<div class="col-6">현재 진행  (1/7)</div>
						    	<div class="col-6 text-right"><a href="#" class="">같이 사러가기 &raquo;</a></div>

						    </div>


						</div>
					</div>


					<div class="card m-2">
						<img src="imgs/product2.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This card has supporting text below as
									a natural lead-in to additional content.</p>

						    <div class="row">
							    	
						    	<div class="col-6">현재 진행  (1/7)</div>
						    	<div class="col-6 text-right"><a href="#" class="">같이 사러가기 &raquo;</a></div>

						    </div>
						</div>
					</div>
					<div class="card m-2">
						<img src="imgs/product3.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This card has supporting text below as
									a natural lead-in to additional content.</p>

						    <div class="row">
							    	
						    	<div class="col-6">현재 진행  (1/7)</div>
						    	<div class="col-6 text-right"><a href="#" class="">같이 사러가기 &raquo;</a></div>

						    </div>
						</div>
					</div>
					<div class="card m-2">
						<img src="imgs/product4.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This card has supporting text below as
									a natural lead-in to additional content.</p>

						    <div class="row">
							    	
						    	<div class="col-6">현재 진행  (1/7)</div>
						    	<div class="col-6 text-right"><a href="#" class="">같이 사러가기 &raquo;</a></div>

						    </div>
						</div>
					</div>
					<div class="card m-2">
						<img src="imgs/product5.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This card has supporting text below as
									a natural lead-in to additional content.</p>

						    <div class="row">
							    	
						    	<div class="col-6">현재 진행  (1/7)</div>
						    	<div class="col-6 text-right"><a href="#" class="">같이 사러가기 &raquo;</a></div>

						    </div>
						</div>
					</div>
					<div class="card m-2">
						<img src="imgs/product6.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This card has supporting text below as
									a natural lead-in to additional content.</p>

						    <div class="row">
							    	
						    	<div class="col-6">현재 진행  (1/7)</div>
						    	<div class="col-6 text-right"><a href="#" class="">같이 사러가기 &raquo;</a></div>

						    </div>
						</div>
					</div>
            
            
				</div>



				<!-- 초기 로드될 게시물 6개 / 백 작업시 게시글 갯수 6개 넘어갈 시 활성화 및 더보기 누르면 6개 더 보여주기 or 전체 보여주기 -->

				<div class="row mx-auto m-2 mt-5 w-100">
					<div class="col">
						<button class="btn btn-block border">
							<small>더보기</small>
						</button>
					</div>
				</div>



			</div>


		</div>




	</div>






	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>






</body>
</html>