<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="title" class="container-fluid p-0">
				<div class="row pie-title" id="admintitle">
					<div class="col p-0 d-flex justify-content-center align-items-center">
						<div class="text-center mt-5 pt-3 text-white">
							<h1 class="font-weight-bold">안녕하세요, 관리자님</h1>
							<p>
								<small>관리자 콘솔은 전체 게시글과 결제내역을 관리할 수 있습니다.</small><br /> <small>처리하실 때는 주의를 부탁드립니다.</small>
							</p>
						</div>
					</div>
				</div>
				<!--row-->
			</div>
</html>