<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- gnb fragment -->
<div th:fragment="footer">
	
	<footer class="pie-c-navy pie-bg-lightgray pt-5 pb-3">

		<div class="container p-0">


			<div class="row">


				<div class="col text-center text-sm-left">


					<h1 class="mb-4  px-5"><img src="imgs/logo_bw_C_black.png" alt="" class="pie-logo-footer"/></h1>


					<div id="pie_info" class="mb-3 px-5">

						<span>회사명 : (주) 파이</span><span>대표 : 김혜정</span><span>사업자등록번호
							: 123-456-78910</span> <span>주소 : 경기 수원시 팔달구 덕영대로 905 아이메카 7층</span> <span>E-MAIL
							: cs@pie.com</span> <span>개인정보관리책임자 : 김효정, 정지환</span>

					</div>

					<p class=" px-5">&copy;PIE Co., Ltd. All rights reserved</p>

				</div>

			</div>

		</div>

	</footer>
	
</div>
</html>